.Table {
    tr.Required {
        background-color: #f5f5f5;
        td:first-child:after {
            content: "*";
            color: red;
            font-weight: 700;
            margin-left: 0.15rem;
            font-size: 1.5em;
        }
    }
    border-collapse: collapse;

    th,
    td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        text-align: left;
    }
}
td.Default {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.89rem;
    letter-spacing: -0.025rem;
}
td.Type {
    @extend td.Default;
    color: #b26901;
}
