@import "../../sass/core/mixins-mt";
$pagination-thumb-gutter: 0.65rem;
$pagination-thumb-size-default: 2.143rem;

@mixin thumbSize($size) {
    width: $size;
    height: $size;
    line-height: $size;
}

ul.Pagination {
    // reset browser default css
    list-style: none;
    margin-block: {
        start: 0;
        end: 0;
    }
    padding-inline-start: 0;

    margin: 0 -$pagination-thumb-gutter/2;
    > li {
        display: inline-block;
        padding: 0 $pagination-thumb-gutter/2;
        > a {
            background-color: white;
            border: solid 1px #dfe3e9;
            border-radius: 50%;
            text-align: center;
            line-height: 0;
            font-weight: 500;
            display: block;
            user-select: none;
            cursor: pointer;
            &,
            &:hover,
            &:active,
            &:focus {
                outline: none;
            }
        }

        &.Active > a {
            background-color: $blue;
            color: white;
        }
        &.BreakMe > a {
            cursor: default;
            color: #ced0da;
        }
        &.Previous,
        &.Next {
            :global(.li) {
                color: $blue;
            }
            &:global(.disabled) :global(.li) {
                opacity: 0.3;
            }
        }
    }
}

// Sizing
ul.Pagination > li > a {
    @include thumbSize($pagination-thumb-size-default);
}
