@import "../../sass/core/mixins-mt";
$pagination-thumb-gutter: 0.65rem;
$pagination-thumb-size-default: 2.5716rem;

@mixin thumbSize($size) {
    width: $size;
    height: $size;
    line-height: $size;
}

.PaginationThumb {
    display: inline-block;
    background-color: white;
    border: solid 1px #dfe3e9;
    text-align: center;
    line-height: 0;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    &,
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
    &.Rounded {
        border-radius: 50%;
    }

    @include thumbSize($pagination-thumb-size-default);

    // styling icon inside
    :global(.li) {
        color: $blue;
    }
}
