.mt-select {
    .select2-container--default {
        .select2-selection__arrow.select2-selection__arrow {
            height: auto;
            width: auto;
            top: 11px;
            right: 10px;
            transition: all 0.15s ease-in-out;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            b {
                display: none;
            }
            &:before {
                content: "\e96c";
            }
        }
        .select2-selection--single {
            border-color: $blueberry-light-30;
            height: auto;
            &:hover,
            &:focus {
                border-color: $blue;
                outline: none;
            }
            .select2-selection__rendered {
                color: $main-text-color;
                line-height: 1.4em;
                padding-left: 15px;
                padding-right: 30px;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
        .select2-search--dropdown {
            .select2-search__field {
                &:focus,
                &:hover,
                &:active {
                    outline: none;
                    border-color: $blue;
                }
                border-color: $blueberry-light-30;
            }
        }
        .select2-results__option {
            border-top: 1px solid $blueberry-light-30;
            &[aria-selected] {
                background-color: $white;
                padding: 10px 15px;
            }
            &[aria-selected="true"] {
                color: $blue;
                background-color: $blueberry-light-60;
            }
        }
        .select2-results__option--highlighted[aria-selected] {
            background-color: lighten($blue-light-30, 10.59);
            color: $main-text-color;
            border-bottom: 1px solid $blueberry-light-30;
            &:active {
                color: $blue;
            }
        }
    }
    .select2-container--open {
        .select2-selection__arrow {
            @include transform(rotate(180deg));
        }
        .select2-dropdown--below {
            border: 1px solid $blueberry-light-30;
            border-top: 0;
        }
    }
}
