// You can custom number amp_col if you need
// $grid_columns            : 12; //12,16,24 ...
// Also you can edit padding between colums amp_col
$grid_gutter_width: 16px; // 15px, 30px ...

// ##### .amp_container { width: number_change; } #####
// You can custom all width container or only width option by change value variable $custom_container_max_widths. But you make sure set it before path url file 'include-amptype.scss';
// Custom only width container media xs, sm, md, lg
// $custom_container_max_widths: (
// 	xsml: 0px,
// 	xs: 481px,
// 	sm: 500px,
// 	md: 700px,
// 	lg: 1000px
// );

// Create width container for your website
@include create_container; // .mt-container
// @include create_container_fluid;  // .mt-container-fluid

@include create_container_options("all"); // default width

// @include create_container_options('xsml'); // >> width: 100% !default
// @include custom_container_width('xsml', 500px); // >> width: 100% !default

// @include create_container_options('xs'); // >> width: 100% !default
// @include custom_container_width('xs', 400px); // important more custom for variable
// @include create_container_options('sm'); // >> width: 720px !default
// @include custom_container_width('sm', 700px);
// @include create_container_options('md'); // >> width: 940px !default
// @include custom_container_width('md', 900px);
// @include create_container_options('lg'); // >> width: 1140px !default
// @include custom_container_width('lg', 1170px);

// ##### .amp_row #####
// You may also customize padding-left and padding-right for the column gutters.
// $custom_grid_gutter_width: (
// 	xsml: 16px,
// 	xs: 10px,
// 	sm: 16px,
// 	md: 16px,
// 	lg: 30px
// );

// You have to create default grid_gutter_breakpoint
@include create_row;

// If you don't like setting default. You can eidt grid_gutter_breakpoint all pages.
// You can change only grid_gutter_breakpoint follow every meida breakpoint form small to large
// @include custom_row_option('xsml', 10px); // >>= 0
// @include custom_row_option('xs', 20px);   // >>= 568
// @include custom_row_option('sm', 30px);   // >>= 768
// @include custom_row_option('md', 40px);   // >>= 992
// @include custom_row_option('lg', 60px);   // >>= 1200

// ##### .amp_*_* #####
// Create all option grid
@include create_grid("all");

// Extra all grid
// Columns, offsets for extra all devices
// Vertical smartphones.
// @include create_grid('mt-col-xsml');
// @include create_grid('mt-col-xs');
// @include create_grid('mt-col-sm');
// @include create_grid('mt-col-md');
// @include create_grid('mt-col-lg');
// You can change grid column for individual media.
// @include custom_grid('mt-col-xs', 3);

// Extra small grid
// Columns, offsets for the small device range, from phones
// to tablets, desktop device, large desktop
// Horizontal smartphones.
// @include create_grid('amp_xs');    // .amp_xs_*
// You can change grid column for individual media.
// @include custom_grid_options(amp_xs, 6);

// Small grid
// Columns, offsets for the small device range, from tablets
// to desktop device, large desktop
// @include create_grid('amp_sm');    // .amp_sm_*
// You can change grid column for individual media.
// @include custom_grid_options(amp_sm, 6);

// Medium grid
// Columns, offsets for the small from device
// to large desktop
// @include create_grid(amp_md);
// You can change grid column for individual media.
// @include custom_grid_options(amp_md, 6);

// Large grid
// Columns, offsets for the large desktop device range.
// @include create_grid(amp_lg);
