// ##### SIDEBAR #####
// You have to include create_sidebar. if you want to use amp_sidebar.
@include create_sidebar; // .amp_sidebar
// You can edit new name, If you don't like default name with .new_class_name, .new_id_name or [attribute]
// @include custom_sidebar('.new_name');

// You can use more options, one or many whenever you need.
@include create_sidebar_submenu;
@include create_sidebar_fixed;
@include create_sidebar_right;

// You have to include default size for .amp_sidebar
@include create_sidebar_size; // .amp_sidebar_size
// You can modify size if you don't like default size. But you make sure don't change default name .amp_sidebar_size
// @include custom_sidebar_size($name, $widths, $paddings, $font_sizes);
// Ex: @include custom_sidebar_size('.amp_sidebar_size', 220px, (10px 15px), 1rem);

// Or, you can create new option, new name with .new_class_name, .new_id_name or [attribute]
// @include custom_sidebar_size($name, $widths, $paddings, $font_sizes);
// Ex: @include custom_sidebar_size('.new_name', 220px, (10px 15px), 1rem);

// You have to include default style for .amp_sidebar or option default style
@include create_sidebar_style; // .amp_nav_style .amp_sidebar
// You can modify style if you don't like default style. But you make sure don't change default name .amp_nav_style
// @include custom_sidebar_style($name, $bg_sidebar, $bg_hover, $bg_active, $text_colors);
// Ex: custom_sidebar_style('.amp_sidebar_style', #fff, lighten(#ddd, 10%), lighten(#ddd, 10%), #4b4b4b);

// Or, you can create new option, new name with .new_class_name, .new_id_name or [attribute]
// @include custom_sidebar_style($name, $bg_sidebar, $bg_hover, $bg_active, $text_colors);
// Ex: custom_sidebar_style('.new_name', #fff, lighten(#ddd, 10%), lighten(#ddd, 10%), #4b4b4b);

// You can use default options, one or many whenever you need.
@include sidebar_style_option("all");
// Create every default option
// @include sidebar_style_option('default');
// @include sidebar_style_option('info');
// @include sidebar_style_option('success');
// @include sidebar_style_option('warning');
// @include sidebar_style_option('danger');
// @include sidebar_style_option('primary');
