.ReactPlayground {
    display: block;
}
.Preview {
    max-height: 70vh;
    overflow: scroll;
    :global(pre[class*="language-"]) {
        margin: 0 !important;
    }
}
.Player {
    composes: p-3 from global;
    background-color: lighten(#f2f6f9, 1%);
}

$hPlayerNav: 0.7rem;
$vPlayerNav: 0.4rem;
.PlayerNavigationBar {
    background-color: #d9e6f2;
    padding: $vPlayerNav $hPlayerNav;
}
.PlayerNavigationBarAddress {
    background-color: rgba(#fff, 0.45);
    border-radius: 4px;
    padding: $vPlayerNav $hPlayerNav;
}
