// Đưa vào widget
.irs {
    height: 40px;
    &-line {
        @include border-radius(2px);
        top: 10px;
        height: 4px;
        background: $blueberry-light-20;
        border: 0;
    }
    &-line-left {
        height: 4px;
    }
    &-line-mid {
        height: 4px;
    }
    &-line-right {
        height: 4px;
    }
    &-bar {
        top: 10px;
        height: 4px;
        background: $blue;
        border: 0;
    }
    &-slider {
        top: 4px;
        height: 16px;
        width: 16px;
        background: $white;
        border-color: $blueberry-light-20;
    }
    &-min,
    &-max {
        font-size: 14px;
        font-weight: bold;
        line-height: 1em;
        color: $main-text-color;
        top: 25px;
        background: transparent;
    }
}
