@import "../../sass/core/mixins";

// Base
::selection {
    background: $blueberry; /* WebKit/Blink Browsers */
    color: #fff;
}
::-moz-selection {
    background: $blueberry; /* Gecko Browsers */
    color: #fff;
}
html {
    font-size: 16px;
}
body {
    //font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    // background: #e9edf1;
    // background-color: $blueberry-light-40;
    background-color: $white;
    color: $blueberry;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.clearfix:after {
    clear: both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
