body {
    margin: 0;
    padding: 0;
}
html,
body,
:global(#___gatsby),
:global(#___gatsby) > div,
.App {
    height: 100%;
    width: 100%;
}
.App {
    display: flex;
}
.Sidebar,
.Content {
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
.Sidebar {
    flex: 0 0 250px;
    background: #ededed;
    padding-bottom: 3rem;
    h3 {
        display: inline-block;
        margin: 0;
        font-size: 1.25em;
        user-select: none;
    }
    ul {
        border: 0;
        font: inherit;
        font-size: 100%;
        margin: 0;
        padding: 0;
        > li {
            padding: 0 {
                left: 0.75rem;
            }
        }
        vertical-align: baseline;
    }
}
.SidebarItem {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-left: 3px solid transparent;
    a {
        border: none;
        color: #717171;
        display: block;
        font-size: 14px;
        padding: 6px 0 {
            left: 1rem;
        }
        transition: color 0.3s;
        text-decoration: none;
    }
    &Active {
        background-color: lighten(#eee, 4%);
        border-color: #008cc1;
    }
    &Active a {
        &,
        &:hover,
        &:focus {
            color: #008cc1;
        }
    }
}
.Content {
    //flex-shrink: 0;
    flex-grow: 1;
    min-width: 0;
    > div {
        padding: 0.75rem 1.25rem;
        > h1:first-child {
            //position: relative;
            //padding-left: 1.25rem;
            &:before {
                content: "# ";
                color: #008cc1;
            }
            //display: inline-block;
            padding-bottom: 0.67em;
            border-bottom: 1px solid #ededed;
        }
    }
    :global {
        // theme
        @import "~prismjs/themes/prism";

        // line-numbers
        @import "~prismjs/plugins/line-numbers/prism-line-numbers";

        pre[class*="language-"] {
            background: #f5f8fb;
            overflow: hidden;
        }

        pre.language-html {
            &,
            .code.language-html {
                white-space: pre-wrap;
            }
            margin-top: 0;
            margin-bottom: 0;
            //padding-top: 1.7rem;
            font-size: 0.84rem;
        }
        .example:not(.exampleViewCode) {
            border: 2px solid #e5e5e5;
            > .run {
                padding: 1.3rem {
                    top: 2.3rem;
                }
                border-bottom: 2px solid #e5e5e5;
                position: relative;
                &:before {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    content: "PREVIEW";
                    background: #e5e5e5;
                    color: #6d6d6d;
                    padding: 0 0.6rem {
                        bottom: 1px;
                    }
                    font-weight: 500;
                    font-size: 90%;
                }
            }
        }
        .md {
            display: flex;
            &__content {
                width: percentage(7/9);
            }
            &__toc {
                width: percentage(2/9);
                > ul {
                    padding: {
                        top: 1.3rem;
                        bottom: 1.3rem;
                    }
                    border-left: 1px solid #dbdbdb;
                }
            }
            @media only screen and(max-width: 1024px) {
                &__content {
                    width: percentage(2/3);
                }
                &__toc {
                    width: percentage(1/3);
                }
            }
            &__toc ul {
                margin-inline-start: 1rem;
                padding-inline-start: 1rem;
                margin: {
                    top: 0;
                    bottom: 0;
                }
                padding: {
                    top: 0.6rem;
                    bottom: 0.6rem;
                }

                li {
                    list-style-type: none;
                }
                a {
                    &,
                    &:hover,
                    &:active,
                    &:visited {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
            &__toc > ul {
                min-height: 40vh;
            }
        }
        table {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
        }
        blockquote {
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;

            padding: 0 2rem;
            background-color: lighten(#008cc1, 58%);
            border-left: 2px solid #008cc1;
            > {
                * {
                    display: inline-block;
                    margin-block-start: 0;
                    margin-block-end: 0.66rem;
                    &:first-child {
                        margin-block-start: 0.66rem;
                    }
                }
                ol {
                    padding-inline-start: 0;
                }
            }
        }
        .gatsby-highlight-code-line {
            background-color: #e1ecf6;
            display: block;
            margin-right: -1em;
            margin-left: -1em;
            padding-right: 1em;
            padding-left: 0.75em;
            border-left: 0.25em solid #00adef;

            .token.operator,
            .token.entity,
            .token.url,
            .language-css .token.string,
            .style .token.string {
                background: unset;
            }
        }
    }
}
