%extend_heading {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

//##### Typography #####
@mixin font_utilities($name) {
    @each $names, $values in (h1, $font_size_h1), (h2, $font_size_h2),
        (h3, $font_size_h3), (h4, $font_size_h4), (h5, $font_size_h5),
        (h6, $font_size_h6)
    {
        @if $name == $names {
            .#{$name},
            #{$name} {
                font-size: #{$values};
                @extend %extend_heading;
            }
        }
        @if $name == "all" {
            .#{$names},
            #{$names} {
                font-size: #{$values};
                @extend %extend_heading;
            }
        }
    }
}

// ##### Alignment #####
@mixin text_utilities($name) {
    @each $names, $properties in (left, "text-align"), (right, "text-align"),
        (center, "text-align"), (justify, "text-align"),
        (lowercase, "text-transform"), (uppercase, "text-transform"),
        (capitalize, "text-transform"), (nowrap, "white-space"),
        (bold, "font-weight"), (normal, "font-weight"), (italic, "font-style")
    {
        @if $name == $names {
            .mt-text-#{$name} {
                #{$properties}: #{$name};
            }
        }
        @if $name == "all" {
            .mt-text-#{$names} {
                #{$properties}: #{$names};
            }
        }
    }
}

// ##### Blockquote #####
@mixin custom_blockquote_name($name) {
    #{$name} {
        padding: 10px 20px;
        margin: 0 0 20px;
        font-size: 16px;
        border-left: 5px solid #eee;
    }
}

@mixin create_blockquote() {
    @include custom_blockquote_name(".amp_blockquote");
}
