.Box {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e9edf1;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);
}
.BoxHeader {
    padding: 15px;
    border-bottom: 1px solid #e9edf1;
}
.BoxHeaderTitle {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.25rem;
    small {
        display: block;
        margin-top: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: normal;
        color: #888;
        font-size: 72%;
    }
}
.BoxBody {
    padding: 15px;
}
.ColorBlock {
    padding: 10px;
    &:global([class*="-dark-"]),
    &:global(.mt-bg-blueberry) {
        color: white;
    }
}
.ColorName,
.ColorHex {
    font-size: 13.5px;
    padding: 2px 5px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    border-radius: 4px;
    user-select: all;
}
.ColorHex {
    font-size: 15px;
}
