.Overlay {
    transition-property: opacity;
    transition-duration: 375ms;
    transition-timing-function: ease-in-out;
    .Modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition-property: opacity, transform;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
    }
}
.entering,
.entered {
    &.Overlay {
        opacity: 1;
    }
    .Modal {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 125ms;
    }
}
.exiting,
.exited {
    &.Overlay {
        opacity: 0;
    }
    .Modal {
        opacity: 0;
        transform: translateY(-2rem);
    }
}
