// @import './core/mixinUIs';

// // @include bg_colors('all');
// // @include text_colors('all');
// // @include create_container_options ('all');

// ::selection {
//   background: $blueberry; /* WebKit/Blink Browsers */
//   color: #fff;
// }
// ::-moz-selection {
//   background: $blueberry; /* Gecko Browsers */
//   color: #fff;
// }
// html {
//     font-size: 16px;
// }
// body{
//     //font-size: 16px;
//     font-family: 'Roboto','linear-icon', sans-serif;
//     font-size: 14px;
//     line-height: 1.6em;
//     // background: #e9edf1;
//     // background-color: $blueberry-light-40;
//     background-color: $white;
//     color: $blueberry;
// }
// .sider-bar {
//     z-index: 2;
//     width: 300px;
//     background: white;
//     position: fixed;
//     height: 100vh;
//     left: 0;
//     top: 0;
//     border-right: 1px solid #e9edf1;
//     overflow: auto;
//     @include box-shadow(2px 0 20px rgba(0,0,0,0.05));
//     .brand {
//         padding: 30px;
//         user-select: none;
//         border-bottom: 1px solid #e9edf1;
//         img {
//             width: 50px;
//             padding-right: 5px;
//         }
//         &-logo {
//             display: inline-block;
//             padding: 15px;
//             color: $blue;
//             font-size: 24px;
//             font-weight: 300;
//             text-decoration: none;
//             @include border-radius (10px);
//             @include box-shadow(0px 2px 20px rgba(0,0,0,0.05));
//             @include transition(all 0.15s ease-in);
//             &:hover {
//                 @include box-shadow(0px 10px 20px rgba(0,0,0,0.1));
//             }
//         }
//     }
//     .nav {
//         border: none;
//         padding: 15px 0;
//         > li {
//             width: 100%;
//             position: relative;
//             user-select: none;
//             &:before {
//                 content: "";
//                 background-color: $blue;
//                 position: absolute;
//                 bottom: 0;
//                 left: 0;
//                 top: 50%;
//                 height: 0;
//                 width: 4px;
//                 @include opacity(0);
//                 @include box-shadow(5px 0px 20px $blue-light-10);
//                 @include transition(all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1));
//             }
//             > a {
//                 float: left;
//                 width: 100%;
//                 border-radius: 0;
//                 padding: 15px 30px;
//                 color: $blueberry-light-10;
//             }
//             &.active {
//                 margin: 0;
//                 font-weight: bold;
//                 &:before {
//                     top: 0;
//                     height: 100%;
//                     @include opacity(1);
//                 }
//                 > a {
//                     color: $blueberry;
//                 }
//             }
//             &,
//             &.active,
//             &.active:focus {
//                 &, > a {
//                     border: none;
//                     margin: 0;
//                 }
//             }
//             &.active,
//             &:hover, &.active:hover {
//                 > a {
//                     background: none;
//                     color: $blue-dark-10;
//                 }
//             }
//         }
//     }
//     .panel.panel-default {
//         box-shadow: none;
//         border-color: transparent;
//         .panel {
//             border: 0;
//         }
//         .panel-heading {
//             background-image: none;
//             background-color: $white;
//             border-top-left-radius: 0;
//             border-top-right-radius: 0;
//             a {
//                 display: block;
//             }
//         }
//         .panel-title {

//             &:hover {
//                 color: $blue-dark-10;
//             }
//             a{
//                 text-decoration: none;
//                 width: 100%;
//             }
//         }
//         .panel-body {
//             padding: 0;
//             border-top: 0;
//         }
//     }
// }
// // End slide bar

// .container {
//     width: 100%;
//     padding-left: 300px;
//     > .row {
//         margin-left: 0;
//     }
// }
// // sidebar and container responsive
// @media ( max-width: 1024px ) {
//     .sider-bar {
//         width: 150px;
//         .brand-name {
//             display: none;
//         }
//     }
//     .container {
//         padding-left: 150px;
//     }
// }

// .page {
//     &-header {
//         z-index: 1;
//         margin: 0;
//         padding: 40px 30px;
//         user-select: none;
//         border: none;
//         .title-sm {
//             margin: 0;
//             font-size: 24px;
//             font-weight: 300;
//             padding: 15px 25px;
//             display: inline-block;
//             background-color: white;
//             @include border-radius(100px);
//             @include box-shadow(0 2px 20px rgba(0,0,0,0.05));
//             &:before{
//                 content:"#";
//                 color: $blue;
//             }
//         }
//     }
//     &-body {
//         padding: 0px 30px 15px;
//     }
// }

// .section {
//     &-title {
//         // padding: 15px 15px;
//         margin: 30px 0;
//         font-weight: medium;
//         // background-color: white;
//         // border-bottom: 1px solid #e9edf1;
//         .sub-title {
//             font-size: 16px;
//             font-weight: 300;
//             margin: 10px 0 0;
//             line-height: 1.6em;
//         }
//     }
//     // li {
//     //     margin-bottom: 15px;
//     // }
// }

// // BOX
// .box {
//     margin-bottom: 20px;
//     background-color: #fff;
//     border: 1px solid #e9edf1;
//     @include border-radius(8px);
//     @include box-shadow(0 5px 20px rgba(0,0,0,0.03));
//     &-header {
//         padding: 20px 15px;
//         border-bottom: 1px solid #e9edf1;
//     }
//     h3 {
//         margin: 0;
//         padding: 0;
//         font-size: 20px;
//         font-weight: medium;
//         small {
//             display: block;
//             margin-top: 5px;
//             overflow: hidden;
//             white-space: nowrap;
//             text-overflow: ellipsis;
//         }

//     }
//     &-body {
//         padding: 15px;
//         //text-align: justify;
//     }
//     & + & {
//         margin-top: 30px;
//     }
// }

// // END BOX

// mark {
//     font-weight: 500;
// }
// code {
//     background-color: #e9edf1;
//     -webkit-touch-callout: all; /* iOS Safari */
//     -webkit-user-select: all; /* Safari */
//     -khtml-user-select: all; /* Konqueror HTML */
//     -moz-user-select: all; /* Firefox */
//     -ms-user-select: all; /* Internet Explorer/Edge */
//     user-select: all; /* Chrome and Opera */
//     &.block {
//         display: block;
//         margin: 10px 0;
//         padding: 10px;
//         border: 1px solid $blueberry-light-30;
//     }
// }

// //add margin text-color
// div[class*="mt-text-"] {
//     margin-top: 5px;
// }

// //color ui setup
// .color {
//     &-block {
//         padding: 10px;
//         &[class*="-dark-"], &.mt-bg-blueberry {
//             color: white;
//         }
//     }
//     &-hex {
//         text-transform: uppercase;
//     }
//     &-name, &-hex {
//         font-size: 14px;
//         padding: 2px 5px;
//         @include opacity(0.6);
//         @include border-radius(4px);
//         -webkit-touch-callout: all; /* iOS Safari */
//         -webkit-user-select: all; /* Safari */
//         -khtml-user-select: all; /* Konqueror HTML */
//         -moz-user-select: all; /* Firefox */
//         -ms-user-select: all; /* Internet Explorer/Edge */
//         user-select: all; /* Chrome and Opera */
//     }
// }

// //add margin between btn
// .mt-btn {
//     margin-top: 5px;
// }

// .amp {
//     &_pre_default {
//         border: 1px solid $blueberry-light-30;
//         @include border-radius(8px);
//     }
//     &_cm {
//         color: $blueberry-light-20;
//     }
//     &_vl {
//         font-style: italic;
//     }
// }
// pre {
//     border: none;
//     font-size: 14px;
//     background-color: initial;
// }
// ///////////////////////////////////////////////
// //Custom css Typography UI html
// .box h3.mt-h3 {
//     font-size: 1.75rem;
//     margin-bottom: 0.5rem;
// }

// ///////////////////////////////////////////////
// //Custom css Checkbox and Radio UI html
// .lb-checkbox-hover,.lb-radio-hover {
//     .li-checkmark{
//         border-color: $blue;
//     }
// }
// .lb-checkbox-disabled,.lb-radio-disabled {
//     color: $blueberry-light-20;
//     &:hover input ~ .li-checkmark {
//         border-color: $blueberry-light-20;
//     }
// }
// .lb-checkbox-dis-select,.lb-radio-dis-selected{
//     color: $blueberry-light-20;
//     input:checked ~ .li-checkmark {
//         background-color: $blueberry-light-20;
//         border-color: $blueberry-light-20;
//     }
//     &:hover input ~ .li-checkmark {
//         border-color: $blueberry-light-20;;
//     }
// }
// .mt-checkbox-radio {
//     color: $main-text-color;
//     font-weight: normal;
// }

// //////////////////////////////////////////////////
// //------------- UI Html Card style----------------
// .mt-card-hover {
//     @include box-shadow($dropshadow-lv6);
// }
// .card-size-ui-demo {
//     width: 50%;
// }

// ////////////////////////////////////////////////////////////////////
// // Style of UI html
// // Override css of bootstrap
// // .mt-dropdown {
// //     .mt-form-group{
// //         margin-bottom: 0;
// //     }
// //     //hover state
// //     .hover {
// //         background-color:lighten($blue-light-30, 10.59);
// //     }
// // }

// ////////////////////////////////////////////////////////////////////
// // Style of Dropdown UI html
// .block-doc-dropdown-ui-demo {
//     @include border-radius(4px);
//     background-color: #fff;
//     border: 1px solid $blueberry-light-20;
//     padding: 10px;
//     margin-bottom: 15px;
//     .box{
//         margin-bottom: 10px;
//     }
//     h4 {
//         margin-bottom: 5px;
//     }
//     .mt-select {
//         margin-bottom: 10px;
//     }
// }

// ////////////////////////////////////////
// //Modal style UI HTML
// .mt-modal {
//     p {
//         padding: 0;
//         margin: 0;
//     }
//     .mt-modal-btn-style {
//         margin-left: 10px;
//     }
// }
// .demo-lg-width-600px {
//     width: 600px !important;
// }
// .demo-lg-width-auto {
//     width: 300px !important;
// }
// .demo-md-modal-width-auto {
//     width: 300px !important;
// }
// .demo-modal-doc-margin {
//     margin-top: 15px;
// }

// /////////////////////////////////////////////////////////
// //----------------Image style--------------------
// .mt-img-responsive {
//   max-width: 100%;
//   max-height: 100%;
// }

// ////////////////////////////////////////////////////
// //Background color of grid demo
// .test-grid {
//     border: 1px solid $blue;
//     background-color: $blue-light-30;
//     height: 70px;
//     box-sizing: border-box;
// }
// .test-grid-nest {
//     border: 1px solid $blue;
//     background-color: $blue-light-30;
//     box-sizing: border-box;
//     padding-top: 10px;
//     padding-bottom: 25px;
// }

// // Reset p element style of typography
// .demo-typography-ui p {
//     margin-bottom: 0;
//     padding-bottom: 20px;
// }
