.Container {
    position: relative;
}
.Menu {
    z-index: 99999;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    contain: content;
    background: #fff;
    will-change: transform, box-shadow;
    transition: box-shadow 300ms step-end;
    //animation-duration: 300ms;
    animation-timing-function: step-end;
    transform-origin: top left;
}
.MenuContents {
    transform-origin: top left;
    will-change: transform;
    contain: content;
    //animation-duration: 300ms;
    animation-timing-function: step-end;
}
.Item {
    cursor: pointer;
}
.MenuActive {
    opacity: 1;
    pointer-events: auto;
}
.Expanded {
    //box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    animation-name: menuExpandAnimation;
    .MenuContents {
        animation-name: menuExpandContentsAnimation;
    }
}
.Collapsed {
    //box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
    animation-name: menuCollapseAnimation;
    .MenuContents {
        animation-name: menuCollapseContentsAnimation;
    }
}
.MenuEase {
    visibility: visible;
}
