@import "../../sass/core/mixins-mt";
$tags-gutter: (3rem / 14);

.TagsInput {
    composes: mt-form-control mt-size-md mt-input-style from global;
    &:global(.mt-size-md) {
        padding: $tags-gutter;
        height: auto;
    }
}
.TagsInput :global {
    .react-tagsinput {
        background-color: transparent;
        border: none;
        overflow: hidden;
        margin-bottom: -$tags-gutter;
    }

    .react-tagsinput--focused {
        border-color: #a5d24a;
    }

    .react-tagsinput-tag {
        border: solid 1px #d5dce6;
        background-color: #f1f4f8;
        display: inline-block;
        font-family: sans-serif;
        font-size: inherit;
        font-weight: 500;
        margin-bottom: $tags-gutter;
        margin-right: $tags-gutter;
        border-radius: ($border_radius_df * 3) / 4;
        vertical-align: top;
        padding: calc(0.31rem - 1px) 0.5rem;
    }

    .react-tagsinput-remove {
        cursor: pointer;
        //font-weight: bold;
        opacity: 0.5;
        font-size: 1.2em;
        line-height: 1em;
        display: inline-block;
        margin-left: 0.3rem;
    }

    .react-tagsinput-tag a::before {
        content: " ×";
    }

    .react-tagsinput-input {
        background: transparent;
        border: 0;
        color: #777;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 6px;
        margin-top: 1px;
        outline: none;
        padding: 5px;
        width: 80px;
    }
}
