.Container {
    position: relative;
    width: 100%;
}
.Wrapper {
    position: absolute;
    top: 0;
    left: 0;
    > div {
        float: left;
        width: 100%;
        img {
            width: 100%;
        }
    }
    > div:nth-child(n + 2) {
        display: none;
    }
}
.Container.Initialized {
    overflow: hidden;
    border-radius: 4px;
    .Wrapper {
        width: 10000vw;
        > div:nth-child(n + 2) {
            display: block;
        }
    }
}
%nextPrevButton {
    position: absolute;
    top: 50%;
}
.PrevButton {
    @extend %nextPrevButton;
    left: 1rem;
}
.NextButton {
    @extend %nextPrevButton;
    right: 1rem;
}
