// Remove chuyển thành listing mixin
//-------------Media Object---------------
.mt-media {
    @include border-radius(4px);
    &:hover {
        @include box-shadow($dropshadow-lv2);
    }
    &-left {
        display: table-cell;
        vertical-align: top;
        &-img {
            @include border-left-radius(4px);
            width: 100%;
        }
    }
    &-body {
        @include border-right-radius(4px);
        display: table-cell;
        vertical-align: top;
        background-color: $white;
        padding: 10px 15px;
        &-title {
            margin-bottom: 40px;
        }
        &-sub-title {
            margin-bottom: 10px;
        }
    }
}
