@mixin create_modal($modal-name) {
    .#{$modal-name} {
        @include border-radius(8px);
        @include box-shadow($dropshadow-lv6);
        position: relative;
        display: inline-block;
        background: $white;
        padding: 30px 35px;
        @media (max-width: $screen_phone_max) {
            //<768
            width: auto;
        }
        // reset css
        &:focus {
            outline: none;
        }
        &-bg & {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &-position-top {
                top: 1.7rem;
                transform: translateX(-50%);
            }
        }
        &-bg {
            position: fixed;
            z-index: 1300;
            right: 0px;
            bottom: 0px;
            top: 0px;
            left: 0px;
            & &-overlay {
                z-index: -1;
                position: fixed;
                right: 0px;
                bottom: 0px;
                top: 0px;
                left: 0px;
                background-color: rgba(0, 0, 0, 0.5);
                -webkit-tap-highlight-color: transparent;
                touch-action: none;
            }
        }
        &-header,
        &-body {
            margin-top: 10px;
        }
        &-footer {
            margin-top: 25px;
            float: right;
        }
        &-close-icon {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
        &-btn-style {
            margin-left: 10px;
        }
    }
}

@mixin custom_modal_size($name, $min-width-md, $min-width-lg) {
    @if $name == "mt-modal-lg" {
        .#{$name} {
            @media (min-width: $min-width-md) {
                width: 600px;
            }
            @media (min-width: $min-width-lg) {
                width: 900px;
            }
        }
    }
    @if $name == "mt-modal-md" {
        .#{$name} {
            @media (min-width: $min-width-md) {
                width: 600px;
            }
        }
    }
    @if $name == "mt-modal-xs" {
        .#{$name} {
            width: 300px;
        }
    }
}

@mixin create_modal_option($name) {
    @each $names, $min-width-md,
        $min-width-lg in ("mt-modal-lg", $screen_tablet, $screen_desktop),
        ("mt-modal-md", $screen_tablet, ""), ("mt-modal-xs", "", "")
    {
        @if $name == $names {
            @include custom_modal_size($names, $min-width-md, $min-width-lg);
        }
        @if $name == "all" {
            @include custom_modal_size($names, $min-width-md, $min-width-lg);
        }
    }
}
