// ##### NAVS #####
// Custom name mt-nav
@mixin custom_nav_name($name) {
    #{$name} {
        margin: 0;
        padding: 0;
        font-size: 0;
        list-style-type: none;
    }
    .mt-nav-link {
        font-family: inherit;
        font-weight: normal;
        text-decoration: none;
        white-space: nowrap;
        display: block;
        outline: none;
        line-height: $line-height-df;
        @include transition(all 0.5s);
    }
}
// Create default nav name
@mixin create_nav() {
    @include custom_nav_name(".mt-nav");
}

// ##### mt-NAV_STYLE #####
// Extend style
@mixin custom_nav_style(
    $name,
    $bg_colors,
    $bg_color_hovers,
    $bg_color_actives,
    $text_colors
) {
    #{$name} {
        .mt-nav-link {
            color: $text_colors;
            background-color: $bg_colors;

            &:hover,
            &:focus,
            &:active {
                @if $bg_color_hovers != transparent {
                    $text_colors: #fff; // It is have background, item change color #fff
                }
                text-decoration: none;
                color: lighten($text_colors, 12%);
                background-color: darken($bg_color_hovers, 10%);
            }

            &.active {
                @if $bg_color_actives != transparent {
                    $text_colors: #fff; // It is have background, item change color #fff
                }
                color: lighten($text_colors, 12%);
                background-color: darken($bg_color_actives, 12%);
            }

            &.disabled {
                background-color: $bg_colors;
                color: lighten($text_color, 20%);
            }
        }
    }
}
// Create default nav style
@mixin create_nav_style() {
    @include custom_nav_style(
        ".mt-nav-style",
        transparent,
        transparent,
        transparent,
        $blue
    );
}

// ##### mt-NAV_OPTIONS #####
// Create options default
@mixin nav_style_option($name) {
    @each $names, $bg_colors, $bg_color_hovers, $bg_color_actives,
        $text_colors in ("blue", #f5f7f7, $blue, $blue, $blue),
        ("red", #f5f7f7, $red, $red, $red),
        ("green", #f5f7f7, $green, $green, $green),
        ("orange", #f5f6f7, $orange, $orange, $orange),
        ("pink", #f5f6f7, $pink, $pink, $pink),
        ("blueberry", #f5f6f7, $blueberry, $blueberry, $blueberry)
    {
        @if $names == $name {
            @include custom_nav_style(
                ".mt-nav-#{$name}",
                $bg_colors,
                $bg_color_hovers,
                $bg_color_actives,
                $text_colors
            );
        }
        @if $name == "all" {
            @include custom_nav_style(
                ".mt-nav-#{$names}",
                $bg_colors,
                $bg_color_hovers,
                $bg_color_actives,
                $text_colors
            );
        }
    }
}

// ##### NAV_SIZE #####
// Custom nav size
@mixin custom_nav_size($name, $font_sizes, $paddings, $border_radius) {
    #{$name} {
        .mt-nav-link {
            font-size: $font_sizes;
            padding: $paddings;
            @include border-radius($border_radius);
        }
    }
}
// Create nav size
@mixin create_nav_size() {
    @include custom_nav_size(
        ".mt-nav-size",
        16 * $rem,
        ($padding_df_vertical $padding_df_horizontal),
        4px
    );
}

// ##### mt-NAV_INLINE #####
// Custom name mt-nav_inline
@mixin custom_nav_inline($name) {
    #{$name} {
        .mt-nav-item {
            display: inline-block;
            margin-left: 2px;
        }
    }
}
// Create name default mt-nav-inline
@mixin create_nav_inline() {
    @include custom_nav_inline(".mt-nav-inline");
}

@mixin custom_nav_position_option($name) {
    @each $names, $text-align in ("right", right), ("center", center) {
        @if $name == $names {
            .mt-nav-#{$names} {
                text-align: $text-align;
            }
        }
    }
}
// Custom name mt-navjustified
@mixin custom_nav_justified($name) {
    #{$name} {
        .mt-nav-item {
            display: table-cell;
            width: 1%;
        }
    }
}
// Create name default mt-nav-justified
@mixin create_nav_justified() {
    @include custom_nav_justified(".mt-nav-justified");
}

// ##### mt-NAV_CENTER #####
// Custom name mt-nav_center
// @mixin custom_nav_center($name) {
//     #{$name} {
//         text-align: center;
//     }
// }
// // Create name default mt-nav_center
// @mixin create_nav_center() {
//     @include custom_nav_center('.mt-nav-center');
// }

// // ##### mt-NAV_RIGHT #####
// // Custom name mt-nav-right
// @mixin custom_nav_right($name) {
//     #{$name} {
//         text-align: right;
//     }
// }
// // Create name default mt-nav-right
// @mixin create_nav_right() {
//     @include custom_nav_right('.mt-nav-right');
// }

// ##### mt-NAV_FILL #####
// Custom name mt-nav-fill
// @mixin custom_nav_pill($name) {
//     #{$name} {
//         display: table;
//         .mt-nav-item {
//             text-align: center;
//             display: table-cell;
//         }
//     }
// }
// // Create name default mt-nav_fill
// @mixin create_nav_pill() {
//     @include custom_nav_pill('.mt-nav-pill');
// }
