// ##### Alerts style #####
// Alert all size
@mixin extend_alert() {
    width: 100%;
    position: relative;
    display: inline-block;
    &-close {
        padding: 0;
        float: right;
        border: none;
        background: none;
        cursor: pointer; //new
        @include opacity(0.5);
        &:hover {
            @include opacity(0.75);
        }
        & + .amp_alert_content {
            text-align: justify;
        }
    }
    &-link,
    &-close {
        color: inherit;
    }
}
// Create default name
@mixin create_alert() {
    $name: "mt-alert";
    .#{$name} {
        @include extend_alert;
    }
    @include custom_alert_size(
        $name,
        $padding_df,
        $padding_df,
        14 * $rem,
        4 * $rem,
        15px
    );
}
// Custom name default
@mixin custom_alert_name($name) {
    #{$name} {
        @include extend_alert;
    }
    @include custom_alert_size(
        $name,
        $padding_df,
        $padding_df,
        14 * $rem,
        4 * $rem,
        15px
    );
}

// Setup alert size
@mixin custom_alert_size(
    $name_size,
    $padding_verticals,
    $padding_horizontals,
    $font_sizes,
    $border_radius,
    $margins
) {
    @if $name_size == "mt-alert" {
        .#{$name_size} {
            padding: $padding_verticals $padding_horizontals;
            @include border-radius($border_radius);
            line-height: $font_sizes * 1.5;
            font-size: $font_sizes;
            margin-bottom: $margins;
            &-close {
                //font-size: $font_sizes + 8*$rem;
                font-size: 16 * $rem; //new
                font-weight: bold; // new
                line-height: $font_sizes * 1.3;
                & + .#{$name_size}-content {
                    padding-right: $padding-lg;
                }
            }
            & > i:first-child {
                //new
                padding-right: 10 * $rem;
                font-size: 16 * $rem;
            }
        }
    }
    @if $name_size != "mt-alert" {
        #{$name_size} {
            padding: $padding_verticals $padding_horizontals;
            @include border-radius($border_radius);
            line-height: $font_sizes * 1.5;
            font-size: $font_sizes;
            margin-bottom: $margins;
            .mt-alert-close {
                font-weight: bold; //new
                font-size: 16 * $rem; //new
                // font-size: $font_sizes + 8*$rem;
                line-height: $font_sizes * 1.3;
                & + .mt-alert-content {
                    padding-right: $padding-lg;
                }
            }
        }
    }
}

// Extend style
// @mixin extend_alert_style($colors, $mix_colors) {
// 	color: darken($colors, 10%);
// 	background-color: lighten($colors, $mix_colors);
// 	border: 1px solid lighten($colors, ($mix_colors - 10%));
// }
@mixin extend_alert_style($colors) {
    color: $white;
    background-color: $colors;
    border: 1px solid $colors;
}
// Setup alert style
// @mixin create_alert_style($name_style) {
// 	@each $names, $colors, $mix_colors in
// 	(success, $green, 11%),
// 	(info, $blue, 50%),
// 	(warning, $orange, 30%),
// 	(danger, $red, 30%) {
// 		@if $names == $name_style {
// 			.mt-alert-#{$name_style} {
// 				@include extend_alert_style($colors, $mix_colors);
// 			}
// 		}
// 		@if $name_style == 'all' {
// 			.mt-alert-#{$names} {
// 				@include extend_alert_style($colors, $mix_colors);
// 			}
// 		}
// 	}
// }

@mixin create_alert_style($name_style) {
    @each $names, $colors in (success, $green), (info, $blue),
        (warning, $orange), (danger, $red)
    {
        @if $names == $name_style {
            .mt-alert-#{$name_style} {
                @include extend_alert_style($colors);
            }
        }
        @if $name_style == "all" {
            .mt-alert-#{$names} {
                @include extend_alert_style($colors);
            }
        }
    }
}
// Custom alert style
@mixin custom_alert_style($name_style, $colors, $mix_colors) {
    #{$name_style} {
        @include extend_alert_style($colors, $mix_colors);
    }
}
// ##### END Alerts style #####

// ##### Notify #####
@mixin extend_notify() {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    @include box-shadow(0 0 15 * $rem rgba(0, 0, 0, 0.25));
    &_close {
        padding: 0;
        float: right;
        border: none;
        background: none;
        @include opacity(0.5);
        font-weight: 300;
        position: relative;
        &:hover {
            @include opacity(0.75);
        }
    }
    &_link,
    &_close {
        color: inherit;
    }
    .amp_btn {
        margin: 5 * $rem;
        &_outline {
            background: #fff;
        }
    }
}
// Create default notify
@mixin create_notify() {
    $name: "amp_notify";
    .#{$name} {
        @include extend_notify;
    }
    @include custom_notify_size($name, $padding_df, $padding_df, 14 * $rem);
}
// Custom name notify
@mixin custom_notify_name($name) {
    #{$name} {
        @include extend_notify;
    }
    @include custom_notify_size($name, $padding_df, $padding_df, 14 * $rem);
}

// Setup notify size
@mixin custom_notify_size(
    $name,
    $padding_vertical,
    $padding_horizontal,
    $font_size
) {
    @if $name == "amp_notify" {
        .#{$name} {
            font-size: $font_size;
            line-height: $font_size * 1.5;
            padding: $padding_vertical $padding_horizontal;
            &_close {
                font-size: $font_size * 2.5;
                line-height: $font_size;
                right: (-$padding_horizontal/2);
                & + .#{$name}_content {
                    padding: 0 $padding_horizontal * 1.3;
                }
            }
        }
    }
    @if $name != "amp_notify" {
        #{$name} {
            font-size: $font_size;
            line-height: $font_size * 1.5;
            padding: $padding_vertical $padding_horizontal;
            .amp_notify_close {
                font-size: $font_size * 2.5;
                line-height: $font_size;
                right: (-$padding_horizontal/2);
                & + .amp_notify_content {
                    padding: 0 $padding_horizontal * 1.3;
                }
            }
        }
    }
}

// ##### Style Position #####
// Setup alert style
@mixin create_notify_style($name) {
    @each $names, $colors, $text_colors in (success, $green, 50%),
        (info, $blue, 50%), (warning, $orange, 30%), (danger, $red, 30%)
    {
        @if $names == $name {
            .amp_notify_#{$name} {
                color: $text_colors;
                background-color: $colors;
            }
        }
        @if $name == "all" {
            .amp_notify_#{$names} {
                color: $text_colors;
                background-color: $colors;
            }
        }
    }
}
// Custom style notify
@mixin custom_notify_style($name, $colors, $text_colors) {
    #{$name} {
        color: $text_colors;
        background-color: $colors;
    }
}
// ##### END Notify #####

// ##### Notify Fixed #####
// Setup notify fixed
@mixin create_notify_fixed($name) {
    @each $names, $tops, $rights, $bottoms, $lefts,
        $widths in (top, 0, 0, auto, 0, 100%), (bottom, auto, 0, 0, 0, 100%),
        (top_left, 0, auto, auto, 0, 320 * $rem),
        (top_right, 0, 0, auto, auto, 320 * $rem),
        (bottom_left, auto, auto, 0, 0, 320 * $rem),
        (bottom_right, auto, 0, 0, auto, 320 * $rem)
    {
        @if $names == $name {
            .amp_notify_#{$name} {
                top: $tops;
                right: $rights;
                bottom: $bottoms;
                left: $lefts;
                width: $widths;
            }
        }
        @if $name == "all" {
            .amp_notify_#{$names} {
                top: $tops;
                right: $rights;
                bottom: $bottoms;
                left: $lefts;
                width: $widths;
            }
        }
    }
}
// Custom notify fixed
@mixin custom_notify_fixed($name, $widths) {
    #{$name} {
        width: $widths;
        @if $name == ".amp_notify_bottom" {
            margin: 0 auto;
        }
        @if $name == ".amp_notify_top" {
            margin: 0 auto;
        }
    }
}
// ##### End Fixed notify #####
