@mixin custom_list_name($name) {
    #{$name} {
        &-left {
            display: table-cell;
            vertical-align: top;
            .mt-list-img {
                @include border-radius(4px);
                width: 100%;
            }
        }
        &-body {
            display: table-cell;
            vertical-align: top;
        }
        &-img-vt {
            @include border-radius(4px);
            width: 100%;
            height: auto;
        }
    }
}
@mixin create_list_name {
    @include custom_list_name(".mt-list");
}

@mixin custom_list_size($name, $padding, $margins) {
    .mt-list-#{$name} {
        .mt-list {
            &-body {
                padding: $padding;
                &-title {
                    margin-bottom: $margins;
                }
                &-sub-title {
                    margin-bottom: $margins;
                }
            }
        }
    }
}
@mixin create_list_size {
    @include custom_list_size("default", $padding_df, $padding_df);
}
@mixin create_list_size_option($name) {
    @each $names, $paddings, $margins in ("default", $padding_df, $padding_df),
        ("lg", $padding_lg, $padding_lg) ("sm", $padding_sm, $padding_sm)
    {
        @if $name == $names {
            @include custom_list_size($names, $paddings, $margins);
        }
        @if $name == "all" {
            @include custom_list_size($names, $paddings, $margins);
        }
    }
}

@mixin custom_list_style($names, $colors, $bg-colors) {
    .mt-list-#{$names} {
        .mt-list-left,
        .mt-list-body {
            background-color: $bg-colors;
            color: $colors;
        }
    }
}
@mixin create_list_style {
    @include custom_list_style("style", none, none);
}
@mixin create_list_option($name) {
    @each $names, $colors,
        $bg-colors in ("green", $green, $green) ("blue", $blue, $blue)
    {
        @if $name == $names {
            @include custom_list_style($names, $colors, $bg-colors);
        }
        @if $name == "all" {
            @include custom_list_style($names, $colors, $bg-colors);
        }
    }
}
