// ##### Labels Css #####
// Extend label
@mixin custom_label_name($name) {
    #{$name} {
        font-weight: bold;
        // line-height: $rem;
        line-height: 1; //new
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
    }
}
// Create label default name
@mixin create_label() {
    @include custom_label_name(".mt-label");
}

// ##### Labels SIZE #####
// Custom lable size
@mixin custom_label_size($name, $font_sizes, $paddings, $border_radius) {
    #{$name} {
        font-size: $font_sizes;
        padding: $paddings;
        @include border-radius($border_radius);
        // line-height: $line-height;
    }
}
// Create label default size
@mixin create_label_size() {
    // @include custom_label_size('.amp_label_size', 12*$rem, $padding_sm, $border_radius_xs);
    @include custom_label_size(
        ".mt-label-size",
        0.75em,
        (0.3em 0.6em 0.2em),
        0.25em
    );
}

// ##### Labels STYLE #####
// Extend lable style
@mixin custom_label_style($name, $bg_colors, $text_colors) {
    #{$name} {
        background: $bg_colors;
        color: $text_colors;
    }
}
// Create lable style option
@mixin label_style_option($name) {
    @each $names, $text_colors, $bg_colors in ("green", $text_color, $green),
        ("blue", #fff, $blue), ("red", #fff, $red),
        ("blueberry", #fff, $blueberry), ("orange", #fff, $orange),
        ("gray", $sub-text-color, $blueberry-light-30),
        ("gray-dark", #fff, $blueberry-light-20)
    {
        @if $name == $names {
            @include custom_label_style(
                ".mt-label-#{$name}",
                $bg_colors,
                $text_colors
            );
        }
        @if $name == "all" {
            @include custom_label_style(
                ".mt-label-#{$names}",
                $bg_colors,
                $text_colors
            );
        }
    }
}
// create lable style
// @mixin create_label_style() {
// 	@include custom_label_style('.amp_label_style', $text_color, $default);
// }

// Create label rounded option
// @mixin lable_rounded() {
// 	.mt-label-rounded {
// 		@include border-radius(50*$rem);
// 	}
// }
// @mixin custom_lable_rounded($name, $rounded) {
// 	#{$name} {
// 		@include border-radius($rounded);
// 	}
// }
//
