// ##### Create box #####
// Custom type element
@mixin custom_box_name($name) {
    #{$name} {
        background-color: #fff;
        border: 1px solid;
    }
    .mt-box {
        &-head {
            border-bottom: 1px solid;
        }
        &-head,
        &-body,
        &-footer {
            width: 100%;
            display: inline-block;
        }
        &-footer {
            border-top: 1px solid;
        }
    }
}
// Create default type element
@mixin create_box() {
    @include custom_box_name(".mt-box");
}

// ##### Create box size #####
// Extend box_size
@mixin custom_box_size($name, $paddings, $margin_bottoms, $border_radius) {
    #{$name} {
        margin-bottom: $margin_bottoms;
        @include border-radius($border_radius);
        .mt-box-head,
        .mt-box-body,
        .mt-box-footer {
            padding: $paddings;
        }
    }
}
// Create default size element
@mixin create_box_size() {
    @include custom_box_size(
        ".mt-box-size",
        10 * $rem,
        20 * $rem,
        $border_radius_df
    );
}

// ##### Create box style #####
// Custom style box
@mixin custom_box_style($name, $border-colors, $text-colors) {
    #{$name} {
        border-color: $border-colors;
        .mt-box-head {
            color: $text-colors;
            border-bottom-color: $border-colors;
            background-color: $border-colors;
        }
        .mt-box-footer {
            border-top-color: $border-colors;
        }
    }
}
// Create stype
@mixin create_box_style() {
    @include custom_box_style(
        ".mt-box-style",
        $blueberry-light-30,
        $main-text-color
    );
}

// Create stype options
@mixin box_style_option($name) {
    @each $names, $colors, $main-text-colors in (default, #fff, $text_color) {
        @if $name == $names {
            @include custom_box_style(
                ".mt-box-#{$name}",
                $colors,
                $main-text-colors
            );
        }
        @if $name == "all" {
            @include custom_box_style(
                ".mt-box-#{$names}",
                $colors,
                $main-text-colors
            );
        }
    }
}
