// ##### Alerts style #####
// Alert all size
@mixin extend_alert() {
    width: 100%;
    position: relative;
    display: inline-block;
    &-close {
        padding: 0;
        float: right;
        border: none;
        background: none;
        cursor: pointer; //new
        @include opacity(0.5);
        &:hover {
            @include opacity(0.75);
        }
        & + .mt-alert-content {
            text-align: justify;
        }
    }
    &-icon,
    &-link,
    &-close {
        color: inherit;
    }
}
// Create default name
@mixin create_alert() {
    $name: "mt-alert";
    .#{$name} {
        @include extend_alert;
    }
    @include custom_alert_size(
        $name,
        $padding_df,
        $padding_df,
        14 * $rem,
        4 * $rem,
        15px
    );
}
// Custom name default
@mixin custom_alert_name($name) {
    #{$name} {
        @include extend_alert;
    }
    @include custom_alert_size(
        $name,
        $padding_df,
        $padding_df,
        14 * $rem,
        4 * $rem,
        15px
    );
}

// Setup alert size
@mixin custom_alert_size(
    $name_size,
    $padding_verticals,
    $padding_horizontals,
    $font_sizes,
    $border_radius,
    $margins
) {
    @if $name_size == "mt-alert" {
        .#{$name_size} {
            padding: $padding_verticals $padding_horizontals;
            @include border-radius($border_radius);
            line-height: $font_sizes * 1.5;
            font-size: $font_sizes;
            margin-bottom: $margins;
            &-close {
                //font-size: $font_sizes + 8*$rem;
                // font-size: 16*$rem; //new
                // font-weight: bold;// new
                font-size: $font_sizes + 8 * $rem;
                line-height: $font_sizes * 1.3;
                & + .#{$name_size}-content {
                    padding-right: $padding-lg;
                }
            }
            &-with-icon i.li {
                display: inline-block;
                margin-right: $padding_verticals * (1/1.3);
                font-size: 1.6em;
                line-height: 1em;
                vertical-align: sub;
                margin: {
                    top: -0.3rem;
                    bottom: -0.3rem;
                }
            }
        }
    }
    @if $name_size != "mt-alert" {
        #{$name_size} {
            padding: $padding_verticals $padding_horizontals;
            @include border-radius($border_radius);
            line-height: $font_sizes * 1.5;
            font-size: $font_sizes;
            margin-bottom: $margins;
            .mt-alert-close {
                // font-weight: bold;//new
                // font-size: 16*$rem;//new
                font-size: $font_sizes + 8 * $rem;
                line-height: $font_sizes * 1.3;
                & + .mt-alert-content {
                    padding-right: $padding-lg;
                }
            }
        }
    }
}

// Extend style
// @mixin extend_alert_style($colors, $mix_colors) {
// 	color: darken($colors, 10%);
// 	background-color: lighten($colors, $mix_colors);
// 	border: 1px solid lighten($colors, ($mix_colors - 10%));
// }
@mixin extend_alert_style($colors) {
    color: $white;
    background-color: $colors;
    border: 1px solid $colors;
}
// Setup alert style
// @mixin create_alert_style($name_style) {
// 	@each $names, $colors, $mix_colors in
// 	(success, $green, 11%),
// 	(info, $blue, 50%),
// 	(warning, $orange, 30%),
// 	(danger, $red, 30%) {
// 		@if $names == $name_style {
// 			.mt-alert-#{$name_style} {
// 				@include extend_alert_style($colors, $mix_colors);
// 			}
// 		}
// 		@if $name_style == 'all' {
// 			.mt-alert-#{$names} {
// 				@include extend_alert_style($colors, $mix_colors);
// 			}
// 		}
// 	}
// }

@mixin create_alert_style($name_style) {
    @each $names, $colors in (success, $green), (info, $blue),
        (warning, $orange), (danger, $red)
    {
        @if $names == $name_style {
            .mt-alert-#{$name_style} {
                @include extend_alert_style($colors);
            }
        }
        @if $name_style == "all" {
            .mt-alert-#{$names} {
                @include extend_alert_style($colors);
            }
        }
    }
}
// Custom alert style
@mixin custom_alert_style($name_style, $colors, $mix_colors) {
    #{$name_style} {
        @include extend_alert_style($colors, $mix_colors);
    }
}
// ##### END Alerts style #####
