// ##### INPUTS ######
// EXTEND ELEMENT NAME
// Create default name
@mixin create_input() {
    @include custom_input_name(".mt-form-control");
}
@mixin create_form_control() {
    @include custom_input_name(".mt-form-control");
}
// Change default name
@mixin custom_input_name($name) {
    #{$name} {
        /* Hide the cancel button chrome - safari */
        ::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
        // Placeholder
        ::placeholder {
            color: lighten($main-text-color, 45%);
        }

        outline: none;
        display: block;
        width: 100%;
        @include transition(all 0.5s);
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        line-break: auto;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        white-space: normal;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
        background: #fff;
        color: $main-text-color;
        border-radius: $border_radius_df;
        border-style: solid;
    }
}

// ##### CREATE ELEMENT SIZE #####
// Using Mixin file _amp-sizes.scss all pages for button & inputs

// ##### CREATE ELEMENT STYLE #####
// Create style for default name
@mixin create_input_style() {
    // @include custom_input_style('.mt-input-default', $text_color, #fff, solid, $default);
    @include custom_input_style(
        ".mt-input-style",
        $main-text-color,
        #fff,
        solid,
        $blueberry-light-30
    );
}
// Custom, extend style for default name
@mixin custom_input_style(
    $name,
    $text_colors,
    $backgrounds,
    $border_style,
    $border_colors
) {
    $check_name: null;
    @if $name != "mt-input-style" {
        $check_name: "#{$name}";
    }
    @if $name == "mt-input-style" {
        $check_name: ".#{$name}";
    }
    #{$check_name} {
        background-color: $backgrounds;
        border-style: $border_style;
        border-color: $border_colors;
        &,
        &:hover,
        &:focus,
        &:active {
            color: $main-text-color;
        }
        &:focus,
        &:active {
            border-color: $blue;
        }
    }
}
// Create style default options
@mixin input_style_option($name) {
    @each $names, $border_colors in ("blue", $blue), ("green", $green),
        ("pink", $pink), ("red", $red), ("blueberry", $blueberry),
        ("orange", $orange)
    {
        @if $names == $name {
            .mt-input-#{$name} {
                border-color: $border_colors;
                &:focus,
                &:active {
                    border-color: $border_colors;
                }
            }
        }
        @if $name == "all" {
            .mt-input-#{$names} {
                border-color: $border_colors;
                &:focus,
                &:active {
                    border-color: $border_colors;
                }
            }
        }
    }
}

//new
@mixin input_style_validation($name) {
    @each $names, $colors,
        $input-text-colors in ("success", $green, $main-text-color),
        ("error", $red, $red), ("warning", $orange, $main-text-color)
    {
        @if $name == $names {
            .mt-validated-#{$names} {
                .mt-form-control,
                .mt-textarea {
                    border-color: $colors;
                    color: $input-text-colors;
                }
                .mt-input-validated-text {
                    color: $colors;
                }
            }
        }
        @if $name == "all" {
            .mt-validated-#{$names} {
                .mt-form-control,
                .mt-textarea {
                    border-color: $colors;
                    color: $input-text-colors;
                }
                .mt-input-validated-text {
                    color: $colors;
                }
            }
        }
    }
}

//Custom Scss
.mt-form-group {
    position: relative;
    line-height: 1.4em;
    margin-bottom: 10px;
    input {
        // Custom text color for Error input
        &.error {
            color: $red;
        }
        //Style of disabled input
        &[disabled] {
            cursor: not-allowed;
            background-color: $blueberry-light-40;
            &:focus,
            &:active {
                border-color: $blueberry-light-40;
            }
        }
    }
    &-icon {
        input {
            //Style of disabled input
            &[disabled] {
                cursor: not-allowed;
                background-color: $blueberry-light-40;
                &:focus,
                &:active {
                    border-color: $blueberry-light-40;
                }
            }
        }
        .mt-input-icon-opacity {
            @include opacity(0.5);
        }
        .mt-input-left-icon {
            left: 11px;
        }
        .mt-input-right-icon {
            right: 11px;
        }
    }
}
.mt-form-group-icon {
    .mt-input-icon {
        top: 11px;
        position: absolute;
        font-size: 16px;
    }
    &.mt-form-group-label .mt-input-icon {
        top: 35px;
    }
}
//Padding left of input
input.mt-icon-input-left {
    padding-left: 40px;
}
//Padding right of input
input.mt-icon-input-right {
    padding-right: 30px;
}
//Padding right of input with background icon
input.icon-bg-input-right {
    padding-right: 45px;
}
//////////////////////////////////////////////////////
//Style input group
.mt-input-group {
    display: table;
    vertical-align: middle;
    input {
        display: table;
    }
    [class^="li-"] {
        display: table-cell;
        width: 1%;
        vertical-align: middle;
        white-space: nowrap;
        background-color: $blueberry-light-40;
        border: 1px solid $blueberry-light-30;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.mt-input-group-left {
    input {
        @include border-radius(0 4px 4px 0);
    }
    [class^="li-"] {
        @include border-left-radius(4px);
        font-size: 16px;
    }
}
.mt-input-group-right {
    input {
        @include border-radius(4px 0 0 4px);
    }
    [class^="li-"] {
        @include border-right-radius(4px);
        font-size: 14px;
    }
    .select-container {
        display: table-cell;
        width: 1%;
        vertical-align: middle;
    }
    .mt-list-option {
        @include border-radius(0 4px 4px 0);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; /* remove default arrow */
        padding-right: 35px;
        padding-left: 20px;
        outline: none;
        background: $blueberry-light-40;
        border: 1px solid $blueberry-light-30;
    }
}
//-------------Style of Caret input dropdown select------------------
.mt-input-dropdown-icon {
    @include opacity(0.5);
    font-size: 10px;
    font-weight: bold;
    top: 38%;
    right: 10px;
    position: absolute;
}

//---------------------Large input style----------------------------
.mt-input-icon-lg {
    top: 15px;
    position: absolute;
    font-size: 16px;
}

//Custom touchspin css
.customize-touchpsin {
    display: table;
    width: 100%;
}
.bootstrap-touchspin {
    display: block;
    .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        // display: table-cell;
        padding-left: 15px;
        padding-right: 15px;
        outline: none;
        height: auto;
        text-align: center;
        box-shadow: 0 0;
        &:focus {
            border-color: $blue;
            box-shadow: 0 0;
        }
    }
    .input-group-btn {
        z-index: 4;
        &:focus {
            background: transparent;
            box-shadow: 0 0;
        }
        .btn {
            box-shadow: none;
            position: absolute;
            z-index: 5;
            top: 5px;
            color: $main-text-color;
            &:hover,
            &:focus {
                color: $blue;
            }
        }
    }
    .bootstrap-touchspin-down {
        left: 0;
    }
    .bootstrap-touchspin-up {
        right: 0;
    }
}
.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 4px;
    @include border-radius(4px);
}

.btn[class*="bootstrap-touchspin"] {
    &::before {
        font-size: 14px;
    }
    font-size: 0;
    background-color: transparent;
}

.bootstrap-touchspin-down {
    left: 40px;
    color: $blue;
}
.bootstrap-touchspin-up {
    right: 40px;
    color: $blue;
}

//Custom css label override bootstrap
.mt-label-default {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
////////////////////////////////////////////////
// Validated text style
.mt-input-validated-text {
    display: block;
    margin-top: 5px;
    font-weight: 400;
}
////////////////////////////////////////////////////////
//Textarea style
.mt-textarea {
    @include border-radius(4px);
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid $blueberry-light-30;
    padding: 15px;
    &:focus {
        border: 1px solid $blue;
    }
    &[disabled] {
        background-color: $blueberry-light-40;
        cursor: not-allowed;
    }
}
