@mixin custom_checkbox_radio_name($name) {
    #{$name} {
        display: block;
        position: relative;
        margin-bottom: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        &[disabled] {
            cursor: not-allowed;
        }
        input {
            display: none;
        }
        .li-checkmark {
            vertical-align: top;
            margin-right: 5px;
            display: inline-block;
            border: 1px solid $blueberry-light-20;
            &:after {
                content: "\e91f";
                position: absolute;
                display: none;
                color: white;
                line-height: 1em;
            }
        }
        &:hover input ~ .li-checkmark {
            border-color: $blue;
        }
        input:checked ~ .li-checkmark {
            background-color: $blue;
            border-color: $blue;
            &:after {
                display: block;
            }
        }
        .li-checkmark-checkbox {
            @include border-radius(4px);
        }
        .li-checkmark-radio {
            @include border-radius(50%);
        }

        &-inline {
            display: inline-block;
            margin-right: 0.75rem;
        }
    }
}
// create default checkbox and radio name
@mixin create_checkbox_radio_name() {
    @include custom_checkbox_radio_name(".mt-checkbox-radio");
}

@mixin custom_checkbox_radio_size(
    $name,
    $height,
    $width,
    $top,
    $left,
    $font-size
) {
    .mt-checkbox-radio-#{$name} {
        .li-checkmark {
            height: $height;
            width: $width;
            &::after {
                top: $top;
                left: $left;
                font-size: $font-size;
            }
        }
    }
}

@mixin create_checkbox_radio_option($name) {
    @each $names, $height, $width, $top, $left,
        $font-size in ("default", 16px, 16px, 0, 2px, 12px),
        ("lg", 22px, 22px, 2px, 4px, 14px)
    {
        @if $name == $names {
            @include custom_checkbox_radio_size(
                $names,
                $height,
                $width,
                $top,
                $left,
                $font-size
            );
        }
        @if $name == "all" {
            @include custom_checkbox_radio_size(
                $names,
                $height,
                $width,
                $top,
                $left,
                $font-size
            );
        }
    }
}
// checkbox radio default size
@mixin create_checkbox_radio_size {
    @include custom_checkbox_radio_size("default", 16px, 16px, 0, 2px, 12px);
}

@mixin custom_switch($name) {
    $switch-transition: 0.25s;
    #{$name} {
        position: relative;
        display: inline-block;
        margin-bottom: 10px;
        &[disabled] {
            cursor: not-allowed;
        }
        &-slider {
            display: inline-block;
            position: relative;
            @include transition($switch-transition);
            cursor: pointer;
            background-color: $blueberry-light-20;
            border-radius: 10px;
            //display: inline-block;
            height: 20px;
            width: 38px;
            margin-right: 5px;
            margin-top: -2px;
            vertical-align: middle;
            &[disabled] {
                cursor: not-allowed;
            }
            &-thumb {
                @include transition($switch-transition);
                position: absolute;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                top: 2px;
                left: 2px;
                background-color: $white;
                line-height: 1em;
                z-index: 0;
                //&:before {
                //    content: "";
                //    visibility: visible;
                //    $overPadding: -0.45rem;
                //    position: absolute;
                //    top: $overPadding;
                //    left: $overPadding;
                //    right: $overPadding;
                //    bottom: $overPadding;
                //    background-color: transparentize($blue, 0.65);
                //    border-radius: 50%;
                //    z-index: -1;
                //}
            }
        }
        &-title {
            user-select: none;
        }
        input {
            display: none;

            &:checked + .mt-switch-slider {
                background-color: $blue;
                .mt-switch-slider-thumb {
                    @include transform(translateX(18px));
                }
            }
            &[disabled] {
                & ~ .mt-switch-slider {
                    background-color: #dfe1e5;
                }
                & ~ .mt-switch-title {
                    color: rgba(53, 64, 82, 0.5);
                    opacity: 0.5;
                }
            }
            &:checked[disabled] {
                & ~ .mt-switch-title {
                    font-weight: 600;
                }
            }
        }
    }
}
// create switch default
@mixin create_switch {
    @include custom_switch(".mt-switch");
}
