@mixin custom_navbars($name-navbar) {
    #{$name-navbar} {
        &-header,
        &-collapse {
            margin-right: 0;
            margin-left: 0;
        }
        &-collapse {
            display: block;
            overflow: visible;
            padding: 0 $padding-df;
        }
        &-header {
            float: left;
        }
        &-brand {
            padding-right: $padding-df;
        }
        &-left {
            float: left;
        }
        &-right {
            float: right;
        }
    }
}
@mixin create_navbar() {
    @include custom_navbars(".mt-navbar");
}

@mixin custom_navbar_style($name, $colors) {
    .mt-navbar-#{$name} {
        background-color: $colors;
    }
}
@mixin create_navbar_style {
    @include custom_navbar_style("style", $white);
}

@mixin create_navbar_style_option($name) {
    @each $names, $colors in ("blue", $blue), ("green", $green), ("pink", $pink),
        ("orange", $orange), ("red", $red), ("blueberry", $blueberry)
    {
        @if $name == $names {
            @include custom_navbar_style($names, $colors);
        }
        @if $name == "all" {
            @include custom_navbar_style($names, $colors);
        }
    }
}

@mixin custom_navbar_size($name, $height) {
    .mt-navbar-#{$name} {
        height: $height;
    }
}

@mixin create_navbar_size {
    @include custom_navbar_size("default", 100px);
}

@mixin create_navbar_size_option($name) {
    @each $names, $height in ("lg", 150px), ("default", 100px), ("sm", 60px) {
        @if $name == $names {
            @include custom_navbar_size($names, $height);
        }
        @if $name == "all" {
            @include custom_navbar_size($names, $height);
        }
    }
}
//custom fixed-top navbar
@mixin custom_fixed_top_navbar($name-fixed-top-navbar) {
    #{$name-fixed-top-navbar} {
        position: absolute;
        top: -1px;
        right: 0;
        left: 0;
        z-index: $z_index_df;
    }
}

// create fixed top navbar
@mixin create_fixed_top_navbar {
    @include custom_fixed_top_navbar(".mt-navbar-fixed-top");
}

//custom fixed-bottom navbar
@mixin custom_fixed_bottom_navbar($name-fixed-bottom-navbar) {
    #{$name-fixed-bottom-navbar} {
        position: absolute;
        bottom: -1px;
        right: 0;
        left: 0;
        z-index: $z_index_df;
    }
}

// create fixed bottom navbar
@mixin create_fixed_bottom_navbar {
    @include custom_fixed_bottom_navbar(".mt-navbar-fixed-bottom");
}
