@mixin custom_tabs_name($name) {
    #{$name} {
        width: 100%;
        &-body {
            position: relative;
            overflow: hidden;
            white-space: nowrap; // @hungphongbk: make tab be able to scroll
        }
        &-icon-right {
            padding-right: 30px;
        }
        &-icon-left {
            padding-left: 30px;
        }

        &-item {
            //width: 32%;
            display: inline-block;
            text-align: center;
            .mt-tab-link {
                text-decoration: none;
                display: block;
            }
        }
        &-arrow {
            position: absolute;
            top: 0;
            cursor: pointer;
            .mt-tab-icon {
                list-style: none;
                background: rgba(255, 255, 255, 0.8);
                font-size: 1rem;
                line-height: 1.1875rem;
                padding: 0.875rem 0.4rem;
                font-weight: 600;
            }
            &-right {
                right: 0;
                .mt-tab-icon {
                    @include box-shadow(-2px 0 10px 0 rgba(0, 0, 0, 0.1));
                    @include border-left-radius(3rem);
                    padding-right: 0.2rem;
                }
            }
            &-left {
                left: 0;
                .mt-tab-icon {
                    @include box-shadow(2px 0 10px 0 rgba(0, 0, 0, 0.1));
                    @include border-right-radius(3rem);
                }
            }
        }
    }
}

// create default mt-tab
@mixin create_tabs {
    @include custom_tabs_name(".mt-tab");
}

@mixin custom_tabs_border($name, $border-color) {
    #{$name} .mt-tab-body {
        border-bottom: 1px solid $border-color;
    }
}
// create tab border default
@mixin create_tabs_border {
    @include custom_tabs_border(".mt-tab-border", $blueberry-light-30);
}

@mixin custom_tabs_size($name, $padding, $padding-arrow) {
    #{$name} {
        .mt-tab-link {
            padding: $padding;
        }
        .mt-tab-icon-right {
            padding-right: $padding-arrow;
        }
        .mt-tab-icon-left {
            padding-left: $padding-arrow;
        }
    }
}

// create size default
@mixin create_tabs_size {
    @include custom_tabs_size(".mt-tab-size", (14rem / 16), 30px);
}

@mixin custom_tabs_style(
    $name,
    $color,
    $color-active,
    $border-color,
    $border-active-color
) {
    #{$name} {
        .mt-tab-item {
            .mt-tab-link {
                color: $color;
                font-weight: 500;
                font-size: 1rem;
                line-height: (19rem/16);
            }
            &:hover {
                border-bottom: 2px solid $border-color;
            }
        }
        .mt-tab-active {
            border-bottom: 2px solid $border-active-color;
            .mt-tab-link {
                color: $color-active;
            }
            &:hover {
                border-bottom-color: $border-active-color;
            }
        }
    }
}
//default tab style
@mixin create_tabs_style {
    @include custom_tabs_style(
        ".mt-tab-style",
        $sub-text-color,
        $main-text-color,
        $blue-light-30,
        $blue
    );
}

@mixin create_tab_content {
    .mt-tab-content {
        > .mt-tab-pane {
            display: none;
        }
        > .active {
            display: block;
        }
    }
}
