@function breakpoint_min($name, $breakpoints: $screen_responsive_breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}
@function breakpoint-infix(
    $name,
    $breakpoints: $screen_responsive_breakpoints
) {
    @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

@mixin media-breakpoint-up($breakpoint) {
    $min: breakpoint_min($breakpoint);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}
