// Function call background color & text color
@mixin fn_create_colors($name, $propety, $propety_class) {
    @each $names, $colors in ("white", $white),
        ("white-dark-10", $white-dark-10), ("white-dark-20", $white-dark-20),
        ("blue", $blue), ("blue-light-10", $blue-light-10),
        ("blue-light-20", $blue-light-20), ("blue-light-30", $blue-light-30),
        ("blue-dark-10", $blue-dark-10), ("blue-dark-20", $blue-dark-20),
        ("blue-dark-30", $blue-dark-30), ("pink", $pink),
        ("pink-light-10", $pink-light-10), ("pink-light-20", $pink-light-20),
        ("pink-light-30", $pink-light-30), ("pink-dark-10", $pink-dark-10),
        ("pink-dark-20", $pink-dark-20), ("pink-dark-30", $pink-dark-30),
        ("green", $green), ("green-light-10", $green-light-10),
        ("green-light-20", $green-light-20), ("green-light-30", $green-light-30),
        ("green-dark-10", $green-dark-10), ("green-dark-20", $green-dark-20),
        ("green-dark-30", $green-dark-30), ("orange", $orange),
        ("orange-light-10", $orange-light-10),
        ("orange-light-20", $orange-light-20),
        ("orange-light-30", $orange-light-30),
        ("orange-dark-10", $orange-dark-10), ("orange-dark-20", $orange-dark-20),
        ("orange-dark-30", $orange-dark-30), ("red", $red),
        ("red-light-10", $red-light-10), ("red-light-20", $red-light-20),
        ("red-light-30", $red-light-30), ("red-dark-10", $red-dark-10),
        ("red-dark-20", $red-dark-20), ("red-dark-30", $red-dark-30),
        ("blueberry", $blueberry), ("blueberry-light-10", $blueberry-light-10),
        ("blueberry-light-20", $blueberry-light-20),
        ("blueberry-light-30", $blueberry-light-30),
        ("blueberry-light-40", $blueberry-light-40),
        ("blueberry-light-50", $blueberry-light-50),
        ("blueberry-light-60", $blueberry-light-60), ("muted", $text-muted)
    {
        @if $name == $names {
            #{$propety_class}#{$names} {
                #{$propety}: #{$colors};
            }
        }
        @if $name == "all" {
            #{$propety_class}#{$names} {
                #{$propety}: #{$colors};
            }
        }
    }
}
// Create background color
@mixin bg_colors($name) {
    @include fn_create_colors($name, "background-color", ".mt-bg-");
}

// Create text color
@mixin text_colors($name) {
    @include fn_create_colors($name, "color", ".mt-text-");
}
//@import '../../core/_variables.scss'
