// ##### Table #####

// Custom table
@mixin custom_table_name($name: ".mt-table") {
    #{$name} {
        width: 100%;
        max-width: 100%;
        text-align: left;
        line-height: $line-height-df;
        border-collapse: collapse;
        border-spacing: 0;
        border-width: 1px;
        border-style: solid;
        // Cells
        th,
        td,
        tbody {
            border-style: solid;
            vertical-align: middle;
        }
        td {
            border-width: 1px 0 0 0;
            > * {
                vertical-align: middle;
            }
        }
        th {
            border-width: 0 0 1px 0;
        }
        tbody {
            border-width: 0;
        }

        // Include table in table
        #{$name} {
            th:first-child,
            td:first-child {
                border-left: 0;
                //border-left: 1px solid black;
            }
            th:last-child,
            td:last-child {
                border-right: transparent;
                //border-right: 1px solid black;
            }
        }
    }
}
// Create table
@mixin create_table() {
    @include custom_table_name;
}

// Custom table style
@mixin custom_table_style(
    $name,
    $colors,
    $bg_colors,
    $border_colors,
    $color_theads
) {
    #{$className_table + "-" + $name} {
        color: $colors;
        background: $bg_colors;
        border-color: $border_colors;
        // Cells
        th,
        td,
        tbody {
            border-color: $border_colors;
        }
        th {
            font-weight: 500;
        }
        thead {
            color: $color_theads;
        }
    }
}
// Create table style default
@mixin create_table_style() {
    @include custom_table_style(
        "style",
        $main-text-color,
        $white,
        $table_border_color,
        $blueberry-light-10
    );
}
// Custom table size
@mixin custom_component_inside_table_within_size($padding, $v-cell-padding) {
    $ratio: strip-unit($padding);
    $button-new-v-margin: -$padding/2;
    %force-new-v-margin {
        margin: {
            top: $button-new-v-margin;
            bottom: $button-new-v-margin;
        }
    }
    .mt-btn {
        @extend %force-new-v-margin;
    }
    .mt-avatar {
        display: inline-block;
        margin-right: 1rem;
        @extend %force-new-v-margin;
    }
    .mt-switch {
        margin-bottom: 0;
    }
}
@mixin custom_table_size($name, $padding) {
    $v-cell-padding: $padding - ($line-height-df - 1) / 2;
    #{$name} {
        // Cells
        th,
        td {
            padding: $v-cell-padding;
            &:first-child {
                padding-left: $v-cell-padding * (30/14);
            }
        }

        //another components
        @include custom_component_inside_table_within_size(
            $padding,
            $v-cell-padding
        );
    }
}
// Create table size
@mixin create_table_size() {
    @include custom_table_size(".mt-table-size", 1rem);
}

@mixin custom_table_bg_header($name, $bg_theads) {
    #{$name} {
        thead {
            background-color: $bg_theads;
        }
    }
}
// Create table with bg header
@mixin create_table_bg_header {
    @include custom_table_bg_header(".mt-table-head-bg", $blueberry-light-40);
}

// ##### Zebra-striping #####
// Custom Zebra-striping
@mixin custom_table_striped($name, $color_hovers, $bg_hover_colors) {
    #{$name} {
        tbody tr:nth-of-type(odd) {
            color: $color_hovers;
            background-color: $bg_hover_colors;
        }
    }
}
// Create Zebra-striping
@mixin create_table_striped() {
    .mt-table-striped {
        tbody tr:nth-of-type(odd) {
            background-color: $table_bg_hover;
        }
    }
}

// ##### Hover effect #####
// Custom hover effect
@mixin custom_table_hover($name, $colors, $bg_colors) {
    #{$name} {
        tbody tr:hover {
            color: $colors;
            background-color: $bg_colors;
        }
    }
}
// Create hover effect
@mixin create_table_hover() {
    .mt-table-hover {
        tbody tr:hover {
            background-color: darken($table_bg_hover, 5%);
        }
    }
}

// ##### Table Responsive #####
// Custom table_responsive
@mixin custom_table_responsive($name) {
    #{$name} {
        overflow-x: auto;
        min-height: 0.01%;
        @media (max-width: $screen_tablet) {
            width: 100%;
        }
    }
}
// Create table_responsive
@mixin create_table_responsive() {
    @include custom_table_responsive(".mt-table-responsive");
}
