// ##### Figure #####
// Custom figure
@mixin custom_figure_name($name, $margins) {
    #{$name} {
        margin: 0 0 16 * $rem;
        margin: $margins;
    }
}
// Create figure default
@mixin create_figure() {
    @include custom_figure_name(".mt-figure", (0 0 16 * $rem 0));
}

// Custom figcaption
@mixin custom_figcaption_name($name, $margins, $font_sizes) {
    #{$name} {
        margin: $margins;
        font-size: $font_sizes;
    }
}
// Create figcaption default
@mixin create_figcaption() {
    @include custom_figcaption_name(".mt-figcaption", (10 * $rem 0 0 0), 90%);
}
//create round image
@mixin create_round_image($name_rounded, $rounded) {
    .#{$name_rounded} {
        @include border-radius($rounded);
    }
}
