$brandColor: #10aeef;

.Logo {
    h3 {
        color: $brandColor;
        text-align: right;
        margin-top: -1rem;
        font-size: 2em;
        margin-right: -2rem;
    }
}
.Link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 18vw;
    height: 160px;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(#fff, 0.85);
    border-radius: 1rem;
    &:hover {
        background-color: #fff;
    }
    > svg {
        width: 100%;
        height: auto;
    }
}
