.Expandable {
}
.ExpandableHeader {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
.Panel {
    //max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.Panel.Active {
}
