@import "../../sass/core/mixins-mt";

.BreadCrumbOl {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    > li {
        list-style: none;
    }
}
.Item {
    &,
    &:hover,
    &:active,
    &:visited,
    &:focus {
        text-decoration: none;
    }

    color: rgba($main-text-color, 0.5);
    font-weight: 500;
}
.ItemActive {
    display: inherit;
    cursor: default;
    color: $main-text-color;
}
.Separator {
    user-select: none;
    > :global(.li) {
        font-size: 0.65em;
    }
    padding: 0 0.78em;
}
