@import "../../sass/core/mixins-mt";

.Spinner {
    composes: mt-form-control mt-input-style mt-size-md from global;
    color: $blueberry;
    &:active,
    &:focus {
        border-color: $blueberry-light-30;
    }
    > div {
        display: table;
        width: 100%;
        > * {
            display: table-cell;
            vertical-align: middle;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }

    :global(.li) {
        line-height: 1.25rem;
        font-size: 1.25rem;
    }
}
.InputArea {
    width: 100%;
    white-space: nowrap;

    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 1.2rem;
    height: 1rem;
    color: inherit;

    text-align: center;
    font-family: $font-family-df;
    &::selection {
        background: none;
        color: inherit;
    }
    &:focus::selection {
        background: rgba(#000, 0.65);
        color: white;
    }
}
