$track-height: 4px;
$thumb-radius: 9px;
$thumb-size: $thumb-radius * 2;

.Container {
    position: relative;
    height: $thumb-size;
    padding-top: ($thumb-radius - $track-height/2);
}
.MultipleRange {
    input.Range {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        &::-webkit-slider-thumb {
            //position: absolute;
            z-index: 2;
        }
    }
}

.Track {
    height: $track-height;
    border-radius: $track-height/2;
    background-color: #dfe3e9;
    margin: {
        left: $thumb-radius;
        right: $thumb-radius;
    }
    position: relative;
}
.TrackActive {
    position: absolute;
    top: 0;
    height: 4px;
    border-radius: $track-height/2;
    background-color: #00adef;
}

.Thumb {
    width: $thumb-size;
    height: $thumb-size;
    border-radius: $thumb-radius;
    border: solid 1px #ced0da;
    background-color: #ffffff;
    margin-top: -($thumb-radius - $track-height/2);
    margin-left: -$thumb-radius;
}
.WithRippleEffect {
    .Thumb {
        transition: box-shadow 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
    .Thumb:hover {
        box-shadow: 0 0 0 9px rgba(33, 150, 243, 0.1);
    }
    .Thumb.Dragging {
        box-shadow: 0 0 0 18px rgba(33, 150, 243, 0.1);
    }
}
