$theme-color: rgb(9, 172, 49);
.dropdown {
    margin-top: 10rem;
    ul {
        background-color: lighten($theme-color, 45%);
    }
}
.item {
    cursor: pointer;
    transition: background-color 300ms ease;
    //background-color: white;
    &:hover {
        background-color: lighten($theme-color, 35%);
    }
    &.selected,
    &.selected:hover {
        background-color: lighten($theme-color, 20%);
    }
    p {
        display: inline-block;
        white-space: nowrap;
        margin: 0;
        padding: 1rem 2rem;
        font-size: 2rem;
    }
}
