// ##### Grid system #####
// ## Define your custom responsive grid.
// ** Number of columns in the grid.
@import "mx_clearfix";
$grid_columns: 12 !default;

//** Padding between. Gets divided in half for the left and right.
$grid_gutter_width: 30px !default;

//##### Media queries breakpoints #####
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
// All screen / phone
$screen_all: 0 !default;
// Extra small screen / phone
$screen_phone: 568px !default;
// Small screen / tablet
$screen_tablet: 768px !default;
// Medium screen / desktop
$screen_desktop: 992px !default;
// Large screen / wide desktop
$screen_desktop_large: 1200px !default;
// Custom colums width media
$custom_grid_breakpoints: null !default;
@each $names, $widths in ($custom_grid_breakpoints) {
    @if $names == "xsml" {
        // All screen / phone
        $screen_all: $widths;
    }
    @if $names == "xs" {
        // Extra small screen / phone
        $screen_phone: $widths;
    }
    @if $names == "sm" {
        // Small screen / tablet
        $screen_tablet: $widths;
    }
    @if $names == "md" {
        // Medium screen / desktop
        $screen_desktop: $widths;
    }
    @if $names == "lg" {
        // Large screen / wide desktop
        $screen_desktop_large: $widths;
    }
}

// So media queries don't overlap when required, provide a maximum
$screen_phone_max: ($screen_tablet - 1) !default; // 767 <=
$screen_tablet_max: ($screen_desktop - 1) !default; // 991 <=
$screen_desktop_max: ($screen_desktop_large - 1) !default; // 1199 <=

//##### Container sizes #####
//## Define the maximum width of `.container` for different screen sizes.
// Extra small screen / phone
$container_all: 100% !default;
// Extra small screen / phone
$container_phone: 538px !default;
// Small screen / tablet
$container_tablet: 720px !default;
// Medium screen / desktop
$container_desktop: 960px !default;
// Large screen / wide desktop
$container_desktop_large: 1200px !default;
// Custom only width container media xs, sm, md, lg
$custom_container_max_widths: (
    xsml: $container_all,
    xs: $container_phone,
    sm: $container_tablet,
    md: $container_desktop,
    lg: $container_desktop_large
) !default;

// Create extend container width the grid variables to generate semantic CSS for individual grid columns.
// Extend only width every media width
@mixin extend_every_media($name, $width) {
    .mt-container {
        @each $names, $media_names in ("xsml", $screen_all),
            // >> 0
                ("xs", $screen_phone),
            // >> 568
                ("sm", $screen_tablet),
            // >> 768
                ("md", $screen_desktop),
            // >> 992
                ("lg", $screen_desktop_large)
                // >> 1200
        {
            @if $name == $names {
                @media (min-width: $media_names) {
                    @if $width == null {
                        $width: $width_defaults;
                    }
                    width: $width;
                }
            }
        }
    }
}

// Container widths
// Set the container width and extend style
%container_fixed {
    margin-right: auto;
    margin-left: auto;
    @extend %extend_clearfix;
}
%extend_clearfix {
    @include clearfix;
}

// Call container width the grid variables to generate semantic CSS for individual grid columns.
@mixin create_container() {
    .mt-container {
        @extend %container_fixed;
    }
}
// Fluid container
// Set the container width for fluid, full width layouts.
@mixin create_container_fluid() {
    .mt-container-fluid {
        @extend %container_fixed;
    }
}

// Call container width options the grid variables to generate semantic CSS for individual grid columns.
@mixin create_container_options($name) {
    @each $names, $widths in ($custom_container_max_widths) {
        @if $name == $names {
            @include extend_every_media($names, $widths);
        }
        @if $name == "all" {
            @include extend_every_media($names, $widths);
        }
    }
}
// Custom only width container media xs, sm, md, lg
@mixin custom_container_width($name, $width) {
    @include extend_every_media($name, $width);
}

/////////////////////////////////////////////////////////////
// $gutter_xs :16px;

/////////////////////////////////////////////////////////////

// ##### Row #####
// Rows contain and clear the floats of your columns.
@mixin extend_row($grid_gutter_width) {
    // Couple margin & padding grid layout amp_container + .amp_row
    @extend %container_fixed;
    [class*="mt-col-"] {
        padding-left: ($grid_gutter_width / 2);
        padding-right: ($grid_gutter_width / 2);
    }
    .mt-row {
        margin-left: ($grid_gutter_width / -2);
        margin-right: ($grid_gutter_width / -2);
    }
}
$custom_grid_gutter_width: null !default;
// Create row default
@mixin create_row() {
    // Columns
    // Common styles for small and large grid columns
    [class*="mt-col-"] {
        position: relative;
        min-height: 1px;
    }
    .mt-row {
        display: flex;
        flex-wrap: wrap;
        //@extend %extend_clearfix;
    }
    // Set value variable include function, If no custom run default value 15px
    @if $custom_grid_gutter_width == null {
        @include extend_row($grid_gutter_width);
    }
    // Custom row default 15px, 30px ...
    // $custom_grid_gutter_width: (sm: 10px, md: 20px, lg: 30px);
    @each $names, $widths in ($custom_grid_gutter_width) {
        @include custom_row_option($names, $widths);
    }
}

@mixin custom_row_option($name, $gutter_width) {
    @each $names, $media_names in ("xs", $screen_phone), ("sm", $screen_tablet),
        ("md", $screen_desktop), ("lg", $screen_desktop_large)
    {
        @if $name == $names {
            @media (min-width: $media_names) {
                @include extend_row($gutter_width);
            }
        }
    }
    @if $name == "xsml" {
        @include extend_row($gutter_width);
    }
}

// Extend media grids colums
// @hungphongbk: disable amp_media due to flexbox
@mixin amp_media($col_name, $grid_column, $list: ".#{$col_name}-1") {
    //@for $i from 2 through $grid_column {
    //    $list: "#{$list},  .#{$col_name}-#{$i}";
    //}
    //#{$list} {
    //    float: left;
    //}
}
@mixin amp_grid($col_name, $grid_column) {
    @for $i from 1 through $grid_column {
        .#{$col_name}-#{$i} {
            //width: percentage(
            //    1 / $grid_column * $i
            //); // Create grid for specific class
            flex: 0 0 percentage(1 / $grid_column * $i);
            max-width: percentage(1 / $grid_column * $i);
        }
        .#{$col_name}-offset-#{$i} {
            margin-left: percentage(
                1 / $grid_column * $i
            ); // Create grid for specific class
        }
    }
}
// Extend grid_colum
@mixin extend_grids($name, $grid_column) {
    // 0 >> all devide
    @if $name == "mt-col-xsml" {
        @include amp_media($name, $grid_column);
        @include amp_grid($name, $grid_column);
    }
    // 568 smartphones >> tablet deive >> desktop >> large desktop
    @if $name == "mt-col-xs" {
        @media (min-width: $screen_phone) {
            @include amp_media($name, $grid_column);
            @include amp_grid($name, $grid_column);
        }
    }
    // 768 >> tablet deive >> desktop >> large desktop
    @if $name == "mt-col-sm" {
        @media (min-width: $screen_tablet) {
            @include amp_media($name, $grid_column);
            @include amp_grid($name, $grid_column);
        }
    }
    // 992 >> desktop >> large desktop
    @if $name == "mt-col-md" {
        @media (min-width: $screen_desktop) {
            @include amp_media($name, $grid_column);
            @include amp_grid($name, $grid_column);
        }
    }
    // 1200 >> large desktop
    @if $name == "mt-col-lg" {
        @media (min-width: $screen_desktop_large) {
            @include amp_media($name, $grid_column);
            @include amp_grid($name, $grid_column);
        }
    }
}
// create grid_colum width default colums number 12
@mixin create_grid($name) {
    @include extend_grids($name, $grid_columns);
    // Call all grid default 12 col
    @if $name == "all" {
        @each $names in "mt-col-xsml", "mt-col-xs", "mt-col-sm", "mt-col-md",
            "mt-col-lg"
        {
            @include extend_grids($names, $grid_columns);
        }
    }
}
// Custom grid_colum and number colum with media. You can change grid column for individual media.
@mixin custom_grid($name, $number) {
    @include extend_grids($name, $number);
}
