.Image {
    overflow: hidden;
    img {
        object-fit: cover;
    }
}
.Wider {
    height: 100%;
    width: auto;
}
.Narrower {
    width: 100%;
    height: auto;
}
.Rounded {
    // TODO: check again border radius
    border-radius: 0.7rem;
}
.Circle {
    border-radius: 50%;
}
.Children {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
