@import "../../sass/core/mixins-mt";

.SortLabel {
    composes: mt-text-blueberry from global;
    display: inline-block;
    line-height: 0;
    margin-left: 0.25rem;

    position: relative;
    &:after {
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0;
        content: "";
        visibility: visible;
        opacity: 0.7;
        background-color: #fff;
    }

    &:global {
        &.sort-label-none:after {
            visibility: hidden;
        }
        &.sort-label-asc:after {
            top: 50%;
        }
        &.sort-label-desc:after {
            top: 0;
        }
    }
}
.SortLabelTh {
    cursor: pointer;
    user-select: none;
}
