//----------font-linear----------//
@font-face {
    font-family: "linear-icon";
    src: url("../../theme/fonts/font-linear/linear-icon.eot?rvgdhj");
    src: url("../../theme/fonts/font-linear/linear-icon.eot?rvgdhj#iefix")
            format("embedded-opentype"),
        url("../../theme/fonts/font-linear/linear-icon.woff2?rvgdhj")
            format("woff2"),
        url("../../theme/fonts/font-linear/linear-icon.woff?rvgdhj")
            format("woff"),
        url("../../theme/fonts/font-linear/linear-icon.ttf?rvgdhj")
            format("truetype"),
        url("../../theme/fonts/font-linear/linear-icon.svg?rvgdhj#linear-icon")
            format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="li-"],
[class*=" li-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "linear-icon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.li-app-store-ios:before {
    content: "\e909";
}
.li-app-store:before {
    content: "\e90a";
}
.li-facebook-f:before {
    content: "\e90b";
}
.li-facebook-messenger:before {
    content: "\e90c";
}
.li-facebook-square:before {
    content: "\e90d";
}
.li-facebook:before {
    content: "\e90e";
}
.li-google-play:before {
    content: "\e90f";
}
.li-google-plus-g:before {
    content: "\e910";
}
.li-google-plus-square:before {
    content: "\e911";
}
.li-google-plus:before {
    content: "\e912";
}
.li-google:before {
    content: "\e913";
}
.li-instagram:before {
    content: "\e914";
}
.li-tripadvisor:before {
    content: "\e915";
}
.li-twitter-square:before {
    content: "\e916";
}
.li-twitter:before {
    content: "\e917";
}
.li-youtube-square:before {
    content: "\e918";
}
.li-youtube:before {
    content: "\e919";
}
.li-home:before {
    content: "\e601";
}
.li-bed:before {
    content: "\e609";
}
.li-single-bed:before {
    content: "\e91a";
}
.li-city:before {
    content: "\e60d";
}
.li-apartment:before {
    content: "\e60f";
}
.li-pencil:before {
    content: "\e610";
}
.li-pencil2:before {
    content: "\e613";
}
.li-color-sampler:before {
    content: "\e628";
}
.li-pencil-ruler:before {
    content: "\e62f";
}
.li-pencil-ruler2:before {
    content: "\e630";
}
.li-umbrella:before {
    content: "\e640";
}
.li-sun:before {
    content: "\e648";
}
.li-moon:before {
    content: "\e64a";
}
.li-shield:before {
    content: "\e66d";
}
.li-shield-check:before {
    content: "\e670";
}
.li-shield-alert:before {
    content: "\e671";
}
.li-shield-cross:before {
    content: "\e673";
}
.li-rotation-lock:before {
    content: "\e66e";
}
.li-lock:before {
    content: "\e675";
}
.li-unlock:before {
    content: "\e676";
}
.li-key:before {
    content: "\e677";
}
.li-key-hole:before {
    content: "\e678";
}
.li-cog:before {
    content: "\e679";
}
.li-wrench:before {
    content: "\e67a";
}
.li-trash:before {
    content: "\e682";
}
.li-trash2:before {
    content: "\e683";
}
.li-star:before {
    content: "\e68e";
}
.li-envelope:before {
    content: "\e697";
}
.li-paperclip:before {
    content: "\e69a";
}
.li-paper-plane:before {
    content: "\e69b";
}
.li-eye:before {
    content: "\e6a6";
}
.li-binoculars:before {
    content: "\e6aa";
}
.li-file-empty:before {
    content: "\e6b4";
}
.li-folder:before {
    content: "\e6bb";
}
.li-paste:before {
    content: "\e6c9";
}
.li-typewriter:before {
    content: "\e6d7";
}
.li-clipboard-text:before {
    content: "\e6cd";
}
.li-clipboard-pencil:before {
    content: "\e6ca";
}
.li-clipboard-check:before {
    content: "\e6ce";
}
.li-enter:before {
    content: "\e6d4";
}
.li-exit:before {
    content: "\e6d5";
}
.li-medal-empty:before {
    content: "\e6e6";
}
.li-medal-first:before {
    content: "\e6e7";
}
.li-medal-second:before {
    content: "\e6e8";
}
.li-medal-third:before {
    content: "\e6e9";
}
.li-podium:before {
    content: "\e6ea";
}
.li-trophy:before {
    content: "\e6eb";
}
.li-trophy2:before {
    content: "\e6ec";
}
.li-music-note:before {
    content: "\e6ed";
}
.li-music-note2:before {
    content: "\e6ee";
}
.li-equalizer:before {
    content: "\e6f3";
}
.li-ticket:before {
    content: "\e6f6";
}
.li-play:before {
    content: "\e6f8";
}
.li-picture:before {
    content: "\e710";
}
.li-picture2:before {
    content: "\e713";
}
.li-pictures:before {
    content: "\e714";
}
.li-book:before {
    content: "\e715";
}
.li-profile:before {
    content: "\e71d";
}
.li-portrait:before {
    content: "\e71f";
}
.li-user:before {
    content: "\e720";
}
.li-users2:before {
    content: "\e724";
}
.li-woman:before {
    content: "\e72b";
}
.li-man:before {
    content: "\e72d";
}
.li-baby:before {
    content: "\e72e";
}
.li-baby2:before {
    content: "\e72f";
}
.li-baby-bottle:before {
    content: "\e730";
}
.li-woman2:before {
    content: "\e734";
}
.li-man2:before {
    content: "\e735";
}
.li-man-woman:before {
    content: "\e736";
}
.li-cart-add:before {
    content: "\e754";
}
.li-cart-remove:before {
    content: "\e75b";
}
.li-tag:before {
    content: "\e75c";
}
.li-tags:before {
    content: "\e75d";
}
.li-receipt:before {
    content: "\e75f";
}
.li-wallet:before {
    content: "\e760";
}
.li-credit-card:before {
    content: "\e761";
}
.li-cash-dollar:before {
    content: "\e763";
}
.li-bag-dollar:before {
    content: "\e764";
}
.li-coin-dollar:before {
    content: "\e765";
}
.li-telephone:before {
    content: "\e76b";
}
.li-dial:before {
    content: "\e77c";
}
.li-telephone2:before {
    content: "\e77d";
}
.li-pushpin:before {
    content: "\e77e";
}
.li-pushpin2:before {
    content: "\e77f";
}
.li-map-marker:before {
    content: "\e781";
}
.li-map-marker-user:before {
    content: "\e786";
}
.li-compass:before {
    content: "\e787";
}
.li-map:before {
    content: "\e788";
}
.li-location:before {
    content: "\e78a";
}
.li-road-sign:before {
    content: "\e78b";
}
.li-calendar-empty:before {
    content: "\e78c";
}
.li-calendar-in:before {
    content: "\e91d";
}
.li-calendar-out:before {
    content: "\e91e";
}
.li-calendar-full:before {
    content: "\e78d";
}
.li-mouse-left:before {
    content: "\e792";
}
.li-mouse-right:before {
    content: "\e793";
}
.li-mouse-both:before {
    content: "\e794";
}
.li-keyboard:before {
    content: "\e795";
}
.li-phone:before {
    content: "\e7a7";
}
.li-smartphone:before {
    content: "\e7a8";
}
.li-smartphone-embed:before {
    content: "\e7ad";
}
.li-smartphone-waves:before {
    content: "\e7b1";
}
.li-tablet:before {
    content: "\e7b2";
}
.li-tablet2:before {
    content: "\e7b3";
}
.li-laptop-phone:before {
    content: "\e7b4";
}
.li-desktop:before {
    content: "\e7b5";
}
.li-launch:before {
    content: "\e7b6";
}
.li-bubble:before {
    content: "\e7db";
}
.li-bubbles:before {
    content: "\e7dc";
}
.li-bubble-dots:before {
    content: "\e7dd";
}
.li-bubble-alert:before {
    content: "\e7de";
}
.li-bubble-question:before {
    content: "\e7df";
}
.li-phone-bubble:before {
    content: "\e7e7";
}
.li-quote-open:before {
    content: "\e7e8";
}
.li-quote-close:before {
    content: "\e7e9";
}
.li-glass:before {
    content: "\e811";
}
.li-chef:before {
    content: "\e814";
}
.li-eggs:before {
    content: "\e818";
}
.li-ice-cream:before {
    content: "\e824";
}
.li-candy:before {
    content: "\e826";
}
.li-apple:before {
    content: "\e82e";
}
.li-leaf:before {
    content: "\e830";
}
.li-pine-tree:before {
    content: "\e832";
}
.li-cactus:before {
    content: "\e833";
}
.li-briefcase:before {
    content: "\e83b";
}
.li-alarm:before {
    content: "\e8ab";
}
.li-refresh:before {
    content: "\e8d4";
}
.li-undo:before {
    content: "\e8d7";
}
.li-redo:before {
    content: "\e8d8";
}
.li-sync:before {
    content: "\e8dc";
}
.li-repeat-one:before {
    content: "\e8dd";
}
.li-alarm-remove:before {
    content: "\e8ef";
}
.li-alarm-check:before {
    content: "\e8f0";
}
.li-alarm-error:before {
    content: "\e8f1";
}
.li-download:before {
    content: "\e8ff";
}
.li-upload:before {
    content: "\e900";
}
.li-enter-up:before {
    content: "\e901";
}
.li-enter-down:before {
    content: "\e902";
}
.li-enter-left:before {
    content: "\e903";
}
.li-enter-right:before {
    content: "\e904";
}
.li-exit-up:before {
    content: "\e905";
}
.li-exit-down:before {
    content: "\e906";
}
.li-exit-left:before {
    content: "\e907";
}
.li-exit-right:before {
    content: "\e908";
}
.li-share:before {
    content: "\e921";
}
.li-magnifier:before {
    content: "\e923";
}
.li-zoom-in:before {
    content: "\e927";
}
.li-zoom-out:before {
    content: "\e928";
}
.li-cross:before {
    content: "\e92b";
}
.li-exclamation:before {
    content: "\e946";
}
.li-question:before {
    content: "\e947";
}
.li-check-b:before {
    content: "\e91f";
}
.li-check:before {
    content: "\e948";
}
.li-cross2:before {
    content: "\e949";
}
.li-plus:before {
    content: "\e954";
}
.li-minus:before {
    content: "\e955";
}
.li-percent:before {
    content: "\e958";
}
.li-chevron-up:before {
    content: "\e96b";
}
.li-chevron-down:before {
    content: "\e96c";
}
.li-chevron-left:before {
    content: "\e96d";
}
.li-chevron-right:before {
    content: "\e96e";
}
.li-chevrons-expand-vertical:before {
    content: "\e96f";
}
.li-chevrons-expand-horizontal:before {
    content: "\e970";
}
.li-chevrons-contract-vertical:before {
    content: "\e973";
}
.li-chevrons-contract-horizontal:before {
    content: "\e974";
}
.li-arrow-up:before {
    content: "\e975";
}
.li-arrow-down:before {
    content: "\e976";
}
.li-arrow-left:before {
    content: "\e977";
}
.li-arrow-right:before {
    content: "\e978";
}
.li-arrow-up-right:before {
    content: "\e979";
}
.li-expand:before {
    content: "\e97a";
}
.li-contract:before {
    content: "\e97b";
}
.li-expand2:before {
    content: "\e97c";
}
.li-contract2:before {
    content: "\e97d";
}
.li-move:before {
    content: "\e97e";
}
.li-tab:before {
    content: "\e97f";
}
.li-arrow-wave:before {
    content: "\e980";
}
.li-expand3:before {
    content: "\e981";
}
.li-expand4:before {
    content: "\e982";
}
.li-contract3:before {
    content: "\e983";
}
.li-notification-circle:before {
    content: "\e984";
}
.li-question-circle:before {
    content: "\e985";
}
.li-checkmark-circle:before {
    content: "\e986";
}
.li-cross-circle:before {
    content: "\e987";
}
.li-plus-circle:before {
    content: "\e988";
}
.li-circle-minus:before {
    content: "\e989";
}
.li-percent-circle:before {
    content: "\e98a";
}
.li-arrow-up-circle:before {
    content: "\e98b";
}
.li-arrow-down-circle:before {
    content: "\e98c";
}
.li-arrow-left-circle:before {
    content: "\e99b";
}
.li-arrow-right-circle:before {
    content: "\e99c";
}
.li-chevron-up-circle:before {
    content: "\e99e";
}
.li-chevron-down-circle:before {
    content: "\e99f";
}
.li-chevron-left-circle:before {
    content: "\e9a0";
}
.li-chevron-right-circle:before {
    content: "\e9a1";
}
.li-backward-circle:before {
    content: "\e9a2";
}
.li-first-circle:before {
    content: "\e9a3";
}
.li-previous-circle:before {
    content: "\e9a4";
}
.li-stop-circle:before {
    content: "\e9a5";
}
.li-play-circle:before {
    content: "\e9a6";
}
.li-frame-expand:before {
    content: "\e9a7";
}
.li-frame-contract:before {
    content: "\e9a8";
}
.li-square:before {
    content: "\e9a9";
}
.li-plus-square:before {
    content: "\e9aa";
}
.li-minus-square:before {
    content: "\e9ab";
}
.li-percent-square:before {
    content: "\e9ac";
}
.li-arrow-up-square:before {
    content: "\e9ad";
}
.li-arrow-down-square:before {
    content: "\e9ae";
}
.li-arrow-left-square:before {
    content: "\e9af";
}
.li-arrow-right-square:before {
    content: "\e9b0";
}
.li-chevron-up-square:before {
    content: "\e9b1";
}
.li-chevron-down-square:before {
    content: "\e9b2";
}
.li-chevron-left-square:before {
    content: "\e9b3";
}
.li-chevron-right-square:before {
    content: "\e9b4";
}
.li-check-square:before {
    content: "\e9bb";
}
.li-cross-square:before {
    content: "\e9bc";
}
.li-circle:before {
    content: "\e9bd";
}
.li-sort-alpha-asc2:before {
    content: "\e9be";
}
.li-sort-alpha-desc:before {
    content: "\e9de";
}
.li-sort-numeric-asc:before {
    content: "\e9df";
}
.li-sort-numeric-desc:before {
    content: "\e9e0";
}
.li-sort-amount-asc:before {
    content: "\e9e1";
}
.li-sort-amount-desc:before {
    content: "\e9e2";
}
.li-hand:before {
    content: "\e9e3";
}
.li-pointer-up:before {
    content: "\e9e4";
}
.li-pointer-right:before {
    content: "\e9e5";
}
.li-pointer-down:before {
    content: "\e9e6";
}
.li-pointer-left:before {
    content: "\e9e7";
}
.li-finger-tap:before {
    content: "\e9e8";
}
.li-fingers-tap:before {
    content: "\e9ea";
}
.li-reminder:before {
    content: "\e9eb";
}
.li-fingers-crossed:before {
    content: "\e9ec";
}
.li-fingers-victory:before {
    content: "\e9ed";
}
.li-gesture-zoom:before {
    content: "\e9ee";
}
.li-gesture-pinch:before {
    content: "\e9ef";
}
.li-fingers-scroll-horizontal:before {
    content: "\e9f0";
}
.li-fingers-scroll-vertical:before {
    content: "\e9f1";
}
.li-fingers-scroll-left:before {
    content: "\e9f2";
}
.li-fingers-scroll-right:before {
    content: "\e9f3";
}
.li-hand2:before {
    content: "\e9f4";
}
.li-pointer-up2:before {
    content: "\e9f5";
}
.li-pointer-right2:before {
    content: "\e9f6";
}
.li-pointer-down2:before {
    content: "\e9f7";
}
.li-pointer-left2:before {
    content: "\e9f8";
}
.li-finger-tap2:before {
    content: "\e9f9";
}
.li-fingers-tap2:before {
    content: "\e9fa";
}
.li-reminder2:before {
    content: "\e9fb";
}
.li-gesture-zoom2:before {
    content: "\e9fc";
}
.li-gesture-pinch2:before {
    content: "\e9fd";
}
.li-fingers-scroll-horizontal2:before {
    content: "\e9fe";
}
.li-fingers-scroll-vertical2:before {
    content: "\e9ff";
}
.li-fingers-scroll-left2:before {
    content: "\ea00";
}
.li-fingers-scroll-right2:before {
    content: "\ea01";
}
.li-fingers-scroll-vertical3:before {
    content: "\ea02";
}
.li-ellipsis2:before {
    content: "\ea03";
}
.li-hot-water:before {
    content: "\ea2f";
}
.li-atm:before {
    content: "\ea04";
}
.li-baby-meal:before {
    content: "\ea05";
}
.li-baby-pool:before {
    content: "\ea06";
}
.li-bbq:before {
    content: "\ea0e";
}
.li-carpet:before {
    content: "\ea0f";
}
.li-coffee-maker:before {
    content: "\ea10";
}
.li-dart:before {
    content: "\ea11";
}
.li-diving:before {
    content: "\ea12";
}
.li-dvd-player:before {
    content: "\ea13";
}
.li-fax:before {
    content: "\ea14";
}
.li-fishing:before {
    content: "\ea15";
}
.li-heater:before {
    content: "\ea16";
}
.li-horse-ride:before {
    content: "\ea17";
}
.li-hot-pool:before {
    content: "\ea18";
}
.li-infinity-pool:before {
    content: "\ea19";
}
.li-laptop-safe:before {
    content: "\ea1a";
}
.li-massage-chair:before {
    content: "\ea1b";
}
.li-motorbike:before {
    content: "\ea1c";
}
.li-outdoor-table:before {
    content: "\ea1d";
}
.li-pavers-floor:before {
    content: "\ea1e";
}
.li-photocopy:before {
    content: "\ea1f";
}
.li-picnic:before {
    content: "\ea20";
}
.li-playground:before {
    content: "\ea21";
}
.li-pool-bar:before {
    content: "\ea22";
}
.li-pool:before {
    content: "\ea23";
}
.li-private-beach:before {
    content: "\ea24";
}
.li-roof-pool:before {
    content: "\ea25";
}
.li-ship3:before {
    content: "\ea26";
}
.li-steam-bath2:before {
    content: "\ea28";
}
.li-water-boiler:before {
    content: "\ea29";
}
.li-wheelchair-wc:before {
    content: "\ea2a";
}
.li-windsurfing:before {
    content: "\ea2b";
}
.li-wood-floor:before {
    content: "\ea2c";
}
.li-yoga:before {
    content: "\ea2d";
}
.li-swim-indoor:before {
    content: "\ea07";
}
.li-internet:before {
    content: "\ea08";
    color: #000;
}
.li-air-conditioner:before {
    content: "\ea09";
}
.li-balcony:before {
    content: "\ea0a";
}
.li-bathrode:before {
    content: "\ea0b";
}
.li-cable-tv:before {
    content: "\ea0c";
}
.li-casino:before {
    content: "\ea0d";
}
.li-conference-room:before {
    content: "\ea27";
}
.li-elevator:before {
    content: "\ea2e";
}
.li-events-planning:before {
    content: "\ea30";
}
.li-fridge:before {
    content: "\ea31";
}
.li-hair-dryer:before {
    content: "\ea32";
}
.li-ironing:before {
    content: "\ea33";
}
.li-jacuzzi:before {
    content: "\ea34";
}
.li-lcd:before {
    content: "\ea35";
}
.li-massage:before {
    content: "\ea36";
}
.li-microwave:before {
    content: "\ea37";
}
.li-mini-kitchen:before {
    content: "\ea38";
}
.li-money-exchange:before {
    content: "\ea39";
}
.li-reception:before {
    content: "\ea3a";
}
.li-taxi2:before {
    content: "\ea3b";
}
.li-safe:before {
    content: "\ea3c";
}
.li-shower:before {
    content: "\ea3d";
}
.li-showering:before {
    content: "\ea3e";
}
.li-smoking-room:before {
    content: "\ea3f";
}
.li-spa:before {
    content: "\ea40";
}
.li-steam-bath:before {
    content: "\ea41";
}
.li-table:before {
    content: "\ea42";
}
.li-ticket22:before {
    content: "\ea43";
}
.li-water-bottles:before {
    content: "\ea44";
}
.li-family:before {
    content: "\ea45";
}
.li-bathtub:before {
    content: "\e606";
}
.li-toothbrush:before {
    content: "\e607";
}
.li-couch:before {
    content: "\e60a";
}
.li-fan:before {
    content: "\e644";
}
.li-broom:before {
    content: "\e684";
}
.li-gamepad:before {
    content: "\e685";
}
.li-news:before {
    content: "\e6d6";
}
.li-library:before {
    content: "\e718";
}
.li-users:before {
    content: "\e722";
}
.li-group-work:before {
    content: "\e726";
}
.li-baby3:before {
    content: "\e737";
}
.li-flip-flops:before {
    content: "\e740";
}
.li-hanger:before {
    content: "\e742";
}
.li-laundry:before {
    content: "\e743";
}
.li-store:before {
    content: "\e744";
}
.li-haircut:before {
    content: "\e745";
}
.li-bag2:before {
    content: "\e74c";
}
.li-cart:before {
    content: "\e74d";
}
.li-telephone23:before {
    content: "\e796";
}
.li-gift:before {
    content: "\e7ff";
}
.li-teacup:before {
    content: "\e80b";
}
.li-glass-cocktail:before {
    content: "\e80f";
}
.li-dinner:before {
    content: "\e812";
}
.li-platter:before {
    content: "\e819";
}
.li-coffee-cup:before {
    content: "\e828";
}
.li-landscape:before {
    content: "\e834";
}
.li-paw:before {
    content: "\e835";
}
.li-dolly:before {
    content: "\e83c";
}
.li-bus:before {
    content: "\e84d";
}
.li-bus2:before {
    content: "\e84e";
}
.li-bicycle:before {
    content: "\e85f";
}
.li-dumbbell:before {
    content: "\e861";
}
.li-swim:before {
    content: "\e863";
}
.li-tennis2:before {
    content: "\e868";
}
.li-ping-pong:before {
    content: "\e869";
}
.li-ball:before {
    content: "\e86b";
}
.li-bowling-pins:before {
    content: "\e86d";
}
.li-golf2:before {
    content: "\e86f";
}
.li-wheelchair:before {
    content: "\e87a";
}
.li-wifi:before {
    content: "\e8b7";
}
.li-mic2:before {
    content: "\e8cd";
}
.li-alarm2:before {
    content: "\e8ea";
}
.li-grid:before {
    content: "\ea46";
}
.li-heart2:before {
    content: "\e91b";
}
.li-heart:before {
    content: "\e68c";
}
.li-star2-o:before {
    content: "\ea47";
}
.li-star2:before {
    content: "\e91c";
}
