// ##### Table #####
// You have to include create_table. if you want to use mt-table.
@include create_table; // .mt-table
// If you don't like default name, You can edit new name with .new_class_name, #new_id_name or [attribute]
// @include custom_table_name('.new_name');

// ##### Create table size #####
// You have to include default size for .mt-table
@include create_table_size; // .mt-table_size
// You can modify size if you don't like default size. But you make sure don't change default name .mt-table_size
// @include custom_table_size('.mt-table_size', 15px);
// Ex: // @include custom_table_size('.mt-table_size', 15px);

// Or, you can create new option, new name with .new_class_name, #new_id_name or [attribute]
// @include custom_table_size('.new_name', 15px);
// Ex: // @include custom_table_size('.new_name', 15px);

// ##### Create table style #####
// You have to include default lienstyle for .mt-table
@include create_table_style; // .mt-table-style
// You can modify style if you don't like default style. But you make sure don't change default name .mt-table-style
// @include custom_table_style('.mt-table-style', $white, $info, $white);
// Ex: @include custom_table_style('.mt-table_style', #fff, green, white);
// @include custom_table_style('.new-name', $main-text-color, $white, $table_border_color, $blueberry-light-10, $blueberry-light-40);

// Create table with background header
@include create_table_bg_header();
// You can custom name the table bg header by using
// @include custom_table_bg_header('new-name', $pink)

///////////////////////////////////////
//table with background thead
// s@include create_table_head_bg;

// Or, you can create new option, new name with .new_class_name, #new_id_name or [attribute]
// @include custom_table_style('.new_name', $white, $info, $white);
// Ex: @include custom_table_style('.new_name', #fff, green, white);

// ##### Zebra-striping #####
// Create table striped option for .mt-table
@include create_table_striped; // .mt-table_striped

// You can modify style if you don't like default style. But you make sure don't change default name .mt-table_striped
// @include custom_table_striped($name, $colors, $$bg_colors);
// Ex: @include custom_table_striped('.mt-table_striped', #fff, #ddd);

// You can edit new name, If you don't like default name with .new_class_name, #new_id_name or [attribute]
// @include custom_table_striped($name, $colors, $$bg_colors);
// Ex: @include custom_table_striped('.new_name', #fff, #ddd);

// ##### Hover effect #####
// Create table hover option for .mt-table
@include create_table_hover; // .mt-table_hover

// You can modify style if you don't like default style. But you make sure don't change default name .mt-table_hover
// @include custom_table_hover($name, $colors, $$bg_colors);
// Ex: @include custom_table_hover('.mt-table_hover', #fff, #ddd);

// You can edit new name, If you don't like default name with .new_class_name, #new_id_name or [attribute]
// @include custom_table_hover($name, $colors, $$bg_colors);
// Ex: @include custom_table_hover('.new_name', #fff, #ddd);

// ##### Bordered #####
// Create table border option for .mt-table_bordered
// @include create_table_bordered; // .mt-table_bordered

// You can modify style if you don't like default style. But you make sure don't change default name .mt-table_border
// @include custom_table_hover($name, $borders);
// Ex: @include custom_table_bordered('.mt-table_bordered', 1px);

// You can edit new name, If you don't like default name with .new_class_name, #new_id_name or [attribute]
// @include custom_table_hover($name, $borders);
// Ex: @include custom_table_bordered('.new_name', 1px);

// ##### Table Responsive #####
// Create table striped option .mt-table .mt-table_responsive
// @include create_table_responsive; // mt-table_responsive

// You can edit new name, If you don't like default name with .new_class_name, #new_id_name or [attribute]
// @include create_table_responsive('.new_name');
