//##### px to rem conversion if :root font_size is 16px #####
$rem: 0.0625rem;
// ##### Typography #####
$font-family-df: Roboto, sans-serif !default;
$font-size-df: 14 * $rem !default; // root all pages
$line-height-df: 1.5 !default;
$font-size-h1: 40 * $rem !default;
$font-size-h2: 32 * $rem !default;
$font-size-h3: 28 * $rem !default;
$font-size-h4: 24 * $rem !default;
$font-size-h5: 18 * $rem !default;
$font-size-h6: 16 * $rem !default;
$font-size-description: 12 * $rem !default;

// Colors option

$main-text-color: #354052;
$sub-text-color: #7f8fa4;
$main-bg-color: #eff3f6;

$blue-light-30: #99def9;
$blue-light-20: #4dc6f4;
$blue-light-10: #26b9f1;
$blue: #00adef;
$blue-dark-10: #0093cb;
$blue-dark-20: #0079a7;
$blue-dark-30: #003447;

$pink-light-30: #f7a5c0;
$pink-light-20: #f06391;
$pink-light-10: #ed4079;
$pink: #ea1f62;
$pink-dark-10: #c71a53;
$pink-dark-20: #a31644;
$pink-dark-30: #46091d;

$green-light-30: #a4e3ae;
$green-light-20: #60ce71;
$green-light-10: #3dc352;
$green: #1bb934;
$green-dark-10: #179d2c;
$green-dark-20: #138124;
$green-dark-30: #08370f;

$orange-light-30: #ffd599;
$orange-light-20: #ffb64e;
$orange-light-10: #ffa627;
$orange: #ff9701;
$orange-dark-10: #d98001;
$orange-dark-20: #b26901;
$orange-dark-30: #4c2d00;

$red-light-30: #f8a4a7;
$red-light-20: #f26166;
$red-light-10: #f03e45;
$red: #ed1c24;
$red-dark-10: #ca181f;
$red-dark-20: #a51419;
$red-dark-30: #47080b;

$blueberry: #354052;
$blueberry-light-10: #7f8fa4;
$blueberry-light-20: #ced0da;
$blueberry-light-30: #dfe3e9;
$blueberry-light-40: #e9edf1;
$blueberry-light-50: #eff3f6;
$blueberry-light-60: #f1f4f8;

$white: #ffffff;
$white-dark-10: #f7f7f7;
$white-dark-20: #e7e8e9;

// Link && Text Color
$link-color: $blue !default;
$link-color-hover: darken($blue, 10%) !default;
$text-color: $white !default;

$text-muted: #7f8fa4 !default;

$border_df: 1px solid darken($white-dark-10, 5%) !default;

//##### Vertical & Horizotal padding #####
$padding_lg_vertical: 12 * $rem !default; // 0.625rem
$padding_lg_horizontal: 16 * $rem !default; // 1rem

$padding_df_vertical: 8 * $rem !default; // 0.375rem
$padding_df_horizontal: 12 * $rem !default; // 0.75rem

$padding_sm_vertical: 5 * $rem !default; // 0.3125rem
$padding_sm_horizontal: 10 * $rem !default; // 0.625rem

$padding_xs_vertical: $rem !default; // 0.0625rem
$padding_xs_horizontal: 5 * $rem !default;

$padding_lg: 20 * $rem !default;
$padding_df: 15 * $rem !default;
$padding_sm: 10 * $rem !default;
$padding_xs: 5 * $rem !default;
$padding_xxs: 1 * $rem !default;

//##### Z-Index #####
$z_index_lg: 20 !default;
$z_index_df: 15 !default;
$z_index_sm: 10 !default;
$z_index_xs: 5 !default;
$z_index_xxs: -1 !default;

//##### Layout _ boder_radius #####
//$border_radius_round   : 18*$rem !default;
$border_radius_lg: 6 * $rem !default;
$border_radius_df: 4 * $rem !default;
$border_radius_sm: 3 * $rem !default;
$border_radius_xs: 2 * $rem !default;
$border_radius_xxs: 1 * $rem !default;

//##### Tables #####
$table_border_color: $blueberry-light-30;
$table_bg_hover: $white-dark-10;
$table_cell_padding: 10 * $rem;

//##### Drop Shadow #####
$dropshadow-lv1: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
$dropshadow-lv2: 0 10px 20px 0 rgba(0, 0, 0, 0.05);

$dropshadow-lv3: 0 2px 2px 0 rgba(0, 0, 0, 0.05),
    0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.05);

$dropshadow-lv6: 0 2px 2px 0 rgba(0, 0, 0, 0.05),
    0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.05),
    0 16px 16px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.05),
    0 64px 64px 0 rgba(0, 0, 0, 0.05);

//##### Grid system #####
//## Define your custom responsive grid.
//** Number of columns in the grid.
$grid_columns: 12 !default;

//** Padding between columns. Gets divided in half for the left and right.
$grid_gutter_width: 30px !default;

//##### Media queries breakpoints #####
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
// All screen / phone
$screen_all: 0 !default;
// Extra small screen / phone
$screen_phone: 568px !default;
// Small screen / tablet
$screen_tablet: 768px !default;
// Medium screen / desktop
$screen_desktop: 992px !default;
// Large screen / wide desktop
$screen_desktop_large: 1200px !default;
// Custom colums width media
$custom_grid_breakpoints: null !default;
@each $names, $widths in ($custom_grid_breakpoints) {
    @if $names == "xsml" {
        // All screen / phone
        $screen_all: $widths;
    }
    @if $names == "xs" {
        // Extra small screen / phone
        $screen_phone: $widths;
    }
    @if $names == "sm" {
        // Small screen / tablet
        $screen_tablet: $widths;
    }
    @if $names == "md" {
        // Medium screen / desktop
        $screen_desktop: $widths;
    }
    @if $names == "lg" {
        // Large screen / wide desktop
        $screen_desktop_large: $widths;
    }
}
$screen_responsive_breakpoints: (
    "xsml": $screen_all,
    // >> 0
        "xs": $screen_phone,
    // >> 568
        "sm": $screen_tablet,
    // >> 768
        "md": $screen_desktop,
    // >> 992
        "lg": $screen_desktop_large
);

// So media queries don't overlap when required, provide a maximum
$screen_phone_max: ($screen_tablet - 1) !default; // 767 <=
$screen_tablet_max: ($screen_desktop - 1) !default; // 991 <=
$screen_desktop_max: ($screen_desktop_large - 1) !default; // 1199 <=

//##### Container sizes #####
//## Define the maximum width of `.container` for different screen sizes.
// Extra small screen / phone
$container_all: 100% !default;
// Extra small screen / phone
$container_phone: 538px !default;
// Small screen / tablet
$container_tablet: 720px !default;
// Medium screen / desktop
$container_desktop: 960px !default;
// Large screen / wide desktop
$container_desktop_large: 1140px !default;
// Custom only width container media xs, sm, md, lg
$custom_container_max_widths: (
    xsml: $container_all,
    xs: $container_phone,
    sm: $container_tablet,
    md: $container_desktop,
    lg: $container_desktop_large
) !default;

//##### Alert #####

//##### spacings #####
$spacers: () !default;
$spacers: map_merge(
    (
        0: 0,
        1: 0.25rem,
        2: 0.5rem,
        3: 1rem,
        4: 1.5rem,
        5: 3rem
    ),
    $spacers
);

//region Default component classnames
$className_table: ".mt-table";
$className_button: ".mt-btn";
//endregion
