// thumbnail

@mixin create-box-shadow($none: false) {
    @if ($none) {
        &,
        &:hover {
            @include box-shadow(none);
        }
    } @else {
        @include box-shadow(-2px 0 20px 0 rgba(0, 0, 0, 0.05)); // new
        &:hover {
            @include box-shadow($dropshadow-lv6); //new
        }
    }
}

@mixin create_card($name-card) {
    #{$name-card} {
        @include border-radius(4px);
        @include transition-timing-function(
            cubic-bezier(0.165, 0.84, 0.44, 1)
        ); //new
        overflow: hidden;
        background: #fff;
        margin-bottom: $padding_df;
        display: inline-block; // new

        @include create-box-shadow();

        @at-root a#{&} {
            display: inline-block;
            &,
            &:hover,
            &:focus,
            &:visited {
                text-decoration: none;
                color: inherit;
            }
        }

        &-img {
            //new
            @include border-top-radius(4px);
            overflow: hidden;

            //styling img inside div.card-img or img.card-img itself
            img#{&},
            > img {
                width: 100%;
                height: auto;
            }

            //if card-img is div and it contains children
            @at-root div#{&} {
                position: relative;
                &-overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-image: linear-gradient(
                        to top,
                        rgba(0, 0, 0, 0.8),
                        rgba(0, 0, 0, 0)
                    );
                }
                > .mt-card-body {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        //styling if there is a parent mt-accordion
        .mt-accordion > & {
            // disable box shadow inside accordion
            @include create-box-shadow(true);
            overflow: hidden;
            &:first-of-type {
                border-bottom: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            &:last-of-type {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}

@mixin custom_card_size($name, $padding) {
    .mt-card-#{$name} {
        .mt-card-header,
        .mt-card-body,
        .mt-card-footer {
            padding: $padding;
        }
    }
}
@mixin create_card_size {
    @include custom_card_size("default", $padding_df);
}

@mixin create_card_side_option($name) {
    @each $names, $paddings in ("lg", $padding_lg), ("default", $padding_df),
        ("xs", $padding_xs)
    {
        @if $name == $names {
            @include custom_card_size($names, $paddings);
        }
        @if $name == "all" {
            @include custom_card_size($names, $paddings);
        }
    }
}

@mixin custom_card_style($name, $colors, $borders-colors) {
    .mt-card-#{$name} {
        .mt-card-header {
            border-bottom: 1px solid $borders-colors;
            background-color: $colors;
        }
        .mt-card-footer {
            border-top: 1px solid $borders-colors;
            background-color: $colors;
        }
    }
}

@mixin create_card_style {
    @include custom_card_style("style", transparent, $blueberry-light-30);
}

@mixin create_card_style_option($name) {
    @each $names, $colors, $border-color in ("blue", $blue-light-30, $blue),
        ("green", $green-light-30, $green)
    {
        @if $name == $names {
            @include custom_card_style($names, $colors, $border-color);
        }
        @if $name == "all" {
            @include custom_card_style($names, $colors, $border-color);
        }
    }
}
