@mixin create_form_label() {
    // @include custom_input_name('.mt-form-control');
    .mt-form-label {
        font-weight: bold;
        display: inline-block;
        margin-bottom: 5 * $rem;
    }
}

@mixin create_form_sup() {
    .mt-form-sub {
        color: $red;
    }
}

@mixin create_form_group() {
    .mt-form-group {
        margin-bottom: 10 * $rem;
    }
}

@mixin create_form_inline() {
    // @include custom_input_name('.mt-form-control');
    .mt-form-inline {
        display: inline-block;
        .mt-form-control,
        .mt-form-group {
            width: auto;
            display: inline-block;
            margin-bottom: 0;
        }
    }
}

@mixin create_form_horizontal() {
    .mt-form-horizontal {
        .mt-default-label {
            text-align: right;
        }
    }
}
