// ##### Button size #####
// All Style Buttons
@mixin custom_btn_name($name) {
    #{$name} {
        outline: none;
        cursor: pointer;
        display: inline-block;
        @include transition(all 0.5s);
        font: 500 $font-size-df $font-family-df;
        letter-spacing: normal;
        line-break: auto;
        text-align: center;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        white-space: normal;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
    }
}

// Create button default name
@mixin create_btn() {
    @include custom_btn_name(".mt-btn");
}

// ##### Size Button #####
// Custom Button Size
// Import function from ../helpers/amp-sizes';
//@mixin custom_btn_size(
//    $name,
//    $paddings,
//    $font_sizes,
//    $line_heights,
//    $border_radius,
//    $border_widths
//) {
//    @include custom_mt_size(
//        $name,
//        $paddings,
//        $font_sizes,
//        $line_heights,
//        $border_radius,
//        $border_widths
//    );
//}

// Create Size Buttons
// TODO: hungphongbk: **Button** line height must equal 1 (from design)
@mixin create_btn_size() {
    @include custom_mt_size(
        ".mt-btn-size",
        ($padding_df_vertical $padding_df_horizontal),
        $font_size_df,
        1,
        $border_radius_df,
        $rem
    ); //@include custom_mt_size('.mt-btn-size-round', ($padding_df_vertical $padding_df_horizontal), $font_size_df, $line_height_df,  $border_radius_round, $rem);
}

// ##### END Size Button #####
// ##### Style Button #####
// Extend Style Buttons all pages
@mixin custom_btn_style(
    $name,
    $text_colors,
    $backgrounds,
    $border_styles,
    $border_colors,
    $text-colors-hover,
    $color-hover,
    $color-active
) {
    #{$name} {
        background-color: $backgrounds;
        border-style: $border_styles;
        border-color: $border_colors;
        & {
            color: $text_colors;
        }
        &:hover,
        &:active {
            color: $text_colors-hover;
        }
        &:active {
            border-color: $color-active;
        }
        &:hover,
        &:focus {
            background-color: $color-hover;
        }
        &:hover {
            border-color: $color-hover;
        }
        &:active {
            background-color: $color-active;
        }
        &.mt-btn-white {
            &:hover {
                border-color: $border_colors;
            }
        }

        // Add more class active button group or button have class active
        &.active {
            border-color: darken($border_colors, 30%);
            background-color: darken($backgrounds, 30%);
        }
    }
}

@mixin btn_style_option($name) {
    @each $names, $text_colors, $backgrounds, $border_styles, $border_colors,
        $text-colors-hover, $color-hover,
        $color-active
            in (
                "btn-green",
                $text-color,
                $green,
                solid,
                $green,
                $text-color,
                $green-dark-10,
                $green-dark-20
            ),
        (
            "btn-blue",
            $text_color,
            $blue,
            solid,
            $blue,
            $text-color,
            $blue-dark-10,
            $blue-dark-20
        ),
        (
            "btn-white",
            $main-text-color,
            $white,
            solid,
            $blueberry-light-30,
            $main-text-color,
            $white-dark-10,
            $white-dark-20
        ),
        (
            "btn-pink",
            $text_color,
            $pink,
            solid,
            $pink,
            $text-color,
            $pink-dark-10,
            $pink-dark-20
        ),
        (
            "btn-red",
            $text_color,
            $red,
            solid,
            $red,
            $text-color,
            $red-dark-10,
            $red-dark-20
        ),
        (
            "btn-orange",
            $text_color,
            $orange,
            solid,
            $orange,
            $text-color,
            $orange-dark-10,
            $orange-dark-20
        ),
        (
            "btn-outline-green",
            $green,
            $white,
            solid,
            $green,
            $text-color,
            $green-dark-10,
            $green-dark-20
        ),
        (
            "btn-outline-blue",
            $blue,
            $white,
            solid,
            $blue,
            $text-color,
            $blue-dark-10,
            $blue-dark-20
        ),
        (
            "btn-outline-pink",
            $pink,
            $white,
            solid,
            $pink,
            $text-color,
            $pink-dark-10,
            $pink-dark-20
        ),
        (
            "btn-outline-red",
            $red,
            $white,
            solid,
            $red,
            $text-color,
            $red-dark-10,
            $red-dark-20
        ),
        (
            "btn-outline-orange",
            $orange,
            $white,
            solid,
            $orange,
            $text-color,
            $orange-dark-10,
            $orange-dark-20
        ),
        (
            "btn-text-blue",
            $blue,
            transparent,
            none,
            transparent,
            $blue,
            $blueberry-light-30,
            $blueberry-light-20
        ),
        (
            "btn-text-gray",
            $sub-text-color,
            transparent,
            none,
            transparent,
            $sub-text-color,
            $blueberry-light-30,
            $blueberry-light-20
        )
    {
        @if $name==$names {
            @include custom_btn_style(
                ".mt-#{$name}",
                $text_colors,
                $backgrounds,
                $border_styles,
                $border_colors,
                $text-colors-hover,
                $color-hover,
                $color-active
            );
        }
        @if $name== "all" {
            @include custom_btn_style(
                ".mt-#{$names}",
                $text_colors,
                $backgrounds,
                $border_styles,
                $border_colors,
                $text-colors-hover,
                $color-hover,
                $color-active
            );
        }
    }
}

// Custom Button Style Buttons
@mixin create_btn_style() {
    @include custom_btn_style(
        ".amp_btn_style",
        $text_color,
        #fff,
        solid,
        $default
    );
}

// ##### END Dropdown Button #####
// ##### Buttons Group #####
// Extend button group style
@mixin btn_group_extend($roundeds) {
    position: relative;
    display: inline-block;
    > [class*="btn-group-light-bg"] {
        & {
            @include border-radius(0);
            display: inline-block;
            position: relative;
            outline: none;
            &.active,
            &:hover,
            &:focus,
            &:active {
                border-color: transparent;
                background-color: $blueberry-light-40;
                z-index: $z_index_xs;
            }
        }
        & + [class*="btn-group-light-bg"] {
            margin-left: -5px;
        }
        &:first-child {
            @include border-left-radius($roundeds);
        }
        &:last-child {
            @include border-right-radius($roundeds);
        }
    }
    > [class*="btn-group-df"] {
        & {
            @include border-radius(0);
            display: inline-block;
            outline: none;
            position: relative;
            &.active,
            &:hover,
            &:focus,
            &:active {
                border-color: transparent;
                background-color: $blue;
                z-index: $z_index_xs;
                color: $white;
            }
        }
        & + [class*="btn-group-df"] {
            margin-left: -5px;
        }
        &:first-child {
            @include border-left-radius($roundeds);
        }
        &:last-child {
            @include border-right-radius($roundeds);
        }
    }
}

@mixin create_btn_group() {
    .mt-btn-group {
        @include btn_group_extend($border-radius-df);
    }
}

@mixin custom_btn_group($name_group, $rounded) {
    #{$name_group} {
        @include btn_group_extend($rounded);
    }
}

// ##### End Buttons Group #####
// ##### Button Rounded #####
@mixin create_btn_rounded() {
    .mt-btn-rounded {
        @include border-radius(100 * $rem);
    }
}

@mixin custom_btn_rounded($name_rounded, $rounded) {
    .#{$name_rounded} {
        @include border-radius($rounded);
    }
}
// ##### ENd Button Rounded #####

// ##### Block Buttons #####
@mixin create_btn_block() {
    .mt-btn-block {
        width: 100%;
    }
}
@mixin custom_btn_block($name_block) {
    #{$name_block} {
        width: 100%;
    }
}

@mixin custom_btn_caret($name, $boder-left, $border-color) {
    #{$name} {
        @include border-left-radius(0);
        border-left: $boder-left;
        margin-left: -4px;
        padding-left: 7px;
        padding-right: 7px;
        &:hover {
            border-color: $border-color;
        }
        & i {
            vertical-align: middle;
            font-size: 10px;
            font-weight: bold;
        }
    }
}

@mixin create_btn_caret($name) {
    @each $names, $border-left,
        $border-colors in ("caret-blue", 1px solid $blue-dark-20, $blue-dark-20),
        ("caret-pink", 1px solid $pink-dark-20, $pink-dark-20),
        ("caret-green", 1px solid $green-dark-20, $green-dark-20),
        ("caret-orange", 1px solid $orange-dark-20, $orange-dark-20),
        ("caret-red", 1px solid $red-dark-20, $red-dark-20),
        ("caret-white", 1px solid $white-dark-20, $white-dark-20)
    {
        @if $name==$names {
            @include custom_btn_caret(
                ".mt-#{$names}",
                $border-left,
                $border-colors
            );
        }
        @if $name== "all" {
            @include custom_btn_caret(
                ".mt-#{$names}",
                $border-left,
                $border-colors
            );
        }
    }
}

//Create Dropdown Button
@mixin create_drop_btn() {
    .mt-dropdown-btn-group {
        position: relative;
        display: inline-block;
        .mt-dropdown-btn {
            @include border-right-radius(0);
        }
        .mt-dropdown-menu {
            position: absolute;
            background-color: $blueberry-light-20;
            z-index: 9;
            display: none;
            .mt-dropdown-divider {
                height: 1px;
                background-color: $blueberry-light-10;
            }
            .mt-dropdown-item {
                display: block;
                color: $main-text-color;
                text-decoration: none;
                width: 100%;
                padding: 0.25rem 1.5rem;
                background-color: transparent;
                border: 0;
                &:hover {
                    background-color: $blue;
                }
            }
        }
    }
}

//move to UI
.lds-spinner {
    @include transform(scale(0.3, 0.3));
    // color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    // height: 64px;
    margin-bottom: 15px;
}
.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #fff;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@mixin create_btn_disabled() {
    .mt-btn {
        &.disabled,
        &:disabled {
            border: solid 1px #dfe3e9;
            background-color: #e9edf1;
            color: rgba(53, 64, 82, 0.5);
        }
    }
}

// ##### END Block Buttons #####
