// ##### Labels Css #####
// Extend progress bars
@mixin extend_progress() {
    overflow: hidden;
    // background: $blueberry-light-20;
    @include border-radius(4px);
    background-color: $blueberry-light-30;
    margin-bottom: $padding_df;

    &-bar {
        color: #fff;
        float: left;
        height: inherit;
        text-align: center;
        display: inline-block;
        @include transition(width 0.6s ease);
    }
}
// Create Progress
@mixin create_progress() {
    $name: "mt-progress";
    .#{$name} {
        @include extend_progress;
    }
    @include custom_progress_size(
        "mt-progress-bar",
        8 * $rem,
        70%,
        $border_radius_df
    );
}
// Custom progress size + extend
@mixin custom_progress_size($name, $heights, $widths, $border_radius) {
    // animation option
    @keyframes progress_bar_stripes {
        from {
            background-position: $heights 0;
        }
        to {
            background-position: 0 0;
        }
    }
    @if $name == "mt-progress" {
        .#{$name} {
            height: $heights;
            width: $widths;
            font-size: $heights/1.3;
            @include border-radius($border_radius);
        }
    }
    @if $name != "mt-progress" {
        .#{$name} {
            height: $heights;
            width: $widths;
            font-size: $heights/1.3;
            @include border-radius($border_radius);
        }
    }
}

// Create progress style
@mixin create_progress_style($name) {
    @each $names, $backgrounds in ("blue", $blue), ("green", $green),
        ("pink", $pink), ("red", $red), ("orange", $orange),
        ("blueberry-light", $blueberry-light-10)
    {
        @if $names == $name {
            .mt-progress-#{$name} {
                background-color: $backgrounds;
            }
        }
        @if $name == "all" {
            .mt-progress-#{$names} {
                background-color: $backgrounds;
            }
        }
    }
}
// Custom progress style
@mixin custom_progress_style($name, $backgrounds) {
    #{$name} {
        background-color: $backgrounds;
    }
}
