// ##### Tooltips Css #####
@mixin extend_tooltip() {
    position: relative;
    display: inline-block; //new
    &-content,
    &::after,
    .mt-tooltip-arrow {
        display: none;
        position: absolute;
        z-index: $z_index_lg;
    }
    &::before {
        display: none;
        position: absolute;
        z-index: $z_index_df;
    }
    &-content {
        white-space: normal;
        text-align: center;
        font-weight: 500;
    }
    &::before,
    &::after,
    .mt-tooltip-arrow {
        content: "";
        border: solid transparent;
    }

    //TODO: #info using js to insert class instead of :hover pseudo code
    &-hover {
        .mt-tooltip-content,
        &::after,
        &::before {
            display: block;
        }
    }
    // .mt-tooltip_focus
    &_focus:hover {
        .mt-tooltip-content,
        &::after,
        &::before {
            display: none;
        }
    }

    &:active,
    &:focus {
        .mt-tooltip-content,
        &::after,
        &::before {
            display: block;
        }
    }

    // .mt-tooltip_toggle
    &_toggle {
        .mt-tooltip-content,
        .mt-tooltip-arrow {
            display: block;
        }
        &:hover,
        &:active,
        &:focus {
            &::after,
            &::before {
                display: none;
            }
        }
    }
}
// Set name value default tooltip
@mixin create_tooltip() {
    .mt-tooltip {
        @include extend_tooltip;
    }
}
// Custom tooltip name
// @mixin custom_tooltip_name($name) {
// 	#{$name} {
// 		@include extend_tooltip;
// 	}
// }

// Custom tooltip style
@mixin custom_tooltip_style(
    $name,
    $bg_colors,
    $text_colors,
    $border,
    $border-color-before
) {
    .mt-tooltip-#{$name} {
        .mt-tooltip-content {
            color: $text_colors;
            background: $bg_colors;
            border: $border;
        }
        @each $names in "top", "right", "bottom", "left" {
            &.mt-tooltip-#{$names} {
                &::after,
                .mt-tooltip-arrow {
                    border-#{$names}-color: $bg_colors;
                }
                &::before,
                .mt-tooltip-arrow {
                    border-#{$names}-color: $border-color-before;
                }
            }
        }
    }
}

@mixin create_tooltip_style {
    @include custom_tooltip_style(
        "style",
        $white,
        $main-text-color,
        1px solid $blueberry-light-20,
        $blueberry-light-20
    );
    @include custom_tooltip_style("dark", $blueberry, $white, 0, transparent);
}

@mixin tooltip_style_option($name) {
    @each $names, $bg_colors, $text_colors, $border,
        $border-color-before in ("dark", $blueberry, $white, 0, transparent)
    {
        @if $name == $names {
            @include custom_tooltip_style(
                $names,
                $bg_colors,
                $text_colors,
                $border,
                $border-color-before
            );
        }
        @if $name == "all" {
            @include custom_tooltip_style(
                $names,
                $bg_colors,
                $text_colors,
                $border,
                $border-color-before
            );
        }
    }
}

// ##### SIZE #####
// Create tooltip size
// Custom tooltip size
@mixin custom_tooltip_size($name, $border_radius, $paddings, $font_sizes) {
    .mt-tooltip-#{$name} {
        .mt-tooltip-content {
            padding: $paddings * (13.5/20) $paddings;
            font-size: $font_sizes;
            @include border-radius($border_radius);
            min-width: 120px;
        }
    }
}

@mixin create_tooltip_size() {
    @include custom_tooltip_size(
        "default",
        $border_radius_df,
        $padding_sm,
        14 * $rem
    );
}

@mixin create_tooltip_size_option($name) {
    @each $names, $border_radius, $paddings,
        $font_sizes in ("default", $border_radius_df, $padding_sm, 14 * $rem),
        ("lg", $border_radius_df, $padding_df, 16 * $rem)
    {
        @if $name == $names {
            @include custom_tooltip_size(
                $names,
                $border_radius,
                $paddings,
                $font_sizes
            );
        }
        @if $name == "all" {
            @include custom_tooltip_size(
                $names,
                $border_radius,
                $paddings,
                $font_sizes
            );
        }
    }
}
// ##### POSITION #####
// Custom tooltip postions
@mixin custom_tooltip_position($margin, $border_width) {
    @each $names, $absolute, $left_top in ("top", "bottom", "left"),
        ("right", "left", "top"), ("bottom", "top", "left"),
        ("left", "right", "top")
    {
        .mt-tooltip-#{$names} {
            .mt-tooltip-content {
                #{$absolute}: calc(100% + #{$margin} + #{$border_width});
                // 'top', 'right', 'bottom', 'left'
                @if $names == "top" or $names == "bottom" {
                    left: 50%;
                    transform: translateX(-50%);
                }
                @if $names == "left" or $names == "right" {
                    // top: 0;
                    top: -10px; //new, set arrow middle right and left border
                }
            }
            &::after,
            .mt-tooltip-arrow {
                #{$absolute}: calc(100% + #{$margin} - #{$border_width} + 1px);
                #{$left_top}: calc(50% - #{$border_width}); // arrow position
                border-width: $border_width;
            }
            &::before {
                #{$absolute}: calc(
                    100% + #{$margin} - #{$border_width} - 0.5px
                );
                #{$left_top}: calc(50% - #{$border_width}); // arrow position
                border-width: $border_width;
            }
        }
    }
}
// Create tooltip porisiont
@mixin create_tooltip_position() {
    @include custom_tooltip_position(5 * $rem, 8 * $rem);
}
