@mixin custom_dropdown_name($name) {
    #{$name} {
        @include border-radius(4px);
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: $z_index_lg;
        border: 1px solid $blueberry-light-30;
        &-item {
            margin: 0;
            cursor: pointer;
            &:active {
                color: $blue;
                background-color: $blueberry-light-60;
            }
            &:hover {
                background-color: lighten($blue-light-30, 10.59);
            }
        }
        &-icon {
            padding-right: 10px;
            font-size: 16px;
            line-height: 1.6em;
        }
        &-disabled {
            cursor: not-allowed;
            color: lighten($main-text-color, 49.02);
        }
        &-active {
            color: $blue;
            background-color: $blueberry-light-60;
        }
        &-input {
            border-bottom: 1px solid $blueberry-light-30;
        }
        &-item-divider {
            padding: 0;
            margin: 0;
            height: 1px;
            width: 100%;
            background-color: $blueberry-light-30;
        }
        &-scroll {
            position: relative;
            height: 200px;
            margin: 0;
            padding: 0;
            list-style: none;
            overflow-x: hidden;
            overflow-y: auto;
        }
        &-header {
            margin: 0;
            color: $blueberry-light-10;
            font-weight: bold;
        }
        //border top radius for active first li element
        .mt-dropdown-active:first-child {
            @include border-top-radius(4px);
        }
        //border bottom radius for active last li element
        .mt-dropdown-active:last-child {
            @include border-bottom-radius(4px);
        }
        // reset margin bottom of form group
        .mt-form-group {
            margin-bottom: 0;
        }
    }
}
@mixin create_dropdown_name() {
    @include custom_dropdown_name(".mt-dropdown");
}

@mixin custom_divider_item($name) {
    #{$name} {
        .mt-dropdown-item:not(:last-child) {
            border-bottom: 1px solid $blueberry-light-30;
        }
    }
}
//create default dropdown with border of item
@mixin create_divider_item {
    @include custom_divider_item(".mt-dropdown-divider");
}

@mixin custom_dropdown_size($name, $paddings) {
    .mt-dropdown-#{$name} {
        .mt-dropdown-item,
        .mt-dropdown-header,
        .mt-dropdown-input {
            padding: $paddings;
        }
    }
}
@mixin create_dropdown_size() {
    @include custom_dropdown_size("default", 6px 15px);
}

@mixin create_dropdown_size_option($name) {
    @each $names, $paddings in ("lg", 13px 15px), ("default", 6px 15px) {
        @if $name == $names {
            @include custom_dropdown_size($names, $paddings);
        }
        @if $name == "all" {
            @include custom_dropdown_size($names, $paddings);
        }
    }
}
