@mixin create_reset() {
    * {
        &,
        &:before,
        &:after {
            @include box-sizing(border-box);
        }
    }
    // Reset and set font default
    html {
        font-size: 16px; // root font size
        font-family: $font-family-df; // Set default font family to sans-serif.
    }
    // Reset and set style default
    body {
        line-height: $line-height-df;
        font-family: $font-family-df;
        font-size: $font-size-df;
        background: $main-bg-color;
        color: $text-color;
        margin: 0;
    }
    // ##### Basic HTML ####
    // Address differences between Firefox and other browsers.
    hr {
        border: none;
        border-bottom: 1px solid #ddd;
    }
    p {
        margin-top: 0;
    }
}
