%extend_heading {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

//##### Typography #####
@mixin font_utilities($name) {
    @each $names, $values in (mt-h1, $font-size-h1), (mt-h2, $font-size-h2),
        (mt-h3, $font-size-h3), (mt-h4, $font-size-h4), (mt-h5, $font-size-h5),
        (mt-h6, $font-size-h6), (mt-text-df, 0.875rem), (mt-text-desc, 0.75rem),
        (mt-text-smallest, 0.625rem)
    {
        @if $name == $names {
            .#{$name} {
                font-size: #{$values};
                @extend %extend_heading;
            }
        }
        @if $name == "all" {
            .#{$names} {
                font-size: #{$values};
                @extend %extend_heading;
            }
        }
    }
}

// ##### Alignment #####
@mixin text_utilities($name) {
    @each $names, $properties in (left, "text-align"), (right, "text-align"),
        (center, "text-align"), (justify, "text-align"),
        (lowercase, "text-transform"), (uppercase, "text-transform"),
        (capitalize, "text-transform"), (nowrap, "white-space"),
        (bold, "font-weight"), (normal, "font-weight"), (italic, "font-style")
    {
        @if $name == $names {
            .mt-text-#{$name} {
                #{$properties}: #{$name};
            }
        }
        @if $name == "all" {
            .mt-text-#{$names} {
                #{$properties}: #{$names};
            }
        }
    }
}

// ##### Blockquote #####
@mixin custom_blockquote_name($name) {
    #{$name} {
        padding: 10px 20px;
        margin: 0 0 20px;
        font-size: 16px;
        border-left: 5px solid #eee;
    }
}

@mixin create_blockquote() {
    @include custom_blockquote_name(".mt-blockquote");
}
