<div class="page-header">
    <h2 class="title-sm">Item Boxes</h2>
</div>
<div class="page-body">
    <div class="section" id="listBoxes">
        <h3 class="section-title">
            Boxes
            <p class="sub-title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima veniam,
                fugit itaque, velit alias eos fuga officiis iste ratione dolor voluptatibus placeat nesciunt error
                molestias
                voluptate deleniti hic.
            </p>
        </h3>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Box
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12 mt-col-sm-6">

                            <div class="mt-box mt-box-size mt-box-style">
                                <div class="mt-box-head">
                                  <h3 class="mt-h3">
                                    Starting from $522
                                  </h3>
                                </div>
                                <div class="mt-box-body">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi sit voluptatem libero laborum molestias maxime ut id dolorum dolorem similique praesentium necessitatibus et sint modi sequi consequatur, voluptas enim impedit?
                                </div>
                                <div class="mt-box-footer">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, qui, neque? Eius optio sed, saepe quos voluptatum harum, fugiat ducimus distinctio explicabo quae esse, error, delectus cupiditate beatae consectetur sit!
                                </div>
                            </div>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour box with footer--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-box"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-box-body"</span>&gt;</span>
        <span class="amp_tag">&lt;h6 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h6 mt-box-sub-title mt-text-blueberry-light-10"</span>&gt;</span>
        Starting from $522<span class="amp_tag">&lt;/h6&gt;</span>
        <span class="amp_tag">&lt;h5 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h5 mt-box-title"</span>&gt;</span>One Commercial Street Apartment<span class="amp_tag">&lt;/h5&gt;</span>
        <span class="amp_tag">&lt;p&gt;</span>Ut enim ad minim veniam<span class="amp_df">,</span> quis nostrud exercitation ullamco consectetur
        adipisicing elit Expedita doloribus minima veniam<span class="amp_df">,</span>....<span class="amp_tag">&lt;/p&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-box-footer"</span>&gt;</span>
        <span class="amp_tag">&lt;hr&gt;</span>
        <span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-box-date mt-text-blueberry-light-10"</span>&gt;</span>17/18/2018<span class="amp_tag">&lt;/p&gt;</span>
        <span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-box-view mt-text-blueberry-light-10"</span>&gt;</span><span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-eye"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>120
        <span class="amp_tag">&lt;/p&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
