<div class="page-header">
	<h2 class="title-sm">Buttons</h2>
</div>
<div class="page-body">
	<div class="mt-row">
		<div class="mt-col-xs-12">
			<h3 class="section-title">Buttons color</h3>
		</div>
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Button default color</h3>
				</div>
				<div class="box-body">
					<button class="mt-btn mt-size-md mt-btn-blue">mt-btn-blue</button>
					<button class="mt-btn mt-size-md mt-btn-green">mt-btn-green</button>
					<button class="mt-btn mt-size-md mt-btn-white">mt-btn-white</button>
					<button class="mt-btn mt-size-md mt-btn-pink">mt-btn-pink</button>
					<button class="mt-btn mt-size-md mt-btn-red">mt-btn-red</button>
					<button class="mt-btn mt-size-md mt-btn-orange">mt-btn-orange</button>
					<br>
					<br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Default blue button--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-blue"</span>&gt;</span>mt-btn-blue<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Default green button --&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-green"</span>&gt;</span>mt-btn-green<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Default white button --&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-white"</span>&gt;</span>mt-btn-white<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Default pink button --&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-pink"</span>&gt;</span>mt-btn-pink<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Default red button --&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-red"</span>&gt;</span>mt-btn-red<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Default orage button --&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-orange"</span>&gt;</span>mt-btn-orange<span class="amp_tag">&lt;/button&gt;</span></pre></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Button Outline</h3>
				</div>
				<div class="box-body">
					<button class="mt-btn mt-size-md mt-btn-outline-blue">mt-btn-blue-light</button>
					<button class="mt-btn mt-size-md mt-btn-outline-green">mt-btn-green-light</button>
					<button class="mt-btn mt-size-md mt-btn-white">mt-btn-white</button>
					<button class="mt-btn mt-size-md mt-btn-outline-pink">mt-btn-pink-light</button>
					<button class="mt-btn mt-size-md mt-btn-outline-red">mt-btn-red-light</button>
					<button class="mt-btn mt-size-md mt-btn-outline-orange">mt-btn-orange-light</button>
					<br><br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Blue button outline--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-outline-blue"</span>&gt;</span>mt-btn-blue-light<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Green button outline--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-outline-green"</span>&gt;</span>mt-btn-green-light<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--White button outline --&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-white"</span>&gt;</span>mt-btn-white<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Pink button outline--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-outline-pink"</span>&gt;</span>mt-btn-pink-light<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Red button outline--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-outline-red"</span>&gt;</span>mt-btn-red-light<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Orange button outline--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-outline-orange"</span>&gt;</span>mt-btn-orange-light<span class="amp_tag">&lt;/button&gt;</span></pre></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Button round</h3>
				</div>
				<div class="box-body">
					<button class="mt-btn mt-size-md mt-btn-blue mt-btn-rounded">mt-btn-rounded</button>
					<button class="mt-btn mt-size-md mt-btn-green mt-btn-rounded">mt-btn-rounded</button>
					<button class="mt-btn mt-size-md mt-btn-pink mt-btn-rounded">mt-btn-rounded</button>
					<button class="mt-btn mt-size-md mt-btn-red mt-btn-rounded">mt-btn-rounded</button>
					<button class="mt-btn mt-size-md mt-btn-orange mt-btn-rounded">mt-btn-rounded</button>
					<br><br>

<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Blue round button--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-blue mt-btn-rounded"</span>&gt;</span>mt-btn-rounded<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Green round button--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-green mt-btn-rounded"</span>&gt;</span>mt-btn-rounded<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Pink round button--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-pink mt-btn-rounded"</span>&gt;</span>mt-btn-rounded<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Red round button--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-red mt-btn-rounded"</span>&gt;</span>mt-btn-rounded<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Orange round button--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-orange mt-btn-rounded"</span>&gt;</span>mt-btn-rounded<span class="amp_tag">&lt;/button&gt;</span>
</pre></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Button Outline Rounded</h3>
				</div>
				<div class="box-body">
					<button class="mt-btn mt-size-md mt-btn-outline-blue mt-btn-rounded">mt-btn-rounded</button>
					<button class="mt-btn mt-size-md mt-btn-outline-green mt-btn-rounded">mt-btn-rounded</button>
					<button class="mt-btn mt-size-md mt-btn-outline-pink mt-btn-rounded">mt-btn-rounded</button>
					<button class="mt-btn mt-size-md mt-btn-outline-red mt-btn-rounded">mt-btn-rounded</button>
					<button class="mt-btn mt-size-md mt-btn-outline-orange mt-btn-rounded">mt-btn-rounded</button>
					<br><br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Blue round button outline--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-outline-blue mt-btn-rounded"</span>&gt;</span>mt-btn-rounded<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Green round button outline--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-outline-green mt-btn-rounded"</span>&gt;</span>mt-btn-rounded<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Pink round button outline--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-outline-pink mt-btn-rounded"</span>&gt;</span>mt-btn-rounded<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Red round button outline--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-outline-red mt-btn-rounded"</span>&gt;</span>mt-btn-rounded<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Orange round button outline--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-outline-orange mt-btn-rounded"</span>&gt;</span>mt-btn-rounded<span class="amp_tag">&lt;/button&gt;</span></pre></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Text button</h3>
				</div>
				<div class="box-body">
					<button class="mt-btn mt-size-md mt-btn-text-blue">mt-btn-text-blue</button>
					<button class="mt-btn mt-size-md mt-btn-text-gray">mt-btn-text-gray</button>
					<br><br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Blue text button--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-text-blue"</span>&gt;</span>mt-btn-text-blue<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Gray text button--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-text-gray"</span>&gt;</span>mt-btn-text-gray<span class="amp_tag">&lt;/button&gt;</span></pre></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Button size</h3>
				</div>
				<div class="box-body">
					<button class="mt-btn mt-size-lg mt-btn-blue">mt-size-lg</button>
					<button class="mt-btn mt-size-md mt-btn-blue">mt-size-md</button>
					<button class="mt-btn mt-size-sm mt-btn-blue">mt-size-sm</button>
					<button class="mt-btn mt-size-xs mt-btn-blue">mt-size-xs</button>
					<br><br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Button size lg--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-lg mt-btn-blue"</span>&gt;</span>mt-size-lg<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Default Button size--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-blue"</span>&gt;</span>mt-size-md<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Button size sm--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-sm mt-btn-blue"</span>&gt;</span>mt-size-sm<span class="amp_tag">&lt;/button&gt;</span>

<span class="amp_cm">&lt;!--Button size xs--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-xs mt-btn-blue"</span>&gt;</span>mt-size-xs<span class="amp_tag">&lt;/button&gt;</span></pre></div>
				</div>
			</div>
		</div>
	</div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header"><div class="box-header-title">Disabled button</div></div>
                <div class="box-body">
                    <p>Make buttons look inactive by adding the <code>disabled</code> boolean attribute or <code>.disabled</code> class to any <code>&lt;button&gt;</code> element</p>
                    <div>
                        <button class="mt-btn mt-size-md mt-btn-blue" disabled>Blue disabled</button>
                        <button class="mt-btn mt-size-md mt-btn-white disabled">White disabled</button>
                    </div>
                    <br>
                    <div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-blue"</span> disabled&gt;</span>Blue disabled<span class="amp_tag">&lt;/button&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-white disabled"</span>&gt;</span>White disabled<span class="amp_tag">&lt;/button&gt;</span></pre></div>
                </div>
            </div>
        </div>
    </div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Button group</h3>
				</div>
				<div class="box-body">
					<div class="mt-btn-group">
						<button class="btn-group-df mt-size-md mt-btn-white">Option 1</button>
						<button class="btn-group-df mt-size-md mt-btn-white">Option 2</button>
						<button class="btn-group-df mt-size-md mt-btn-white">Option 3</button>
					</div>
					<br>
					<div class="mt-btn-group" style="margin-top: 10px;">
						<button class=" btn-group-light-bg mt-size-md mt-btn-white">Option 1</button>
						<button class=" btn-group-light-bg mt-size-md mt-btn-white">Option 2</button>
						<button class=" btn-group-light-bg mt-size-md mt-btn-white">Option 3</button>
					</div>
					<br><br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Blue group button--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn-group"</span>&gt;</span>
    <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span     class="amp_vl">"btn-group-df mt-size-md mt-btn-white"</span>&gt;</span>Option 1<span class="amp_tag">&lt;/button&gt;</span>
    <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span     class="amp_vl">"btn-group-df mt-size-md mt-btn-white"</span>&gt;</span>Option 2<span class="amp_tag">&lt;/button&gt;</span>
    <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span     class="amp_vl">"btn-group-df mt-size-md mt-btn-white"</span>&gt;</span>Option 3<span class="amp_tag">&lt;/button&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Gray group button--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn-group"</span>&gt;</span>
    <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span    class="amp_vl">"btn-group-light-bg mt-size-md mt-btn-white"</span>&gt;</span>Option 1<span class="amp_tag">&lt;/button&gt;</span>
    <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span    class="amp_vl">"btn-group-light-bg mt-size-md mt-btn-white"</span>&gt;</span>Option 2<span class="amp_tag">&lt;/button&gt;</span>
    <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span    class="amp_vl">"btn-group-light-bg mt-size-md mt-btn-white"</span>&gt;</span>Option 3<span class="amp_tag">&lt;/button&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Dropdown button</h3>
				</div>
				<div class="box-body">
					<div class="mt-dropdown-btn-group">
						<button class="mt-btn mt-size-md mt-btn-green mt-dropdown-btn">Button</button>
						<button class="mt-btn mt-size-md mt-btn-green mt-caret-green js_dropdown_toggle_menu"><i class="li-chevron-down"></i></button>
						<div class="mt-dropdown-menu">
							<a class="mt-dropdown-item" href="#">Action</a>
							<a class="mt-dropdown-item" href="#">Another</a>
							<a class="mt-dropdown-item" href="#">Something</a>
							<div class="mt-dropdown-divider"></div>
							<a class="mt-dropdown-item" href="#">Separated</a>
						</div>
					</div>
					<br><br>

<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Dropdown button--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-btn-group"</span>&gt;</span>
    <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span     class="amp_vl">"mt-btn mt-size-md mt-btn-green mt-dropdown-btn"</span>&gt;</span>Button<span class="amp_tag">&lt;/button
    <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span     class="amp_vl">"mt-btn mt-size-md mt-btn-green mt-caret-green js_dropdown_toggle_menu"</span>&gt;</span><span class="amp_tag">
    &lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-chevron-down"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span><span     class="amp_tag">&lt;/button&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span     class="amp_vl">"mt-dropdown-menu"</span>&gt;</span>
        <span class="amp_tag">&lt;a <span class="amp_attr">class=</span><span         class="amp_vl">"mt-dropdown-item"</span><span  class="amp_attr"> href=</span><span class="amp_vl">"#"</span>&gt;</span>Action<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;a <span class="amp_attr">class=</span><span         class="amp_vl">"mt-dropdown-item"</span><span class="amp_attr"> href=</span><span class="amp_vl">"#"</span>&gt;</span>Another<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;a <span class="amp_attr">class=</span><span         class="amp_vl">"mt-dropdown-item"</span><span class="amp_attr"> href=</span><span class="amp_vl">"#"</span>&gt;</span>Something<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span         class="amp_vl">"mt-dropdown-divider"</span>&gt;</span><span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;a <span class="amp_attr">class=</span><span         class="amp_vl">"mt-dropdown-item"</span><span class="amp_attr"> href=</span><span class="amp_vl">"#"</span>&gt;</span>Separated<span class="amp_tag">&lt;/a&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Button with icon</h3>
				</div>
				<div class="box-body">
					<button class="mt-btn mt-size-lg mt-btn-blue"><i class="li-envelope"></i> Button</button>
					<button class="mt-btn mt-size-md mt-btn-green"><i class="li-envelope"></i> Button</button>
					<button class="mt-btn mt-size-sm mt-btn-red"><i class="li-envelope"></i> Button</button>
					<br><br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Button with icon--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-lg mt-btn-blue"</span>&gt;</span><span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-envelope"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span> Button<span class="amp_tag">&lt;/button&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-green"</span>&gt;</span><span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-envelope"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span> Button<span class="amp_tag">&lt;/button&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-sm mt-btn-red"</span>&gt;</span><span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-envelope"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span> Button<span class="amp_tag">&lt;/button&gt;</span></pre></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Loading animattion</h3>
				</div>
				<div class="box-body">
					<button class="mt-btn mt-size-lg mt-btn-blue">
						<div class="lds-spinner">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</button>
					<button class="mt-btn mt-size-md mt-btn-green">
						<div class="lds-spinner">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</button>
					<button class="mt-btn mt-size-sm mt-btn-red">
						<div class="lds-spinner">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</button>
					<br><br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Loading animation--&gt;</span>
<span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span     class="amp_vl">"mt-btn mt-size-lg mt-btn-blue"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span     class="amp_vl">"lds-spinner"</span>&gt;</span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
        <span class="amp_tag">&lt;div&gt;</span><span class="amp_tag">&lt;/div&gt;        </span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/button&gt;</span></pre></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Button block</h3>
				</div>
				<div class="box-body">
					<button class="mt-btn mt-size-md mt-btn-blue mt-btn-block">mt-btn-block</button>
				</div>
			</div>
		</div>
	</div>



</div>


<script>
	// Js dropdown button
	$(document).ready(function () {
		$('.js_dropdown_toggle_menu').click(function () {
			$('.mt-dropdown-menu').toggle();
		});
	});
</script>
