<div class="page-header">
    <h2 class="title-sm">Item Cards</h2>
</div>
<div class="page-body">
    <div class="section" id="listCards">
        <h3 class="section-title">
            Cards
            <p class="sub-title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima veniam,
                fugit itaque, velit alias eos fuga officiis iste ratione dolor voluptatibus placeat nesciunt error molestias
                voluptate deleniti hic.
            </p>
        </h3>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">Cards</h3>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Card
                    </h3>
                </div>
                <div class="box-body">
                    <div class="card-size-ui-demo">
                        <div class="mt-card mt-card-style mt-card-default">
                            <img class="mt-card-img" src="./theme/images/ui-img/card-img-demo.png" alt="card-img">
                            <div class="mt-card-header">
                                <div class="mt-h5">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                            </div>
                            <div class="mt-card-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque saepe reiciendis, possimus temporibus laborum architecto consequatur numquam illum tempore eaque similique expedita culpa cupiditate nemo, repudiandae, impedit minima doloribus asperiores.
                            </div>
                            <div class="mt-card-footer">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem non culpa impedit, modi accusamus quasi quam facilis cumque temporibus ipsum harum, quo inventore soluta, veritatis pariatur beatae minima aut quisquam.
                            </div>
                        </div>
                    </div>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Card with card footer--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-card"</span>&gt;</span>
    <span class="amp_tag">&lt;img <span class="amp_attr">class=</span><span class="amp_vl">"mt-card-img"</span> <span class="amp_attr">src=</span><span class="amp_vl">"./theme/images/ui-img/card-img-demo.png"</span> <span class="amp_attr">alt=</span><span class="amp_vl">"card-img"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-card-body"</span>&gt;</span>
        <span class="amp_tag">&lt;h6 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h6 mt-card-sub-title mt-text-blueberry-light-10"</span>&gt;</span>
        Starting from $522<span class="amp_tag">&lt;/h6&gt;</span>
        <span class="amp_tag">&lt;h5 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h5 mt-card-title"</span>&gt;</span>One Commercial Street Apartment<span class="amp_tag">&lt;/h5&gt;</span>
        <span class="amp_tag">&lt;p&gt;</span>Ut enim ad minim veniam<span class="amp_df">,</span> quis nostrud exercitation ullamco 
        consectetur adipisicing elit Expedita doloribus minima veniam<span class="amp_df">,</span>....<span class="amp_tag">&lt;/p&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-card-footer"</span>&gt;</span>
        <span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-card-date mt-text-blueberry-light-10"</span>&gt;</span>17/18/2018<span class="amp_tag">&lt;/p&gt;</span>
        <span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-card-view mt-text-blueberry-light-10"</span>&gt;</span>
            <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-eye"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>120
        <span class="amp_tag">&lt;/p&gt;</span>
     <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>
</pre></div>
                </div>
            </div>
        </div>
    </div>
</div>