<div class="page-header">
    <h2 class="title-sm">Inputs & Textareas</h2>
</div>
<div class="page-body">
    <div class="section" id="list-checkbox-radio">
        <h3 class="section-title">
            Checkboxes & Radios
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima veniam,
                fugit itaque, velit alias eos fuga officiis iste ratione dolor voluptatibus placeat nesciunt error molestias
                voluptate deleniti hic.</p>
        </h3>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">Checkbox, Radio and Toggle</h3>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Checkboxes 16px
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12 mt-col-sm-4">
                            <label class="mt-checkbox-radio mt-checkbox-radio-default js-example">
                                <input id="click" type="checkbox" name="checkbox">
                                <span class="li-checkmark li-checkmark-checkbox"></span>
                                Default
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-default mt-checkbox-hover">
                                <input type="checkbox" name="checkbox">
                                <span class="li-checkmark li-checkmark-checkbox"></span>
                                Hover
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-default" checked="checked">
                                <input type="checkbox" name="checkbox" checked="checked">
                                <span class="li-checkmark li-checkmark-checkbox"></span>
                                Selected
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-default mt-checkbox-disabled" disabled>
                                <input type="checkbox" name="checkbox" disabled>
                                <span class="li-checkmark li-checkmark-checkbox"></span>
                                Disabled
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-default mt-checkbox-dis-select" disabled>
                                <input type="checkbox" name="checkbox" checked="checked" disabled>
                                <span class="li-checkmark li-checkmark-checkbox"></span>
                                Dis. Selected
                            </label>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Check box--&gt;</span>
<span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-checkbox-radio mt-checkbox-radio-default"</span>&gt;</span>Default
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"checkbox"</span> <span class="amp_attr">name=</span><span class="amp_vl">"checkbox"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-checkmark li-checkmark-checkbox"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/label&gt;
    
<span class="amp_cm">&lt;!--Disabled checkbox--&gt;</span>
<span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-checkbox-radio mt-checkbox-radio-default"</span> disabled&gt;</span>Disabled
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"checkbox"</span> <span class="amp_attr">name=</span><span class="amp_vl">"checkbox"</span> disabled&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-checkmark li-checkmark-checkbox"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/label&gt;</span>
</span></pre>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Radio 16px
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12 mt-col-sm-4">
                            <label class="mt-checkbox-radio mt-checkbox-radio-default">
                                <input type="radio" name="radio">
                                <span class="li-checkmark li-checkmark-radio"></span>
                                Default
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-default lb-radio-hover">
                                <input type="radio" name="radio">
                                <span class="li-checkmark li-checkmark-radio"></span>
                                Hover
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-default">
                                <input type="radio" name="radio" checked>
                                <span class="li-checkmark li-checkmark-radio"></span>
                                Selected
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-default lb-radio-disabled" disabled>
                                <input type="radio" name="radio" disabled>
                                <span class="li-checkmark li-checkmark-radio"></span>
                                Disabled
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-default lb-radio-dis-selected" disabled>
                                <input type="radio" name="radio" disabled checked="checked">
                                <span class="li-checkmark li-checkmark-radio"></span>
                                Dis. Selected
                            </label>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Radio--&gt;</span>
<span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-checkbox-radio mt-checkbox-radio-default"</span>&gt;</span>Default
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"radio"</span> <span class="amp_attr">name=</span><span class="amp_vl">"radio"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-checkmark li-checkmark-radio"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/label&gt;</span>

<span class="amp_cm">&lt;!--Disabled radio--&gt;</span>
<span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-checkbox-radio mt-checkbox-radio-default"</span> disabled&gt;</span>Disabled
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"radio"</span> <span class="amp_attr">name=</span><span class="amp_vl">"radio"</span> disabled&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-checkmark li-checkmark-radio"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/label&gt;</span>
</pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Toggle Buttons
                        
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12 mt-col-sm-4">
                            <label class="mt-switch">
                                <input type="checkbox">
                                <span class="mt-switch-slider"></span>
                                <span class="mt-switch-title">Default</span>
                            </label>
                            <br>
                            <label class="mt-switch">
                                <input type="checkbox" checked>
                                <span class="mt-switch-slider"></span>
                                <span class="mt-switch-title">On</span>
                            </label>
                            <br>
                            <label class="mt-switch">
                                <input type="checkbox">
                                <span class="mt-switch-slider"></span>
                                <span class="mt-switch-title">Off</span>
                            </label>
                            <br>
                            <label class="mt-switch" disabled>
                                <input type="checkbox" disabled>
                                <span class="mt-switch-slider" disabled></span>
                                <span class="mt-switch-title">Disabled</span>
                            </label>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Toggle--&gt;</span>
<span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-switch"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"checkbox"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-switch-slider"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-switch-title"</span>&gt;</span>Default<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/label&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">
                Checkbox & Radio Large
            </h3>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Checkbox Large
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12 mt-col-sm-4">
                            <label class="mt-checkbox-radio mt-checkbox-radio-lg">
                                <input type="checkbox" name="checkbox">
                                <span class="li-checkmark li-checkmark-checkbox"></span>
                                Default
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-lg lb-checkbox-hover">
                                <input type="checkbox" name="checkbox">
                                <span class="li-checkmark li-checkmark-checkbox"></span>
                                Hover
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-lg">
                                <input type="checkbox" name="checkbox" checked="checked">
                                <span class="li-checkmark li-checkmark-checkbox"></span>
                                Selected
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-lg lb-checkbox-disabled" disabled>
                                <input type="checkbox" name="checkbox" disabled>
                                <span class="li-checkmark li-checkmark-checkbox"></span>
                                Disabled
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-lg lb-checkbox-dis-select" disabled>
                                <input type="checkbox" name="checkbox" checked="checked" disabled>
                                <span class="li-checkmark li-checkmark-checkbox"></span>
                                Dis. Selected
                            </label>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Large checkbox--&gt;</span>
<span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-checkbox-radio mt-checkbox-radio-lg"</span>&gt;</span>Default
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"checkbox"</span> <span class="amp_attr">name=</span><span class="amp_vl">"checkbox"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-checkmark li-checkmark-checkbox"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/label&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Radio Large
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12 mt-col-sm-4">
                            <label class="mt-checkbox-radio mt-checkbox-radio-lg">
                                <input type="radio" name="radio">
                                <span class="li-checkmark li-checkmark-radio"></span>
                                Default
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-lg lb-radio-hover">
                                <input type="radio" name="radio">
                                <span class="li-checkmark li-checkmark-radio"></span>
                                Hover
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-lg">
                                <input type="radio" name="radio" checked>
                                <span class="li-checkmark li-checkmark-radio"></span>
                                Selected
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-lg lb-radio-disabled" disabled>
                                <input type="radio" name="radio" disabled>
                                <span class="li-checkmark li-checkmark-radio"></span>
                                Disabled
                            </label>
                            <label class="mt-checkbox-radio mt-checkbox-radio-lg lb-radio-dis-selected" disabled>
                                <input type="radio" name="radio" disabled>
                                <span class="li-checkmark li-checkmark-radio"></span>
                                Dis. Selected
                            </label>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Large radio--&gt;</span>
<span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-checkbox-radio mt-checkbox-radio-lg"</span>&gt;</span>Default
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"radio"</span> <span class="amp_attr">name=</span><span class="amp_vl">"radio"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-checkmark li-checkmark-radio"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/label&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- example js to style label when input check -->
    <script>
        $(document).ready(function(){
            $('.mt-checkbox-radio.js-example').click(function(){
                if($('#click').is(':checked')) {
                    $(this).css('font-weight','bold');
                }
                else {
                    $(this).css('font-weight','normal');
                }
            });
        });
    </script>
</div>