<div class="page-header">
    <h2 class="title-sm">Color</h2>
</div>
<div class="page-body">
    <div class="section" id="listColors">
        <h3 class="section-title">
            Colors Used
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima veniam, fugit itaque, velit alias eos fuga officiis iste ratione dolor voluptatibus placeat nesciunt error molestias voluptate deleniti hic.</p>
        </h3>
        <div class="mt-row">
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-blue">
                        <h3 class="box-header-title">
                            Blue Color
                            <small>Primary Color</small>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="color-block mt-bg-blue">
                            <span class="pul-left color-name">$blue</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-blue-light-10">
                            <span class="pul-left color-name">$blue-light-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-blue-light-20">
                            <span class="pul-left color-name">$blue-light-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-blue-light-30">
                            <span class="pul-left color-name">$blue-light-30</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-blue-dark-10">
                            <span class="pul-left color-name">$blue-dark-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-blue-dark-20">
                            <span class="pul-left color-name">$blue-dark-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-blue-dark-30">
                            <span class="pul-left color-name">$blue-dark-30</span><span class="pull-right color-hex"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-pink">
                        <h3 class="box-header-title">
                            Pink Color
                            <small>Secondary Color</small>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="color-block mt-bg-pink">
                            <span class="pul-left color-name">$pink</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-pink-light-10">
                            <span class="pul-left color-name">$pink-light-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-pink-light-20">
                            <span class="pul-left color-name">$pink-light-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-pink-light-30">
                            <span class="pul-left color-name">$pink-light-30</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-pink-dark-10">
                            <span class="pul-left color-name">$pink-dark-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-pink-dark-20">
                            <span class="pul-left color-name">$pink-dark-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-pink-dark-30">
                            <span class="pul-left color-name">$pink-dark-30</span><span class="pull-right color-hex"></span>
                        </div>
                    </div>
                </div>
            </div>
        
       
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-green">
                        <h3 class="box-header-title">
                            Green Color
                            <small>For positive messages/features, prices,...</small>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="color-block mt-bg-green">
                            <span class="pul-left color-name">$green</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-green-light-10">
                            <span class="pul-left color-name">$green-light-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-green-light-20">
                            <span class="pul-left color-name">$green-light-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-green-light-30">
                            <span class="pul-left color-name">$green-light-30</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-green-dark-10">
                            <span class="pul-left color-name">$green-dark-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-green-dark-20">
                            <span class="pul-left color-name">$green-dark-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-green-dark-30">
                            <span class="pul-left color-name">$green-dark-30</span><span class="pull-right color-hex"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-orange">
                        <h3 class="box-header-title">
                            Orange Color
                            <small>Mostly used for info alerts,...</small>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="color-block mt-bg-orange">
                            <span class="pul-left color-name">$orange</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-orange-light-10">
                            <span class="pul-left color-name">$orange-light-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-orange-light-20">
                            <span class="pul-left color-name">$orange-light-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-orange-light-30">
                            <span class="pul-left color-name">$orange-light-30</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-orange-dark-10">
                            <span class="pul-left color-name">$orange-dark-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-orange-dark-20">
                            <span class="pul-left color-name">$orange-dark-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-orange-dark-30">
                            <span class="pul-left color-name">$orange-dark-30</span><span class="pull-right color-hex"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-red">
                        <h3 class="box-header-title">
                            Red Color
                            <small>For error messages, negative features, alerts,...</small>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="color-block mt-bg-red">
                            <span class="pul-left color-name">$red</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-red-light-10">
                            <span class="pul-left color-name">$red-light-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-red-light-20">
                            <span class="pul-left color-name">$red-light-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-red-light-30">
                            <span class="pul-left color-name">$red-light-30</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-red-dark-10">
                            <span class="pul-left color-name">$red-dark-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-red-dark-20">
                            <span class="pul-left color-name">$red-dark-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-red-dark-30">
                            <span class="pul-left color-name">$red-dark-30</span><span class="pull-right color-hex"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-blueberry">
                        <h3 class="box-header-title">
                            Blueberry Color
                            <small>For Main text color, sub text color, border colors,...</small>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="color-block mt-bg-blueberry">
                            <span class="pul-left color-name">$blueberry</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-blueberry-light-10">
                            <span class="pul-left color-name">$blueberry-light-10</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-blueberry-light-20">
                            <span class="pul-left color-name">$blueberry-light-20</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-blueberry-light-30">
                            <span class="pul-left color-name">$blueberry-light-30</span><span class="pull-right color-hex"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-header-title">
                            White Color
                            <small>For text color on button, backgrounds,...</small>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="color-block mt-bg-white">
                            <span class="pul-left color-name">$white</span><span class="pull-right color-hex"></span>
                        </div>
                        <div class="color-block mt-bg-white-dark-10">
                            <span class="pul-left color-name mt-text-blue">$white-dark-10</span><span class="pull-right color-hex mt-text-blue"></span>
                        </div>
                        <div class="color-block mt-bg-white-dark-20">
                            <span class="pul-left color-name mt-text-blue">$white-dark-20</span><span class="pull-right color-hex mt-text-blue"></span>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <h4>How to use:</h4>
        <!-- converthtml -->
        <div class="amp_pre amp_pre_default"><pre class="amp_pre_wrap"><span class="amp_tag"><span class="amp_cm">//use these vars in your scss files</span>
<span class="amp_attr">.containter</span> </span>{<span class="amp_pr"> 
  color</span>:<span class="amp_vl"> $blueberry</span>;
}</pre></div>
        <!-- converthtml -->
    </div>
    <div class="section" id="textColors">
        <h3 class="section-title">
            Text Color Classes
            <p class="sub-title">Copy these classes to your project if you wish to have them as your element's text colors.</p>
        </h3>
        <div class="mt-row">
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-blue">
                        <h3 class="box-header-title">Blue Color</h3>
                    </div>
                    <div class="box-body">
                        <div class="color-block mt-bg-blue">
                            <code>mt-text-blue</code>
                        </div>
                        <div class="color-block mt-bg-blue-light-10">
                            <code>mt-text-blue-light-10</code>
                        </div>
                        <div class="color-block mt-bg-blue-light-20">
                            <code>mt-text-blue-light-20</code>
                        </div>
                        <div class="color-block mt-bg-blue-light-30">
                            <code>mt-text-blue-light-30</code>
                        </div>
                        <div class="color-block mt-bg-blue-dark-10">
                            <code>mt-text-blue-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-blue-dark-20">
                            <code>mt-text-blue-dark-20</code>
                        </div>
                        <div class="color-block mt-bg-blue-dark-30">
                            <code>mt-text-blue-dark-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-pink">
                        <h3 class="box-header-title">Pink Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-pink">
                            <code>mt-text-pink</code>
                        </div>
                        <div class="color-block mt-bg-pink-light-10">
                            <code>mt-text-pink-light-10</code>
                        </div>
                        <div class="color-block mt-bg-pink-light-20">
                            <code>mt-text-pink-light-20</code>
                        </div>
                        <div class="color-block mt-bg-pink-light-30">
                            <code>mt-text-pink-light-30</code>
                        </div>
                        <div class="color-block mt-bg-pink-dark-10">
                            <code>mt-text-pink-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-pink-dark-20">
                            <code>mt-text-pink-dark-20</code>
                        </div>
                        <div class="color-block mt-bg-pink-dark-30">
                            <code>mt-text-pink-dark-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-green">
                        <h3 class="box-header-title">Green Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-green">
                            <code>mt-text-green</code>
                        </div>
                        <div class="color-block mt-bg-green-light-10">
                            <code>mt-text-green-light-10</code>
                        </div>
                        <div class="color-block mt-bg-green-light-20">
                            <code>mt-text-green-light-20</code>
                        </div>
                        <div class="color-block mt-bg-green-light-30">
                            <code>mt-text-green-light-30</code>
                        </div>
                        <div class="color-block mt-bg-green-dark-10">
                            <code>mt-text-green-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-green-dark-20">
                            <code>mt-text-green-dark-20</code>
                        </div>
                        <div class="color-block mt-bg-green-dark-30">
                            <code>mt-text-green-dark-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-orange">
                        <h3 class="box-header-title">Orange Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-orange">
                            <code>mt-text-orange</code>
                        </div>
                        <div class="color-block mt-bg-orange-light-10">
                            <code>mt-text-orange-light-10</code>
                        </div>
                        <div class="color-block mt-bg-orange-light-20">
                            <code>mt-text-orange-light-20</code>
                        </div>
                        <div class="color-block mt-bg-orange-light-30">
                            <code>mt-text-orange-light-30</code>
                        </div>
                        <div class="color-block mt-bg-orange-dark-10">
                            <code>mt-text-orange-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-orange-dark-20">
                            <code>mt-text-orange-dark-20</code>
                        </div>
                        <div class="color-block mt-bg-orange-dark-30">
                            <code>mt-text-orange-dark-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-red">
                        <h3 class="box-header-title">Red Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-red">
                            <code>mt-text-red</code>
                        </div>
                        <div class="color-block mt-bg-red-light-10">
                            <code>mt-text-red-light-10</code>
                        </div>
                        <div class="color-block mt-bg-red-light-20">
                            <code>mt-text-red-light-20</code>
                        </div>
                        <div class="color-block mt-bg-red-light-30">
                            <code>mt-text-red-light-30</code>
                        </div>
                        <div class="color-block mt-bg-red-dark-10">
                            <code>mt-text-red-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-red-dark-20">
                            <code>mt-text-red-dark-20</code>
                        </div>
                        <div class="color-block mt-bg-red-dark-30">
                            <code>mt-text-red-dark-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-blueberry">
                        <h3 class="box-header-title">Blueberry Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-blueberry">
                            <code>mt-text-blueberry</code>
                        </div>
                        <div class="color-block mt-bg-blueberry-light-10">
                            <code>mt-text-blueberry-light-10</code>
                        </div>
                        <div class="color-block mt-bg-blueberry-light-20">
                            <code>mt-text-blueberry-light-20</code>
                        </div>
                        <div class="color-block mt-bg-blueberry-light-30">
                            <code>mt-text-blueberry-light-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-header-title">White Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-white">
                            <code>mt-text-white</code>
                        </div>
                        <div class="color-block mt-bg-white-dark-10">
                            <code>mt-text-white-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-white-dark-20">
                            <code>mt-text-white-dark-20</code>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <h4>How to use:</h4>
        <!-- converthtml -->
        <div class="amp_pre amp_pre_default"><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!-- use these vars in your html files --&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-blue"</span>&gt;</span>
  <span class="amp_tag">&lt;h3&gt;</span>Blue Color<span class="amp_tag">&lt;/h3&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
        <!-- converthtml -->
    </div>
    
    <div class="section" id="bgColors">
        <h3 class="section-title">
            Background Color Classes
            <p class="sub-title">Copy these classes to your project if you wish to have them as your element's background colors.</p>
        </h3>
        <div class="mt-row">
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-blue">
                        <h3 class="box-header-title">Blue Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-blue">
                            <code>mt-bg-blue</code>
                        </div>
                        <div class="color-block mt-bg-blue-light-10">
                            <code>mt-bg-blue-light-10</code>
                        </div>
                        <div class="color-block mt-bg-blue-light-20">
                            <code>mt-bg-blue-light-20</code>
                        </div>
                        <div class="color-block mt-bg-blue-light-30">
                            <code>mt-bg-blue-light-30</code>
                        </div>
                        <div class="color-block mt-bg-blue-dark-10">
                            <code>mt-bg-blue-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-blue-dark-20">
                            <code>mt-bg-blue-dark-20</code>
                        </div>
                        <div class="color-block mt-bg-blue-dark-30">
                            <code>mt-bg-blue-dark-30</code>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header mt-text-pink">
                        <h3 class="box-header-title">Pink Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-pink">
                            <code>mt-bg-pink</code>
                        </div>
                        <div class="color-block mt-bg-pink-light-10">
                            <code>mt-bg-pink-light-10</code>
                        </div>
                        <div class="color-block mt-bg-pink-light-20">
                            <code>mt-bg-pink-light-20</code>
                        </div>
                        <div class="color-block mt-bg-pink-light-30">
                            <code>mt-bg-pink-light-30</code>
                        </div>
                        <div class="color-block mt-bg-pink-dark-10">
                            <code>mt-bg-pink-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-pink-dark-20">
                            <code>mt-bg-pink-dark-20</code>
                        </div>
                        <div class="color-block mt-bg-pink-dark-30">
                            <code>mt-bg-pink-dark-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-green">
                        <h3 class="box-header-title">Green Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-green">
                            <code>mt-bg-green</code>
                        </div>
                        <div class="color-block mt-bg-green-light-10">
                            <code>mt-bg-green-light-10</code>
                        </div>
                        <div class="color-block mt-bg-green-light-20">
                            <code>mt-bg-green-light-20</code>
                        </div>
                        <div class="color-block mt-bg-green-light-30">
                            <code>mt-bg-green-light-30</code>
                        </div>
                        <div class="color-block mt-bg-green-dark-10">
                            <code>mt-bg-green-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-green-dark-20">
                            <code>mt-bg-green-dark-20</code>
                        </div>
                        <div class="color-block mt-bg-green-dark-30">
                            <code>mt-bg-green-dark-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-orange">
                        <h3 class="box-header-title">Orange Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-orange">
                            <code>mt-bg-orange</code>
                        </div>
                        <div class="color-block mt-bg-orange-light-10">
                            <code>mt-bg-orange-light-10</code>
                        </div>
                        <div class="color-block mt-bg-orange-light-20">
                            <code>mt-bg-orange-light-20</code>
                        </div>
                        <div class="color-block mt-bg-orange-light-30">
                            <code>mt-bg-orange-light-30</code>
                        </div>
                        <div class="color-block mt-bg-orange-dark-10">
                            <code>mt-bg-orange-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-orange-dark-20">
                            <code>mt-bg-orange-dark-20</code>
                        </div>
                        <div class="color-block mt-bg-orange-dark-30">
                            <code>mt-bg-orange-dark-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-red">
                        <h3 class="box-header-title">Red Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-red">
                            <code>mt-bg-red</code>
                        </div>
                        <div class="color-block mt-bg-red-light-10">
                            <code>mt-bg-red-light-10</code>
                        </div>
                        <div class="color-block mt-bg-red-light-20">
                            <code>mt-bg-red-light-20</code>
                        </div>
                        <div class="color-block mt-bg-red-light-30">
                            <code>mt-bg-red-light-30</code>
                        </div>
                        <div class="color-block mt-bg-red-dark-10">
                            <code>mt-bg-red-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-red-dark-20">
                            <code>mt-bg-red-dark-20</code>
                        </div>
                        <div class="color-block mt-bg-red-dark-30">
                            <code>mt-bg-red-dark-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header mt-text-blueberry">
                        <h3 class="box-header-title">Blueberry Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-blueberry">
                            <code>mt-bg-blueberry</code>
                        </div>
                        <div class="color-block mt-bg-blueberry-light-10">
                            <code>mt-bg-blueberry-light-10</code>
                        </div>
                        <div class="color-block mt-bg-blueberry-light-20">
                            <code>mt-bg-blueberry-light-20</code>
                        </div>
                        <div class="color-block mt-bg-blueberry-light-30">
                            <code>mt-bg-blueberry-light-30</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-col-xs-12 mt-col-md-6 mt-col-lg-4">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-header-title">White Color</h3>
                    </div>
                    <div class="box-body" js_t="check_color_text">
                        <div class="color-block mt-bg-white">
                            <code>mt-bg-white</code>
                        </div>
                        <div class="color-block mt-bg-white-dark-10">
                            <code>mt-bg-white-dark-10</code>
                        </div>
                        <div class="color-block mt-bg-white-dark-20">
                            <code>mt-bg-white-dark-20</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4>How to use:</h4>
        <!-- converthtml -->
        <div class="amp_pre amp_pre_default"><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!-- use these vars in your html files --&gt;</span>
<span class="amp_tag">&lt;section <span class="amp_attr">class=</span><span class="amp_vl">"mt-bg-blue"</span>&gt;</span>
  <span class="amp_tag">&lt;h3&gt;</span>Blue Box<span class="amp_tag">&lt;/h3&gt;</span>
<span class="amp_tag">&lt;/section&gt;</span></pre></div>
        <!-- converthtml -->
    </div>
</div>
