
<div class="page-header">
    <h2 class="title-sm">Inputs & Textareas</h2>
</div>
<div class="page-body">
    <div class="section" id="list-input-textarea">
        <h3 class="section-title">
            Dropdowns
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima
                veniam,
                fugit itaque, velit alias eos fuga officiis iste ratione dolor voluptatibus placeat nesciunt error
                molestias
                voluptate deleniti hic.</p>
        </h3>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Default Dropdown
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default mt-dropdown-divider">
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown default--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown with divider
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default mt-dropdown-divider">
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown width divider bar--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown icon
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default mt-dropdown-divider">
                                <li class="mt-dropdown-item"><span class="li-user mt-dropdown-icon"></span> First</li>
                                <li class="mt-dropdown-item"><span class="li-cog mt-dropdown-icon"></span>
                                    Second</li>
                                <li class="mt-dropdown-item"><span class="li-paper-plane mt-dropdown-icon"></span> Third</li>
                                <li class="mt-dropdown-item"><span class="li-exit-right mt-dropdown-icon"></span>Four</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown icon--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-user"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-cog"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-paper-plane"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-exit-right"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>Four<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown With Search Box
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default mt-dropdown-divider">
                                <div class="mt-dropdown-input">
                                    <div class="mt-form-group mt-form-group-icon">
                                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right"
                                            placeholder="Placeholder">
                                        <i class="li-magnifier mt-input-icon mt-input-right-icon"></i>
                                    </div>
                                </div>
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown with search box--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item mt-dropdown-input"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
            <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
            mt-size-md mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
            <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown With Search Box and Scroll
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default mt-dropdown-divider">
                                <div class="mt-dropdown-input">
                                    <div class="mt-form-group mt-form-group-icon">
                                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right"
                                            placeholder="Placeholder">
                                        <i class="li-magnifier mt-input-icon mt-input-right-icon"></i>
                                    </div>
                                </div>
                                <ul class="mt-dropdown-scroll js-scroll1" id="dropdown-scroll">
                                    <li class="mt-dropdown-item">First</li>
                                    <li class="mt-dropdown-item">Second</li>
                                    <li class="mt-dropdown-item">Third</li>
                                    <li class="mt-dropdown-item">Fourth</li>
                                    <li class="mt-dropdown-item">Fifth</li>
                                    <li class="mt-dropdown-item">Sixth</li>
                                </ul>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown with search box and scroll--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item mt-dropdown-input"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
            <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
            mt-size-md mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
            <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-scroll js-scroll1"</span> <span class="amp_attr">id=</span><span class="amp_vl">"dropdown-scroll"</span>&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Fourth<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Fifth<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Sixth<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;/ul&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span>

<span class="amp_cm">&lt;!--Scroll bar we use perfect scroll plugin--&gt;</span>
<a href="https://github.com/utatti/perfect-scrollbar">https://github.com/utatti/perfect-scrollbar</a> 
</pre>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown With Header
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default mt-dropdown-divider">
                                <li class="mt-dropdown-header">HEADER 1</li>
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-header">HEADER 2</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown with header--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-header"</span>&gt;</span>HEADER 1<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-header"</span>&gt;</span>HEADER 2<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown Disabled and Activated State
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default mt-dropdown-divider">
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item mt-dropdown-active">Second</li>
                                <li class="mt-dropdown-item mt-dropdown-disabled">Third</li>
                            </ul>
                            <br>
                        </div>
                    
    
            <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown Disable and Activated State--&gt;</span>
<span class="amp_cm">&lt;!--We add class .mt-dropdown-active into li element to define active state<span class="amp_df">,
</span> add class .mt-dropdown-disabled into li element to define disabled state--&gt;</span>

<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item mt-dropdown-active"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item mt-dropdown-disabled"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3>
                Dropdown Without Border
            </h3>
            <br>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown without border
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default">
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown without border--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12 block-doc-dropdown-ui-demo">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown with divider
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default">
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>                   
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown with divider--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown with icon
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default">
                                <li class="mt-dropdown-item"><span class="li-user mt-dropdown-icon"></span> First</li>
                                <li class="mt-dropdown-item"><span class="li-cog mt-dropdown-icon"></span> Second</li>
                                <li class="mt-dropdown-item"><span class="li-paper-plane mt-dropdown-icon"></span> Third</li>
                                <li class="mt-dropdown-item"><span class="li-exit-right mt-dropdown-icon"></span> Third</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown with icon--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span><span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-user"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span> First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span><span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-cog"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span> Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span><span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-paper-plane"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span> Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span><span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-exit-right"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span> Third<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12 block-doc-dropdown-ui-demo">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown with search box
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default">
                                <div class="mt-dropdown-item mt-dropdown-input">
                                    <div class="mt-form-group mt-form-group-icon">
                                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right"
                                            placeholder="Placeholder">
                                        <i class="li-magnifier mt-input-icon mt-input-right-icon"></i>
                                    </div>
                                </div>
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown with search box--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item mt-dropdown-input"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
            <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
            mt-size-md mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
            <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown with search box and scroll bar
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default">
                                <div class="mt-dropdown-input">
                                    <div class="mt-form-group mt-form-group-icon">
                                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right"
                                            placeholder="Placeholder">
                                        <i class="li-magnifier mt-input-icon mt-input-right-icon"></i>
                                    </div>
                                </div>
                                <ul class="mt-dropdown-scroll js-scroll2">
                                    <li class="mt-dropdown-item">First</li>
                                    <li class="mt-dropdown-item">Second</li>
                                    <li class="mt-dropdown-item">Third</li>
                                    <li class="mt-dropdown-item">Fourth</li>
                                    <li class="mt-dropdown-item">Fifth</li>
                                    <li class="mt-dropdown-item">Sixth</li>
                                </ul>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown with search box and scroll bar--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item mt-dropdown-input"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
            <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
            mt-size-md mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
            <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-scroll js-scroll2"</span>&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Fourth<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Fifth<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Sixth<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;/ul&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span>

<span class="amp_cm">&lt;!--Scroll bar we use perfect scroll plugin--&gt;</span>
<a href="https://github.com/utatti/perfect-scrollbar">https://github.com/utatti/perfect-scrollbar</a> 
</pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Dropdown with search box and scroll bar
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-default">
                                <li class="mt-dropdown-header">HEADER 1</li>
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-header">HEADER 2</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour dropdown with search box and--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-default"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-header"</span>&gt;</span>HEADER 1<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-header"</span>&gt;</span>HEADER 2<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3>
                Large Dropdown
            </h3>
            <br>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg mt-dropdown-divider">
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown with divider
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg mt-dropdown-divider">
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown with divider--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown with icon
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg mt-dropdown-divider">
                                <li class="mt-dropdown-item"><span class="li-user mt-dropdown-icon"></span> First</li>
                                <li class="mt-dropdown-item"><span class="li-cog mt-dropdown-icon"></span>
                                    Second</li>
                                <li class="mt-dropdown-item"><span class="li-paper-plane mt-dropdown-icon"></span> Third</li>
                                <li class="mt-dropdown-item"><span class="li-exit-right mt-dropdown-icon"></span>Four</li>
                            </ul>
                            <br>
                        </div>
                   
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown with icon--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-user"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span> First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-cog"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-paper-plane"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span><span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-exit-right"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>Four<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown with search box
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg mt-dropdown-divider">
                                <div class="mt-dropdown-item mt-dropdown-input">
                                    <div class="mt-form-group mt-form-group-icon">
                                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right"
                                            placeholder="Placeholder">
                                        <i class="li-magnifier mt-input-icon mt-input-right-icon"></i>
                                    </div>
                                </div>
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                    
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown with search box--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item mt-dropdown-input"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
            <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
            mt-size-md mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
            <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span>
</pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown with search box and scroll bar
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg mt-dropdown-divider">
                                <div class="mt-dropdown-input">
                                    <div class="mt-form-group mt-form-group-icon">
                                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right"
                                            placeholder="Placeholder">
                                        <i class="li-magnifier mt-input-icon mt-input-right-icon"></i>
                                    </div>
                                </div>
                                <ul class="mt-dropdown-scroll js-scroll3">
                                    <li class="mt-dropdown-item">First</li>
                                    <li class="mt-dropdown-item">Second</li>
                                    <li class="mt-dropdown-item">Third</li>
                                    <li class="mt-dropdown-item">Fourth</li>
                                    <li class="mt-dropdown-item">Fifth</li>
                                    <li class="mt-dropdown-item">Sixth</li>
                                </ul>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown with search box and scroll bar--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item mt-dropdown-input"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
            <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
            mt-size-md mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
            <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-scroll js-scroll3"</span>&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Fourth<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Fifth<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Sixth<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;/ul&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span>

<span class="amp_cm">&lt;!--Scroll bar we use perfect scroll plugin--&gt;</span>
<a href="https://github.com/utatti/perfect-scrollbar">https://github.com/utatti/perfect-scrollbar</a>
</pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown with header
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg mt-dropdown-divider">
                                <li class="mt-dropdown-header">HEADER 1</li>
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-header">HEADER 2</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown with header--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg mt-dropdown-divider"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-header"</span>&gt;</span>HEADER 1<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-header"</span>&gt;</span>HEADER 2<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3>
                Large Dropdown Without Border
            </h3>
            <br>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown without border<br>
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg">
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown without border--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown with divider
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg">
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown with divider--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown with icon
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg">
                                <li class="mt-dropdown-item"><span class="li-user mt-dropdown-icon"></span>First</li>
                                <li class="mt-dropdown-item"><span class="li-cog mt-dropdown-icon"></span>Second</li>
                                <li class="mt-dropdown-item"><span class="li-paper-plane mt-dropdown-icon"></span>Third</li>
                                <li class="mt-dropdown-item"><span class="li-exit-right mt-dropdown-icon"></span>Four</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown with icon--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span><span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-user"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span><span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-cog"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-paper-plane"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span><span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"li-exit-right"</span>&gt;</span>
    <span class="amp_tag">&lt;/span&gt;</span>Four<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown with search box
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg">
                                <div class="mt-dropdown-item mt-dropdown-input">
                                    <div class="mt-form-group mt-form-group-icon">
                                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right"
                                            placeholder="Placeholder">
                                        <i class="li-magnifier mt-input-icon mt-input-right-icon"></i>
                                    </div>
                                </div>
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                    
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown with search box--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item mt-dropdown-input"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
            <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
            mt-size-md mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
            <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown with search box and scroll bar
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg">
                                <div class="mt-dropdown-input">
                                    <div class="mt-form-group mt-form-group-icon">
                                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right"
                                            placeholder="Placeholder">
                                        <i class="li-magnifier mt-input-icon mt-input-right-icon"></i>
                                    </div>
                                </div>
                                <ul class="mt-dropdown-scroll js-scroll4">
                                    <li class="mt-dropdown-item">First</li>
                                    <li class="mt-dropdown-item">Second</li>
                                    <li class="mt-dropdown-item">Third</li>
                                    <li class="mt-dropdown-item">Fourth</li>
                                    <li class="mt-dropdown-item">Fifth</li>
                                    <li class="mt-dropdown-item">Sixth</li>
                                </ul>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown with search box and scroll bar--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item mt-dropdown-input"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
            <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
            mt-size-md mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
            <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-scroll js-scroll4"</span>&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Fourth<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Fifth<span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Sixth<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;/ul&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span>

<span class="amp_cm">&lt;!--Scroll bar we use perfect scroll plugin--&gt;</span>
<a href="https://github.com/utatti/perfect-scrollbar">https://github.com/utatti/perfect-scrollbar</a>
</pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Large dropdown with header
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-3 mt-col-xs-12">
                            <ul class="mt-dropdown mt-dropdown-lg">
                                <li class="mt-dropdown-header">HEADER 1</li>
                                <li class="mt-dropdown-item">First</li>
                                <li class="mt-dropdown-item">Second</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-header">HEADER 2</li>
                                <li class="mt-dropdown-item">Third</li>
                                <li class="mt-dropdown-item-divider"></li>
                                <li class="mt-dropdown-item">Select All</li>
                            </ul>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large dropdown with header--&gt;</span>
<span class="amp_tag">&lt;ul <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown mt-dropdown-lg"</span>&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-header"</span>&gt;</span>HEADER 1<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>First<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Second<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-header"</span>&gt;</span>HEADER 2<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Third<span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item-divider"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
    <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"mt-dropdown-item"</span>&gt;</span>Select All<span class="amp_tag">&lt;/li&gt;</span>
<span class="amp_tag">&lt;/ul&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3>Selects </h3>
        </div>
        <div class="mt-col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-header-title">
                                Selects dropdown
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="mt-row">
                            <div class="mt-col-xs-12 mt-col-sm-6">
                                <div class="mt-select">
                                    <select class="mt-select-menu" name="seclect" id="">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                                <br>
                            </div>
                            <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour select--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-select"</span>&gt;</span>
    <span class="amp_tag">&lt;select <span class="amp_attr">class=</span><span class="amp_vl">"mt-select-menu"</span> <span class="amp_attr">name=</span><span class="amp_vl">"seclect"</span> <span class="amp_attr">id=</span><span class="amp_vl">""</span>&gt;</span>
        <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"volvo"</span>&gt;</span>Volvo<span class="amp_tag">&lt;/option&gt;</span>
        <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"saab"</span>&gt;</span>Saab<span class="amp_tag">&lt;/option&gt;</span>
        <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"opel"</span>&gt;</span>Opel<span class="amp_tag">&lt;/option&gt;</span>
        <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"audi"</span>&gt;</span>Audi<span class="amp_tag">&lt;/option&gt;</span>
    <span class="amp_tag">&lt;/select&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--We use select2 plugin to custom select element--&gt;</span>
<a href="https://select2.org/">https://select2.org/</a>
</pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Selects dropdown with label
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12 mt-col-sm-6">
                            <div class="mt-select">
                                <label class="mt-label-default" for="lb-1">Label</label>
                                <select class="mt-select-menu" name="seclect" id="lb-1">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour select--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-select"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-1"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;select <span class="amp_attr">class=</span><span class="amp_vl">"mt-select-menu"</span> <span class="amp_attr">name=</span><span class="amp_vl">"seclect"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-1"</span>&gt;</span>
        <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"volvo"</span>&gt;</span>Volvo<span class="amp_tag">&lt;/option&gt;</span>
        <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"saab"</span>&gt;</span>Saab<span class="amp_tag">&lt;/option&gt;</span>
        <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"opel"</span>&gt;</span>Opel<span class="amp_tag">&lt;/option&gt;</span>
        <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"audi"</span>&gt;</span>Audi<span class="amp_tag">&lt;/option&gt;</span>
    <span class="amp_tag">&lt;/select&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--We use select2 plugin to custom select element--&gt;</span>
<a href="https://select2.org/">https://select2.org/</a></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>
<script>
    $(document).ready(function () {
        $('.mt-select-menu').select2({
            placeholder: 'Select an option',
            width: '100%',
        });

        const ps1 = new PerfectScrollbar('.js-scroll1', {
            wheelPropagation: false,
            // minScrollbarLength: 20
        });
        
        const ps2 = new PerfectScrollbar('.js-scroll2', {
            wheelPropagation: false,
        });
        const ps3 = new PerfectScrollbar('.js-scroll3', {
            wheelPropagation: false,
        });
        const ps4 = new PerfectScrollbar('.js-scroll4', {
            wheelPropagation: false,
        });
    });
</script>