<div class="page-header">
    <h2 class="title-sm">Form</h2>
</div>
<div class="page-body">
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">Form</h3>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Form inline</h3>
                </div>
                <div class="box-body">
                    <form class="mt-form-inline" action="">
                        <div class="mt-form-group">
                            <label class="mt-default-label" for="">Email</label>
                            <input type="email" class="mt-form-control 
                            mt-input-style mt-size-md" placeholder="Placeholder">
                        </div>
                        <div class="mt-form-group">
                            <label class="mt-default-label" for="">Password</label>
                            <input type="password" class="mt-form-control 
                            mt-input-style mt-size-md" placeholder="Placeholder">
                        </div>
                        <button class="mt-btn mt-size-md mt-btn-blue" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Form horizontal</h3>
                </div>
                <div class="box-body">
                    <form class="mt-form-horizontal" action="">
                        <div class="mt-form-group">
                            <label class="mt-default-label" for="">Email</label>
                            <input type="email" class="mt-form-control 
                            mt-input-style mt-size-md" placeholder="Placeholder">
                        </div>
                        <div class="mt-form-group">
                            <label class="mt-default-label" for="">Password</label>
                            <input type="password" class="mt-form-control 
                            mt-input-style mt-size-md" placeholder="Placeholder">
                        </div>
                        <label class="mt-checkbox-radio mt-checkbox-radio-default">
                            <input type="checkbox" name="checkbox">
                            <span class="li-checkmark li-checkmark-checkbox"></span>
                            Remember me
                        </label>
                        <button class="mt-btn mt-size-md mt-btn-blue" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
