<div class="page-header">
    <h2 class="title-sm">GettingStarted</h2>
</div>
<div class="page-body">
	<div class="section section-started" id="textColors">
        <h3 class="section-title">
        	Set Up Project
        	<p class="sub-title">In other to start this project without asking around and crying like a baby <b>*buhuhu, mommy help me!*</b>, please go through these steps first:</p>
        </h3>

        <div class="mt-row">
	        <div class="mt-col-lg-6 mt-col-md-12">
	            <p>
	            	
	            </p>
	            <ol>
	            	<li>
	            		Open <mark>Git bash</mark> or <mark>Terminal</mark>
	            	</li>
					<li>
						Make sure you have <mark>nodejs version 6.10.0</mark> or higher, you can check by running 
						<code class="block">node -v</code> 
					
						If you haven't install it yet, please check this link <a href="https://nodejs.org/en/">nodejs.org/en</a>.
					</li>
					<li>
						Install <b>GulpJs</b> globally by running 
						<code class="block">npm install gulp-cli -g</code>
						You can check <a href="http://gulpjs.com/">gulpjs.com</a> if there's any problem.
					</li>
					<li>
						Finally, install <b>Sass-lang</b> globally by running 
						<code class="block">npm install -g sass</code>
						You can check <a href="http://sass-lang.com/install">sass-lang.com/install</a> if there's any problem.
					</li>
	            	<li>
	            		Run 
	            		<code class="block">npm install</code>
	            	</li>
	            	<li>
	            		Run 
	            		<code class="block">Gulp</code>
	            	</li>
	            </ol>
	        </div>
        </div>
    </div>
</div>