<div class="page-header">
    <h2 class="title-sm">Grid-system</h2>
</div>
<div class="page-body">
    <div class="section" id="grid-system">
        <h3 class="section-title">
            Grid-system
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima
                veniam,
                fugit itaque, velit alias eos fuga officiis iste ratione dolor voluptatibus placeat nesciunt error
                molestias
                voluptate deleniti hic.</p>
        </h3>
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-header-title">
                Mytour grid options
            </h3>
        </div>
        <div class="box-body">
            <table class="mt-table mt-table-style mt-table-size">
                <thead>
                    <tr>
                        <th></th>
                        <th> All screen / phone <br>
                            <p class="mt-font-desc">Phones (< 568px) </p>
                        </th>
                        <th>Extra small screen / phone <br>
                            <p class="mt-font-desc">Phones (>= 568px) </p>
                        </th>
                        <th>Small screen / tablet <br>
                            <p class="mt-font-desc">Tablets (>= 768px) </p>
                        </th>
                        <th>Medium screen / desktop <br>
                            <p class="mt-font-desc">Desktops (>= 992px) </p>
                        </th>
                        <th>Large screen / wide desktop
                            <p class="mt-font-desc">Large Desktop (>= 1200px) </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Container width</th>
                        <td>100%</td>
                        <td>538px</td>
                        <td>720px</td>
                        <td>960px</td>
                        <td>1140px</td>
                    </tr>
                    <tr>
                        <th>Class prefix</th>
                        <td><code>.mt-col-xsml-</code></td>
                        <td><code>.mt-col-xs-</code></td>
                        <td><code>.mt-col-sm-</code></td>
                        <td><code>.mt-col-md-</code></td>
                        <td><code>.mt-col-lg-</code></td>
                    </tr>
                    <tr>
                        <th>Number of Columns</th>
                        <td class="mt-text-center" colspan="5">12</td>
                    </tr>
                    <tr>
                        <th>Column width</th>
                        <td>Auto</td>
                        <td>~45px</td>
                        <td>60px</td>
                        <td>80px</td>
                        <td>95px</td>
                    </tr>
                    <tr>
                        <th>Gutter width</th>
                        <td class="mt-text-center" colspan="5">16px (8px on each sile of a column)</td>
                    </tr>
                    <tr>
                        <th>Nestable</th>
                        <td class="mt-text-center" colspan="5">Yes</td>
                    </tr>
                    <tr>
                        <th>Offset</th>
                        <td class="mt-text-center" colspan="5">Yes</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br>
    <div class="box">
        <div class="box-header">
            <h3 class="box-header-title">
                Example: Stacked-to-horizontal
            </h3>
        </div>
        <div class="box-body">
            <p>Using a single set of <code> .mt-col-md-* </code>grid classes, We can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any <code>.mt-row</code>.</p>
            <div class="mt-row">
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
                <div class="mt-col-md-1 test-grid">.mt-col-md-1</div>
            </div>
            <br>
            <div class="mt-row">
                <div class="mt-col-md-8 test-grid">.mt-col-md-8</div>
                <div class="mt-col-md-4 test-grid">.mt-col-md-4</div>
            </div>
            <br>
            <div class="mt-row">
                <div class="mt-col-md-2 test-grid">.mt-col-md-2</div>
                <div class="mt-col-md-4 test-grid">.mt-col-md-4</div>
                <div class="mt-col-md-6 test-grid">.mt-col-md-6</div>
            </div>
            <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-1"</span>&gt;</span>mt-col-md-1<span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>
        
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-8"</span>&gt;</span>mt-col-md-8<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-4"</span>&gt;</span>mt-col-md-4<span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>
        
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-2"</span>&gt;</span>mt-col-md-2<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-4"</span>&gt;</span>mt-col-md-4<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-6"</span>&gt;</span>mt-col-md-6<span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
        </div>
    </div>
    <br>
    <div class="box">
        <div class="box-header">
            <h3 class="box-header-title">Example: Mytour container</h3>
        </div>
        <div class="box-body">
            <p>Rows must be placed within a <code>.mt-container</code> for proper alignment and padding.</p>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-container"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
        ...
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
        </div>
    </div>
    <br>

    <div class="box">
        <div class="box-header">
            <h3 class="box-header-title">Example: Mobile, tablet and desktop</h3>
        </div>
        <div class="box-body">
            <p>We use the extra small, small and medium device grid classes by adding .mt-col-xsml-* .mt-col-sm-* .mt-col-md-* to your columns. See the example below for a better idea of how it all works.</p>
            <div class="mt-row">
                <div class="mt-col-xsml-12 mt-col-md-8 test-grid">.mt-col-xsml-12 .mt-col-md-8</div>
                <div class="mt-col-xsml-6 mt-col-md-4 test-grid">.mt-col-xsml-6 .mt-col-md-4</div>
            </div>
            <br>
            <div class="mt-row">
                <div class="mt-col-xsml-6 mt-col-sm-4 test-grid">.mt-col-xsml-6 .mt-col-sm-4</div>
                <div class="mt-col-xsml-6 mt-col-sm-4 test-grid">.mt-col-xsml-6 .mt-col-sm-4</div>
                <div class="mt-col-xsml-6 mt-col-sm-4 test-grid">.mt-col-xsml-6 .mt-col-sm-4</div>
            </div>
            <br>
            <div class="mt-row">
                <div class="mt-col-xsml-6 test-grid">.mt-col-xsml-6</div>
                <div class="mt-col-xsml-6 test-grid">.mt-col-xsml-6</div>
            </div>
            <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-xsml-12 mt-col-md-8"</span>&gt;</span>.mt-col-xsml-12 .mt-col-md-8<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-xsml-6 mt-col-md-4"</span>&gt;</span>.mt-col-xsml-6 .mt-col-md-4<span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>
        
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-xsml-6 mt-col-sm-4"</span>&gt;</span>.mt-col-xsml-6 .mt-col-sm-4<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-xsml-6 mt-col-sm-4"</span>&gt;</span>.mt-col-xsml-6 .mt-col-sm-4<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-xsml-6 mt-col-sm-4"</span>&gt;</span>.mt-col-xsml-6 .mt-col-sm-4<span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>
        
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-xsml-6"</span>&gt;</span>.mt-col-xsml-6<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-xsml-6"</span>&gt;</span>.mt-col-xsml-6<span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
        </div>
    </div>
    <br>
    <div class="box">
        <div class="box-header">
            <h3 class="box-header-title">Offsetting columns</h3>
        </div>
        <div class="box-body">
            <p>Move columns to the right using <code>.mt-col-md-offset-* </code>classes. These classes increase the left margin of a column by <code>*</code> columns. For example, <code>.mt-col-md-offset-4</code> moves <code>.mt-col-md-4</code> over four columns.</p>
            <div class="mt-row">
                <div class="mt-col-md-4 test-grid">.mt-col-md-4</div>
                <div class="mt-col-md-4 mt-col-md-offset-4 test-grid">.mt-col-md-4 .mt-col-md-offset-4</div>
            </div>
            <br>
            <div class="mt-row">
                <div class="mt-col-md-6 mt-col-md-offset-3 test-grid">.mt-col-md-6 .mt-col-md-offset-3</div>
            </div>
            <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-4"</span>&gt;</span>.mt-col-md-4<span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-4 mt-col-md-offset-4"</span>&gt;</span>.mt-col-md-4 .mt-col-md-offset-4<span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>
      
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-6 mt-col-md-offset-3"</span>&gt;</span>.mt-col-md-6 .mt-col-md-offset-3<span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
        </div>
    </div>
    <br>

    <div class="box">
        <div class="box-header">
            <h3 class="box-header-title">Nesting columns</h3>
        </div>
        <div class="box-body">
            <p>To nest your content with the default grid, add a new <code>.mt-row</code> and set of <code>.mt-col-md-*</code> columns within an existing <code>.mt-col-md-*</code> column</p>
            
            <div class="mt-row">
                <div class="mt-col-md-8 test-grid-nest">
                    .mt-col-md-8
                    <div class="mt-row">
                        <div class="mt-col-md-4 test-grid">.mt-col-md-4</div>
                        <div class="mt-col-md-4 test-grid">.mt-col-md-4</div>
                        <div class="mt-col-md-4 test-grid">.mt-col-md-4</div>
                    </div>
                </div>
            </div>
            <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-8"</span>&gt;</span>.mt-col-md-8
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-row"</span>&gt;</span>
            <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-4"</span>&gt;</span>.mt-col-md-4<span class="amp_tag">&lt;/div&gt;</span>
            <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-4"</span>&gt;</span>.mt-col-md-4<span class="amp_tag">&lt;/div&gt;</span>
           <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-col-md-4"</span>&gt;</span>.mt-col-md-4<span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
        </div>
    </div>
</div>