<div class="page-header">
	<h2 class="title-sm">Images</h2>
</div>
<div class="page-body">
	<div class="mt-row">
		<div class="mt-col-xs-12">
			<h3 class="section-title">Ratio</h3>
		</div>
		<div class="mt-col-xs-7">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">5:3</h3>
				</div>
				<div class="box-body text-center">
					<div class="mt-img-bg-demo">
						<img class="mt-img-responsive" src="https://via.placeholder.com/800x500.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="mt-col-xs-5">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">1x1</h3>
				</div>
				<div class="box-body text-center">
					<div class="mt-img-bg-demo">
						<img class="mt-img-responsive" src="https://via.placeholder.com/800x800.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="mt-col-xs-7">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">4:3</h3>
				</div>
				<div class="box-body text-center">
					<div class="mt-img-bg-demo">
						<img class="mt-img-responsive" src="https://via.placeholder.com/800x600.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="mt-col-xs-5">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Round</h3>
				</div>
				<div class="box-body text-center">
					<div class="mt-img-bg-demo">
						<img class="mt-rounded-img mt-img-responsive" src="https://via.placeholder.com/800x800.png" alt="">
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="mt-row">
		<div class="mt-col-xs-12">
			<h3 class="section-title">Figures</h3>
		</div>
		<div class="mt-col-xs-7">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">5:3</h3>
				</div>
				<div class="box-body text-center">
					<figure class="mt-figure">
						<img class="mt-img-responsive" src="https://via.placeholder.com/800x500.png" alt="">
						<figcaption class="mt-figcaption">Fig.1</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<div class="mt-col-xs-5">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">1x1</h3>
				</div>
				<div class="box-body text-center">
					<figure class="mt-figure">
						<img class="mt-img-responsive" src="https://via.placeholder.com/800x800.png" alt="">
						<figcaption class="mt-figcaption">Fig.2</figcaption>
					</figure>
				</div>
			</div>
		</div>

		<div class="mt-col-xs-7">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">4:3</h3>
				</div>
				<div class="box-body text-center">
					<figure class="mt-figure">
						<img class="mt-img-responsive" src="https://via.placeholder.com/800x600.png" alt="">
						<figcaption class="mt-figcaption">Fig.3</figcaption>
					</figure>
				</div>
			</div>
		</div>

		<div class="mt-col-xs-5">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Round</h3>
				</div>
				<div class="box-body text-center">
					<figure class="mt-figure">
						<img class="mt-rounded-img mt-img-responsive" src="https://via.placeholder.com/800x800.png" alt="">
						<figcaption class="mt-figcaption">Fig.4</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</div>
