<div class="page-header">
    <h2 class="title-sm">Inputs & Textareas</h2>
</div>
<div class="page-body">
    <div class="section" id="list-input-textarea">
        <h3 class="section-title">
            Inputs & Textarea Used
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima veniam,
                fugit itaque, velit alias eos fuga officiis iste ratione dolor voluptatibus placeat nesciunt error molestias
                voluptate deleniti hic.</p>
        </h3>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">Input size default</h3>
        </div>
        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Text Inputs
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-form-group">
                        <input type="text" class="mt-form-control mt-input-style mt-size-md" placeholder="Placeholder">
                    </div>
                    <div class="mt-form-group">
                        <input type="text" class="mt-form-control mt-input-blue mt-size-md" placeholder="Focus">
                    </div>
                    <div class="mt-form-group">
                        <input type="text" class="mt-form-control mt-input-style mt-size-md" placeholder="Value" value="Value">
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-error">
                        <input type="text" class="mt-form-control mt-size-md mt-icon-input-right" placeholder="Error">
                        <i class="li-cross-circle mt-input-icon mt-input-right-icon mt-text-red"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-success">
                        <input type="text" class="mt-form-control mt-size-md mt-icon-input-right" placeholder="Success">
                        <i class="li-checkmark-circle mt-input-icon mt-input-right-icon mt-text-green"></i>
                    </div>
                    <div class="mt-form-group">
                        <input type="text" class="mt-form-control mt-input-style mt-size-md" placeholder="Disabled Input" disabled>
                    </div>
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Mytour input default--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span     class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span     class="amp_vl">"mt-form-control 
    mt-input-style mt-size-md"</span> <span     class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour input error--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span     class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span     class="amp_vl">"mt-form-control mt-input-red 
    mt-size-md mt-icon-input-right"</span> <span     class="amp_attr">placeholder=</span><span class="amp_vl">"Error"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span     class="amp_vl">"li-cross-circle mt-input-icon 
    mt-input-right-icon mt-text-red"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>
                        
<span class="amp_cm">&lt;!--Mytour input success--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-green 
    mt-size-md mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Success"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-checkmark-circle mt-input-icon 
    mt-input-right-icon mt-text-green"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour disable input--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
    mt-size-md"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Disabled Input"</span> disabled&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre>
</div>
                </div>
            </div>
        </div>

        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        With Icon
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-left" placeholder="Placeholder">
                        <i class="li-calendar-empty mt-input-icon mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-blue mt-size-md mt-icon-input-left" placeholder="Focus">
                        <i class="li-calendar-empty mt-input-icon mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-left" placeholder="Value" value="Value">
                        <i class="li-user mt-input-icon mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-error">
                        <input type="email" class="mt-form-control mt-size-md mt-icon-input-left mt-icon-input-right" placeholder="Error">
                        <i class="li-cross-circle mt-input-icon mt-input-right-icon mt-text-red"></i>
                        <i class="li-calendar-empty mt-input-icon mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-success">
                        <input type="email" class="mt-form-control mt-size-md mt-icon-input-left mt-icon-input-right" placeholder="Success">
                        <i class="li-checkmark-circle mt-input-icon mt-input-right-icon mt-text-green"></i>
                        <i class="li-user mt-input-icon mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-left" placeholder="Disabled Input" disabled>
                        <i class="li-calendar-empty mt-input-icon mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"> 
<span class="amp_cm">&lt;!--Mytour input with icon default--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
    mt-size-md mt-icon-input-left"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-calendar-empty mt-input-icon mt-input-left-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour error input with icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-red mt-size-md 
    mt-icon-input-left mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Error"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-cross-circle mt-input-icon mt-input-right-icon mt-text-red"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-calendar-empty mt-input-icon mt-input-left-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour success input with icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-green mt-size-md 
    mt-icon-input-left mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Success"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-checkmark-circle mt-input-icon mt-input-right-icon mt-text-green"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-user mt-input-icon mt-input-left-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre>
</div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        With Icon Left Side<br>
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right" placeholder="Placeholder">
                        <i class="li-magnifier mt-input-icon mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-blue mt-size-md mt-icon-input-right" placeholder="Focus">
                        <i class="li-magnifier mt-input-icon mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right" placeholder="Value" value="Value">
                        <i class="li-magnifier mt-input-icon mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-error">
                        <input type="email" class="mt-form-control mt-size-md mt-icon-input-right" placeholder="Error">
                        <i class="li-magnifier mt-input-icon mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-success">
                        <input type="email" class="mt-form-control mt-size-md mt-icon-input-right" placeholder="Success">
                        <i class="li-magnifier mt-input-icon mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-md mt-icon-input-right" placeholder="Disabled Input" disabled>
                        <i class="li-magnifier mt-input-icon mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>               
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour input with left icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style mt-size-md 
    mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour error input with left icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span    class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-red mt-size-md 
    mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Error"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour success input with left icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-green mt-size-md 
    mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Success"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon mt-input-right-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre>
</div>
                </div>
            </div>
        </div>
    </div>

        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title box-header-title">
                        Custom Field<br>
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-form-group mt-form-group-icon">
                        <div class="mt-input-group mt-input-group-left">
                            <i class="li-user"></i>
                            <input type="text" class="mt-form-control mt-input-style mt-size-md" placeholder="Placeholder">
                        </div>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <div class="mt-input-group mt-input-group-right">
                            <input type="text" class="mt-form-control mt-input-style mt-size-md" placeholder="Amount">
                            <div class="select-container">
                                <select class="mt-list-option mt-size-md">
                                    <option value="4">VND</option>
                                    <option value="0">USD</option>
                                    <option value="1">EUR</option>
                                    <option value="2">GBP</option>
                                    <option value="3">JPY</option>
                                </select>
                            </div>
                        </div>
                        <i class="li-chevron-down mt-input-dropdown-icon"></i>
                    </div>

                    <div class="mt-form-group mt-form-group-icon">
                        <div class="mt-input-group mt-input-group-right">
                            <input type="text" class="mt-form-control mt-input-style mt-size-md icon-bg-input-right" placeholder="Value" value="96.69">
                            <i class="li-percent"></i>
                        </div>
                    </div>
                    <div class="customize-touchpsin">
                        <input class="mt-form-control mt-input-style mt-size-md" type="text" name="touch-spin-df">
                    </div>
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour input group left icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-group mt-input-group-left"</span>&gt;</span>
        <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-user"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
        <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
        mt-size-md"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour input group selection--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-group mt-input-group-right"</span>&gt;</span>
        <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
        mt-size-md"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Amount"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"select-container"</span>&gt;</span>
            <span class="amp_tag">&lt;select <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-option mt-size-md"</span>&gt;</span>
                <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"4"</span>&gt;</span>VND<span class="amp_tag">&lt;/option&gt;</span>
                <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"0"</span>&gt;</span>USD<span class="amp_tag">&lt;/option&gt;</span>
                <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"1"</span>&gt;</span>EUR<span class="amp_tag">&lt;/option&gt;</span>
                <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"2"</span>&gt;</span>GBP<span class="amp_tag">&lt;/option&gt;</span>
                <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"3"</span>&gt;</span>JPY<span class="amp_tag">&lt;/option&gt;</span>
            <span class="amp_tag">&lt;/select&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-chevron-down mt-input-dropdown-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour input group right icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-group mt-input-group-right"</span>&gt;</span>
        <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style mt-size-md 
        icon-bg-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Value"</span> <span class="amp_attr">value=</span><span class="amp_vl">"96.69"</span>&gt;</span>
        <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-percent"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;

<span class="amp_cm">&lt;!-- touchspin form input --&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"customize-touchpsin"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style mt-size-md"</span> <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">name=</span><span class="amp_vl">"touch-spin-df"</span>&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre>
</div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">Text input with label</h3>
        </div>

        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="mt-form-group mt-form-group-icon">
                        <label class="mt-label-default" for="lb-1">Label</label>
                        <input type="text" id="lb-1" class="mt-form-control mt-input-style mt-size-md" placeholder="Placeholder">
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <label class="mt-label-default" for="lb-5">Label</label>
                        <input type="text" id="lb-5" class="mt-form-control mt-input-blue mt-size-md" placeholder="Placeholder" value="Focused">
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <label class="mt-label-default" for="lb-2">Label</label>
                        <input type="text" id="lb-2" class="mt-form-control mt-input-style mt-size-md" placeholder="Placeholder" value="Value">
                        <span class="mt-input-validated-text mt-font-desc mt-text-blueberry-light-10">This is required feild</span>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-success">
                        <label class="mt-label-default" for="lb-3">Label</label>
                        <input type="text" id="lb-3" class="mt-form-control mt-size-md" placeholder="Placeholder" value="Correct Value">
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-success">
                        <label class="mt-label-default" for="lb-4">Label</label>
                        <input type="text" id="lb-4" class="mt-form-control mt-size-md" placeholder="Placeholder" value="Correct Value">
                        <span class="mt-input-validated-text mt-font-desc">Positive Message</span>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-error">
                        <label class="mt-label-default" for="lb-6">Label</label>
                        <input type="text" id="lb-6" class="mt-form-control mt-size-md" placeholder="Placeholder" value="Wrong Message">
                        <span class="mt-input-validated-text mt-font-desc">Error validated</span>
                    </div>
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Default input with label--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-1"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-1"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
    mt-size-md"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Default input with label and validated text--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-2"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-2"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
    mt-size-md"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span> <span class="amp_attr">value=</span><span class="amp_vl">"Value"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-validated-text mt-font-desc mt-text-blueberry-light-10"</span>&gt;</span>
    This is required feild<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Input with label<span class="amp_df">,</span> green border--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-3"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-3"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-green 
    mt-size-md"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span> <span class="amp_attr">value=</span><span class="amp_vl">"Correct Value"</span>&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Input with label<span class="amp_df">,</span> green border and green validated text --&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-4"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-4"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-green 
    mt-size-md"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span> <span class="amp_attr">value=</span><span class="amp_vl">"Correct Value"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-validated-text mt-font-desc mt-text-green"</span>&gt;</span>
    Positive Message<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Input with label<span class="amp_df">,</span> red border and red validated text and red text color --&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-6"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-6"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-red 
    mt-size-md mt-text-red error"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span> <span class="amp_attr">value=</span><span class="amp_vl">"Wrong Message"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-validated-text mt-font-desc mt-text-red"</span>&gt;</span>
    Error validated<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre>
</div>
                </div>
            </div>
        </div>

        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="mt-h3 box-header-title">Textarea</h3>
                </div>
                <div class="box-body">
                    <div class="mt-form-group">
                        <textarea class="mt-textarea" minlength="40" name="" id="textarea-5" cols="30" rows="5"></textarea>
                    </div>
                    <div class="mt-form-group">
                        <label class="mt-label-default" for="textarea-6">Label</label>
                        <textarea class="mt-textarea" minlength="40" name="" id="textarea-6" cols="30" rows="5"></textarea>
                    </div>
                    <div class="mt-form-group mt-validated-error">
                        <label class="mt-label-default" for="textarea-3">Label</label>
                        <textarea class="mt-textarea mt-text-red" minlength="40" name="" id="textarea-3" cols="20" rows="5"></textarea>
                    </div>
                    <div class="mt-form-group">
                        <label class="mt-label-default" for="textarea-1">Label</label>
                        <textarea class="mt-textarea" minlength="40" name="" id="textarea-1" cols="30" rows="5" disabled></textarea>
                    </div>
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Textarea--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group"</span>&gt;</span>
    <span class="amp_tag">&lt;textarea <span class="amp_attr">class=</span><span class="amp_vl">"mt-textarea"</span> <span class="amp_attr">minlength=</span><span class="amp_vl">"40"</span> <span class="amp_attr">name=</span><span class="amp_vl">""</span> <span class="amp_attr">
    id=</span><span class="amp_vl">"textarea-5"</span> <span class="amp_attr">cols=</span><span class="amp_vl">"30"</span> <span class="amp_attr">rows=</span><span class="amp_vl">"5"</span>&gt;</span><span class="amp_tag">&lt;/textarea&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Textarea with label--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"textarea-6"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;textarea <span class="amp_attr">class=</span><span class="amp_vl">"mt-textarea"</span> <span class="amp_attr">minlength=</span><span class="amp_vl">"40"</span> <span class="amp_attr">name=</span><span class="amp_vl">""</span> <span class="amp_attr">
    id=</span><span class="amp_vl">"textarea-6"</span> <span class="amp_attr">cols=</span><span class="amp_vl">"30"</span> <span class="amp_attr">rows=</span><span class="amp_vl">"5"</span>&gt;</span><span class="amp_tag">&lt;/textarea&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Error Textarea with Lable--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"textarea-3"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;textarea <span class="amp_attr">class=</span><span class="amp_vl">"mt-textarea mt-text-red mt-input-red"</span> <span class="amp_attr">minlength=</span><span class="amp_vl">"40"</span> <span class="amp_attr">
    name=</span><span class="amp_vl">""</span> <span class="amp_attr">id=</span><span class="amp_vl">"textarea-3"</span> <span class="amp_attr">cols=</span><span class="amp_vl">"20"</span> <span class="amp_attr">rows=</span><span class="amp_vl">"5"</span>&gt;</span><span class="amp_tag">&lt;/textarea&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Disabled Textarea--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"textarea-1"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;textarea <span class="amp_attr">class=</span><span class="amp_vl">"mt-textarea"</span> <span class="amp_attr">minlength=</span><span class="amp_vl">"40"</span> <span class="amp_attr">name=</span><span class="amp_vl">""</span> <span class="amp_attr">
    id=</span><span class="amp_vl">"textarea-1"</span> <span class="amp_attr">cols=</span><span class="amp_vl">"30"</span> <span class="amp_attr">rows=</span><span class="amp_vl">"5"</span> disabled&gt;</span><span class="amp_tag">&lt;/textarea&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                    </div>
                </div>
            </div>
        </div>

        <!----------------------------- Large size --------------------------->
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">Input size Large</h3>
        </div>
        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3  class="box-header-title">
                        Text Inputs
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-lg" placeholder="Placeholder">
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-blue mt-size-lg" placeholder="Focus">
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-lg" placeholder="Value" value="Value">
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-error">
                        <input type="email" class="mt-form-control mt-size-lg mt-icon-input-right" placeholder="Error">
                        <i class="li-cross-circle mt-input-icon-lg mt-input-right-icon mt-text-red"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-success">
                        <input type="email" class="mt-form-control mt-size-lg mt-icon-input-right" placeholder="Success">
                        <i class="li-checkmark-circle mt-input-icon-lg mt-input-right-icon mt-text-green"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-lg" placeholder="Disabled Input" disabled>
                    </div>
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large input default--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
    mt-size-lg"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour large input error--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control 
    mt-size-lg mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Error"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-cross-circle mt-input-icon-lg
    mt-input-right-icon mt-text-red"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour large input success--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control 
    mt-size-lg mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Success"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-checkmark-circle mt-input-icon-lg 
    mt-input-right-icon mt-text-green"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre>
</div>
                </div>
            </div>
        </div>
    
        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        With Icon
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-lg mt-icon-input-left" placeholder="Placeholder">
                        <i class="li-calendar-empty mt-input-icon-lg mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-blue mt-size-lg mt-icon-input-left" placeholder="Focus">
                        <i class="li-calendar-empty mt-input-icon-lg mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-lg mt-icon-input-left" placeholder="Value" value="Value">
                        <i class="li-user mt-input-icon-lg mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-error">
                        <input type="email" class="mt-form-control mt-size-lg mt-icon-input-left mt-icon-input-right" placeholder="Error">
                        <i class="li-cross-circle mt-input-icon-lg mt-input-right-icon mt-text-red"></i>
                        <i class="li-calendar-empty mt-input-icon-lg mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-success">
                        <input type="email" class="mt-form-control mt-size-lg mt-icon-input-left " placeholder="Success">
                        <i class="li-checkmark-circle mt-input-icon-lg mt-input-right-icon mt-text-green"></i>
                        <i class="li-user mt-input-icon-lg mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-lg mt-icon-input-left" placeholder="Disabled Input" disabled>
                        <i class="li-calendar-empty mt-input-icon-lg mt-input-left-icon mt-input-icon-opacity"></i>
                    </div>
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large input with icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
    mt-size-lg mt-icon-input-left"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-calendar-empty mt-input-icon-lg mt-input-left-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour large error input with icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-red 
    mt-size-lg mt-icon-input-left mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Error"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-cross-circle mt-input-icon-lg mt-input-right-icon mt-text-red"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-calendar-empty mt-input-icon-lg mt-input-left-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour large succes input with icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-green 
    mt-size-lg mt-icon-input-left "</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Success"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-checkmark-circle mt-input-icon-lg 
    mt-input-right-icon mt-text-green"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-user mt-input-icon-lg mt-input-left-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>
</pre>
</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-row">
        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        With Right Icon
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-lg mt-icon-input-right" placeholder="Placeholder">
                        <i class="li-magnifier mt-input-icon-lg mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-blue mt-size-lg mt-icon-input-right" placeholder="Focus">
                        <i class="li-magnifier mt-input-icon-lg mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-lg mt-icon-input-right" placeholder="Value" value="Value">
                        <i class="li-magnifier mt-input-icon-lg mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-error">
                        <input type="email" class="mt-form-control mt-size-lg mt-icon-input-right" placeholder="Error">
                        <i class="li-magnifier mt-input-icon-lg mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-success">
                        <input type="email" class="mt-form-control mt-size-lg mt-icon-input-right" placeholder="Success">
                        <i class="li-magnifier mt-input-icon-lg mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <input type="text" class="mt-form-control mt-input-style mt-size-lg mt-icon-input-right" placeholder="Disabled Input" disabled>
                        <i class="li-magnifier mt-input-icon-lg mt-input-right-icon mt-input-icon-opacity"></i>
                    </div>
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large input with left icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
    mt-size-lg mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon-lg mt-input-right-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour large error input with left icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-red 
    mt-size-lg mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Error"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon-lg mt-input-right-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour large successinput with left icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"email"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-green 
    mt-size-lg mt-icon-input-right"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Success"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-magnifier mt-input-icon-lg mt-input-right-icon mt-input-icon-opacity"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>
</pre>
</div>
                </div>
            </div>
        </div>
    
        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Custom Field
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-form-group mt-form-group-icon">
                        <div class="mt-input-group mt-input-group-left">
                            <i class="li-user"></i>
                            <input type="text" class="mt-form-control mt-input-style mt-size-lg" placeholder="Placeholder">
                        </div>
                    </div>

                    <div class="mt-form-group mt-form-group-icon">
                        <div class="mt-input-group mt-input-group-right">
                            <input type="text" class="mt-form-control mt-input-style mt-size-lg" placeholder="Focus">
                            <div class="select-container">
                                <select class="mt-list-option mt-size-lg">
                                    <option value="4">VND</option>
                                    <option value="0">USD</option>
                                    <option value="1">EUR</option>
                                    <option value="2">GBP</option>
                                    <option value="3">JPY</option>
                                </select>
                            </div>
                        </div>
                        <i class="li-chevron-down mt-input-dropdown-icon"></i>
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <div class="mt-input-group mt-input-group-right">
                            <input type="text" class="mt-form-control mt-input-style mt-size-lg" placeholder="Value" value="96.69">
                            <i class="li-percent"></i>
                        </div>
                    </div>
                    <div class="customize-touchpsin">
                        <input class="mt-form-control mt-input-style mt-size-lg" type="text" name="touch-spin-lg">
                    </div>
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large input group left icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-group mt-input-group-left"</span>&gt;</span>
        <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-user"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
        <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
        mt-size-lg"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour large input group selection--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-group mt-input-group-right"</span>&gt;</span>
        <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style mt-size-lg"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Focus"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"select-container"</span>&gt;</span>
            <span class="amp_tag">&lt;select <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-option mt-size-lg"</span>&gt;</span>
                <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"4"</span>&gt;</span>VND<span class="amp_tag">&lt;/option&gt;</span>
                <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"0"</span>&gt;</span>USD<span class="amp_tag">&lt;/option&gt;</span>
                <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"1"</span>&gt;</span>EUR<span class="amp_tag">&lt;/option&gt;</span>
                <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"2"</span>&gt;</span>GBP<span class="amp_tag">&lt;/option&gt;</span>
                <span class="amp_tag">&lt;option <span class="amp_attr">value=</span><span class="amp_vl">"3"</span>&gt;</span>JPY<span class="amp_tag">&lt;/option&gt;</span>
            <span class="amp_tag">&lt;/select&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-chevron-down mt-input-dropdown-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour large input group right icon--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-group mt-input-group-right"</span>&gt;</span>
        <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
        mt-size-lg"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Value"</span> <span class="amp_attr">value=</span><span class="amp_vl">"96.69"</span>&gt;</span>
        <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-percent"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;

<span class="amp_cm">&lt;!-- touchspin form input --&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"customize-touchpsin"</span>&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style mt-size-lg"</span> <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">name=</span><span class="amp_vl">"touch-spin-lg"</span>&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre>
</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">Text input with label large</h3>
        </div>
        <div class="mt-col-sm-12 mt-col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="mt-form-group mt-form-group-icon">
                        <label class="mt-label-default" for="lb-1">Label</label>
                        <input type="text" id="lb-1" class="mt-form-control mt-input-style mt-size-lg" placeholder="Placeholder">
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <label class="mt-label-default" for="lb-5">Label</label>
                        <input type="text" id="lb-5" class="mt-form-control mt-input-blue mt-size-lg" placeholder="Placeholder" value="Focused">
                    </div>
                    <div class="mt-form-group mt-form-group-icon">
                        <label class="mt-label-default" for="lb-2">Label</label>
                        <input type="text" id="lb-2" class="mt-form-control mt-input-style mt-size-lg" placeholder="Placeholder" value="Value">
                        <span class="mt-input-validated-text mt-font-desc mt-text-blueberry-light-10">This is required feild</span>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-success">
                        <label class="mt-label-default" for="lb-3">Label</label>
                        <input type="text" id="lb-3" class="mt-form-control mt-size-lg" placeholder="Placeholder" value="Correct Value">
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-success">
                        <label class="mt-label-default" for="lb-4">Label</label>
                        <input type="text" id="lb-4" class="mt-form-control mt-size-lg" placeholder="Placeholder" value="Correct Value">
                        <span class="mt-input-validated-text mt-font-desc">Positive Message</span>
                    </div>
                    <div class="mt-form-group mt-form-group-icon mt-validated-error">
                        <label class="mt-label-default" for="lb-6">Label</label>
                        <input type="text" id="lb-6" class="mt-form-control mt-size-lg" placeholder="Placeholder" value="Wrong Message">
                        <span class="mt-input-validated-text mt-font-desc">Error validated</span>
                    </div>
                    <br>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large input width label--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-1"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-1"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
    mt-size-lg"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span>&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour large input width label and validated text--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-2"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-2"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-style 
    mt-size-lg"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span> <span class="amp_attr">value=</span><span class="amp_vl">"Value"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-validated-text mt-font-desc 
    mt-text-blueberry-light-10"</span>&gt;</span>This is required feild<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Large input with label<span class="amp_df">,</span> green border--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-3"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-3"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-green 
    mt-size-lg"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span> <span class="amp_attr">value=</span><span class="amp_vl">"Correct Value"</span>&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Large input with label<span class="amp_df">,</span> green border and green validated text --&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-4"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-4"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-green 
    mt-size-lg"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span> <span class="amp_attr">value=</span><span class="amp_vl">"Correct Value"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-validated-text mt-font-desc 
    mt-text-green"</span>&gt;</span>Positive Message<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Large input with label<span class="amp_df">,</span> red border and red validated text and red text color --&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-group mt-form-group-icon"</span>&gt;</span>
    <span class="amp_tag">&lt;label <span class="amp_attr">class=</span><span class="amp_vl">"mt-label-default"</span> <span class="amp_attr">for=</span><span class="amp_vl">"lb-6"</span>&gt;</span>Label<span class="amp_tag">&lt;/label&gt;</span>
    <span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">id=</span><span class="amp_vl">"lb-6"</span> <span class="amp_attr">class=</span><span class="amp_vl">"mt-form-control mt-input-red 
    mt-size-lg mt-text-red error"</span> <span class="amp_attr">placeholder=</span><span class="amp_vl">"Placeholder"</span> <span class="amp_attr">value=</span><span class="amp_vl">"Wrong Message"</span>&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-input-validated-text mt-font-desc 
    mt-text-red"</span>&gt;</span>Error validated<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    $(document).ready(function(){
        $("input[name='touch-spin-df']").TouchSpin({
            min: 0,
            max: 500,
            buttondown_class: "btn li-circle-minus",
            buttonup_class: "btn li-plus-circle"
        });
        $("input[name='touch-spin-lg']").TouchSpin({
            min: 0,
            max: 500,
            buttondown_class: "btn btn-lg li-circle-minus",
            buttonup_class: "btn btn-lg li-plus-circle"
        });
    })
</script>