<div class="page-header">
	<h2 class="title-sm">Labels & Alerts</h2>
</div>
<div class="page-body">
	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Labels</h3>
				</div>
				<div class="box-body">
					<h2 class="mt-h2">
						<code>mt-label-green</code>
						<span class="pull-right mt-label mt-label-size mt-label-green">mt-label</span>
					</h2>
					<h2 class="mt-h2">
						<code>mt-label-blue</code>
						<span class="pull-right mt-label mt-label-size mt-label-blue">mt-label</span>
					</h2>
					<h2 class="mt-h2">
						<code>mt-label-red</code>
						<span class="pull-right mt-label mt-label-size mt-label-red">mt-label</span>
					</h2>
					<h2 class="mt-h2">
						<code>mt-label-blueberry</code>
						<span class="pull-right mt-label mt-label-size mt-label-blueberry">mt-label</span>
					</h2>
					<h2 class="mt-h2">
						<code>mt-label-orange</code>
						<span class="pull-right mt-label mt-label-size mt-label-orange">mt-label</span>
					</h2>
					<h2 class="mt-h2">
						<code>mt-label-gray</code>
						<span class="pull-right mt-label mt-label-size mt-label-gray">mt-label</span>
					</h2>
					<h2 class="mt-h2">
						<code>mt-label-gray-dark</code>
						<span class="pull-right mt-label mt-label-size mt-label-gray-dark">mt-label</span>
					</h2>

<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Mytour label green--&gt;</span>
<span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-label mt-label-size mt-label-green"</span>&gt;</span>mt-label<span class="amp_tag">&lt;/span&gt;</span>

<span class="amp_cm">&lt;!--Mytour label blue--&gt;</span>
<span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-label mt-label-size mt-label-blue"</span>&gt;</span>mt-label<span class="amp_tag">&lt;/span&gt;</span>

<span class="amp_cm">&lt;!--Mytour label red--&gt;</span>
<span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-label mt-label-size mt-label-red"</span>&gt;</span>mt-label<span class="amp_tag">&lt;/span&gt;</span>

<span class="amp_cm">&lt;!--Mytour label blueberry--&gt;</span>
<span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-label mt-label-size mt-label-blueberry"</span>&gt;</span>mt-label<span class="amp_tag">&lt;/span&gt;</span>

<span class="amp_cm">&lt;!--Mytour label gray--&gt;</span>
<span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-label mt-label-size mt-label-gray"</span>&gt;</span>mt-label<span class="amp_tag">&lt;/span&gt;</span>

<span class="amp_cm">&lt;!--Mytour label gray-dark--&gt;</span>
<span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-label mt-label-size mt-label-gray-dark"</span>&gt;</span>mt-label<span class="amp_tag">&lt;/span&gt;</span>
</pre></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-row">
		<div class="mt-col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-header-title">Alerts</h3>
				</div>
				<div class="box-body">
					<div class="mt-alert mt-alert-success">
						<i class="mt-alert-close li-cross"></i>
						<div class="mt-alert-content">
							Success! This is positive notification.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus vel quod, commodi, tempore possimus asperiores aliquid vitae iste ratione nobis totam officia, fugit incidunt rerum. Aliquam iste quisquam vitae sunt!
						</div>
					</div>
					<div class="mt-alert mt-alert-info">
						<i class="mt-alert-close li-cross"></i>
						<div class="mt-alert-content">
							Success! This is positive notification.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus vel quod, commodi, tempore possimus asperiores aliquid vitae iste ratione nobis totam officia, fugit incidunt rerum. Aliquam iste quisquam vitae sunt!
						</div>
					</div>
					<div class="mt-alert mt-alert-warning">
						<i class="mt-alert-close li-cross"></i>
						<div class="mt-alert-content">
							Success! This is positive notification.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus vel quod, commodi, tempore possimus asperiores aliquid vitae iste ratione nobis totam officia, fugit incidunt rerum. Aliquam iste quisquam vitae sunt!
						</div>
					</div>
					<div class="mt-alert mt-alert-danger">
						<i class="mt-alert-close li-cross"></i>
						<div class="mt-alert-content">
							Success! This is positive notification.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus vel quod, commodi, tempore possimus asperiores aliquid vitae iste ratione nobis totam officia, fugit incidunt rerum. Aliquam iste quisquam vitae sunt!
						</div>
					</div>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Mytour label success--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-alert mt-alert-success"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span     class="amp_vl">"li-checkmark-circle"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>Success! This is positive notification.
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span     class="amp_vl">"mt-alert-close li-cross"</span>&gt;</span><span     class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour label info--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-alert mt-alert-info"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span     class="amp_vl">"li-notification-circle"</span>&gt;</span><span     class="amp_tag">&lt;/i&gt;</span>All servers are now running smoothly again! Thanks.
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span     class="amp_vl">"mt-alert-close li-cross"</span>&gt;</span><span     class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour label warning--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-alert mt-alert-warning"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span     class="amp_vl">"li-notification-circle"</span>&gt;</span><span     class="amp_tag">&lt;/i&gt;</span>Warning. Loading of this page taking a way too long.
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span     class="amp_vl">"mt-alert-close li-cross"</span>&gt;</span><span     class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour label danger--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-alert mt-alert-danger"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span     class="amp_vl">"li-cross-circle"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>Error. Can’t connect to the platform.
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span     class="amp_vl">"mt-alert-close li-cross"</span>&gt;</span><span     class="amp_tag">&lt;/i&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre>
</div>
				</div>
			</div>
		</div>
	</div>
</div>