<div class="page-header">
    <h2 class="title-sm">Item Lists</h2>
</div>
<div class="page-body">
    <div class="section" id="listCards">
        <h3 class="section-title">
            Lists
            <p class="sub-title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima veniam, fugit itaque, velit alias eos
                fuga officiis iste ratione dolor voluptatibus placeat nesciunt error molestias voluptate deleniti hic.
            </p>
        </h3>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Horizontal Lists</h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12">
                            <div class="mt-list mt-list-style mt-list-default">
                                <div class="mt-list-left">
                                    <img class="mt-list-img" src="./theme/images/ui-img/3x4.png" alt="card-img">
                                </div>
                                <div class="mt-list-body">
                                    <h6 class="mt-h6 mt-list-body-sub-title mt-text-blueberry-light-20">Starting from $522</h6>
                                    <h5 class="mt-h5 mt-list-body-title">One Commercial Street Apartment</h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quae Ut enim ad minim veniamg, Rerum quae Ut enim ad minim veniamg, Rerum quae Ut enim ad minim veniamg,</p>
                                </div>
                            </div>
                            <br>
                        </div>

                    
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour horizontal list--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-list"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-left"</span>&gt;</span>
        <span class="amp_tag">&lt;img <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-img"</span> <span class="amp_attr">src=</span><span class="amp_vl">"./theme/images/ui-img/3x4.png"</span> <span class="amp_attr">alt=</span><span class="amp_vl">"card-img"</span>&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-body"</span>&gt;</span>
        <span class="amp_tag">&lt;h6 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h6 mt-list-body-sub-title mt-text-blueberry-light-20"</span>&gt;</span>
        Starting from $522<span class="amp_tag">&lt;/h6&gt;</span>
        <span class="amp_tag">&lt;h5 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h5 mt-list-body-title"</span>&gt;</span>One Commercial Street Apartment<span class="amp_tag">&lt;/h5&gt;</span>
        <span class="amp_tag">&lt;p&gt;</span>Lorem ipsum<span class="amp_df">,</span> dolor sit amet consectetur adipisicing elit. 
        Rerum quae Ut enim ad minim veniamg<span class="amp_df">,</span> Rerum quae Ut enim ad minim veniamg<span class="amp_df">,</span> 
        Rerum quae Ut enim ad minim veniamg<span class="amp_df">,</span><span class="amp_tag">&lt;/p&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <!-- <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                        <h3 class="box-header-title">Vertical Lists</h3> 
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-5 mt-col-xs-12">
                            <div class="mt-list-vt">
                                <img class="mt-list-img-vt" src="./theme/images/ui-img/4x3.png" alt="card-img">
                                <div class="mt-list-body-vt">
                                    <h6 class="mt-h6 mt-list-sub-title-vt mt-text-blueberry-light-10">Starting from $522</h6>
                                    <h5 class="mt-h5 mt-list-title-vt">One Commercial Street Apartment</h5>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour vertical list--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-vt"</span>&gt;</span>
    <span class="amp_tag">&lt;img <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-img-vt"</span> <span class="amp_attr">src=</span><span class="amp_vl">"./theme/images/ui-img/4x3.png"</span> <span class="amp_attr">alt=</span><span class="amp_vl">"card-img"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-body-vt"</span>&gt;</span>
        <span class="amp_tag">&lt;h6 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h6 mt-list-sub-title-vt mt-text-blueberry-light-10"</span>&gt;</span>
        Starting from $522<span class="amp_tag">&lt;/h6&gt;</span>
        <span class="amp_tag">&lt;h5 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h5 mt-list-title-vt"</span>&gt;</span>One Commercial Street Apartment<span class="amp_tag">&lt;/h5&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Vertical Lists</h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12 mt-col-sm-4 ">
                            <div class="mt-list-vt">
                                <img class="mt-list-img-vt" src="./theme/images/ui-img/1.5x2.png" alt="img-card-demo">
                                <div class="mt-list-body-vt">
                                    <h5 class="mt-h5 mt-list-sub-title">Villas</h5>
                                    <h6 class="mt-h6 mt-list-title mt-text-blueberry-light-10">150 properties</h6>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="mt-col-xs-12">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour vertical list--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-vt"</span>&gt;</span>
    <span class="amp_tag">&lt;img <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-img-vt"</span> <span class="amp_attr">src=</span><span class="amp_vl">"./theme/images/ui-img/1.5x2.png"</span> <span class="amp_attr">alt=</span><span class="amp_vl">"img-card-demo"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-list-body-vt"</span>&gt;</span>
        <span class="amp_tag">&lt;h5 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h5 mt-list-sub-title"</span>&gt;</span>Villas<span class="amp_tag">&lt;/h5&gt;</span>
        <span class="amp_tag">&lt;h6 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h6 mt-list-title mt-text-blueberry-light-10"</span>&gt;</span>
        150 properties<span class="amp_tag">&lt;/h6&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>