<div class="page-header">
    <h2 class="title-sm">Modals</h2>
</div>
<div class="page-body">
    <div class="section" id="tooltip">
        <h3 class="section-title">
            Modals
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima
                veniam,
                fugit itaque, velit alias eos fuga officiis iste ratione dolor voluptatibus placeat nesciunt error
                molestias
                voluptate deleniti hic.</p>
        </h3>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <!-- <h3 class="section-title">Large Modal</h3> -->
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Large Modal</h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12">
                            <div class="mt-modal mt-modal-lg">
                                <i class="li-cross2 mt-modal-close-icon"></i>
                                <div class="mt-modal-header">
                                    <h4 class="mt-h4 mt-modal-title">Large modal</h4>
                                    <p class="mt-modal-sub-title">Width 900px | Media width: > 1080px</p>
                                </div>
                                <div class="mt-modal-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa optio illo, exercitationem aperiam accusamus natus
                                        non
                                        eum enim incidunt dolore accusantium in magnam nesciunt officiis maiores distinctio ullam dignissimos. Dolor.
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam tenetur, odio quam ratione ducimus perspiciatis
                                        cumque explicabo aliquam! Aperiam facilis officiis rerum quasi numquam veritatis corporis dolorem omnis ipsum?
                                        At?</p>
                                </div>
                                <div class="mt-modal-footer">
                                    <button class="mt-btn mt-size-md mt-btn-text-gray mt-modal-btn-style">Skip</button>
                                    <button class="mt-btn mt-size-md mt-btn-blue mt-modal-btn-style">Next</button>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour large modal is responsive modal the width will change 
when the viewport is changed--&gt;</span>

<span class="amp_cm">&lt;!--Mytour large modal--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal mt-modal-lg"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-cross2 mt-modal-close-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-header"</span>&gt;</span>
        <span class="amp_tag">&lt;h4 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h4 mt-modal-title"</span>&gt;</span>Large modal<span class="amp_tag">&lt;/h4&gt;</span>
        <span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-sub-title"</span>&gt;</span>Width 900px | Media width: > 1080px<span class="amp_tag">&lt;/p&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-body"</span>&gt;</span>
        <span class="amp_tag">&lt;p&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa optio illo<span class="amp_df">,</span> 
        exercitationem aperiam accusamus natus non eum enim incidunt dolore accusantium 
        in magnam nesciunt officiis maiores distinctio ullam dignissimos. Dolor.
        Lorem ipsum dolor sit<span class="amp_df">,</span> amet consectetur adipisicing elit. Totam tenetur<span class="amp_df">,</span>
        odio quam ratione ducimus perspiciatis cumque explicabo aliquam! Aperiam 
        facilis officiis rerum quasi numquam veritatis corporis dolorem omnis ipsum?
        At?<span class="amp_tag">&lt;/p&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-footer"</span>&gt;</span>
        <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-text-gray mt-modal-btn-style"</span>&gt;</span>Skip<span class="amp_tag">&lt;/button&gt;</span>
        <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-blue mt-modal-btn-style"</span>&gt;</span>Next<span class="amp_tag">&lt;/button&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="section-title">
                <h3>Medium Modal</h3>
            </div>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <!-- <h3 class="box-header-title">Medium Modal</h3> -->
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12">
                            <div class="mt-modal mt-modal-md">
                                <i class="li-cross2 mt-modal-close-icon"></i>
                                <div class="mt-modal-header">
                                    <h4 class="mt-h4 mt-modal-title">Medium modal</h4>
                                    <p class="mt-modal-sub-title">Width 600px | Media width: > 768px</p>
                                </div>
                                <div class="mt-modal-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa optio illo, exercitationem aperiam accusamus natus
                                        non
                                        eum enim incidunt dolore accusantium in magnam nesciunt officiis maiores distinctio ullam dignissimos. Dolor.
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam tenetur, odio quam ratione ducimus perspiciatis
                                        cumque explicabo aliquam! Aperiam facilis officiis rerum quasi numquam veritatis corporis dolorem omnis ipsum?
                                        At?</p>
                                </div>
                                <div class="mt-modal-footer">
                                    <button class="mt-btn mt-size-md mt-btn-text-gray mt-modal-btn-style">Skip</button>
                                    <button class="mt-btn mt-size-md mt-btn-blue mt-modal-btn-style">Next</button>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour medium modal is responsive modal the width will change when 
the viewport is changed--&gt;</span>

<span class="amp_cm">&lt;!--Mytour medium modal--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal mt-modal-md"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-cross2 mt-modal-close-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-header"</span>&gt;</span>
        <span class="amp_tag">&lt;h4 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h4 mt-modal-title"</span>&gt;</span>Medium modal<span class="amp_tag">&lt;/h4&gt;</span>
        <span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-sub-title"</span>&gt;</span>Width 600px | Media width: > 768px<span class="amp_tag">&lt;/p&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-body"</span>&gt;</span>
        <span class="amp_tag">&lt;p&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa optio illo<span class="amp_df">,</span> 
        exercitationem aperiam accusamus natus non eum enim incidunt dolore accusantium 
        in magnam nesciunt officiis maiores distinctio ullam dignissimos. Dolor.
        Lorem ipsum dolor sit<span class="amp_df">,</span> amet consectetur adipisicing elit. 
        Totam tenetur<span class="amp_df">,</span> odio quam ratione ducimus perspiciatis cumque explicabo aliquam! 
        Aperiam facilis officiis rerum quasi numquam veritatis corporis dolorem omnis ipsum?
        At?<span class="amp_tag">&lt;/p&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-footer"</span>&gt;</span>
        <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-text-gray mt-modal-btn-style"</span>&gt;</span>Skip<span class="amp_tag">&lt;/button&gt;</span>
        <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-blue mt-modal-btn-style"</span>&gt;</span>Next<span class="amp_tag">&lt;/button&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="section-title">
                <!-- <h3>Small Modal</h3> -->
            </div>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Small Modal</h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12">
                            <div class="mt-modal mt-modal-xs">
                                <i class="li-cross2 mt-modal-close-icon"></i>
                                <div class="mt-modal-header">
                                    <h4 class="mt-h4 mt-modal-title">Small modal</h4>
                                    <p class="mt-modal-sub-title">Width 300px | All Viewport</p>
                                </div>
                                <div class="mt-modal-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa optio illo, exercitationem aperiam accusamus natus
                                        non
                                        eum enim incidunt dolore accusantium in magnam nesciunt officiis maiores distinctio ullam dignissimos. Dolor.
                                        </p>
                                </div>
                                <div class="mt-modal-footer">
                                    <button class="mt-btn mt-size-md mt-btn-text-gray mt-modal-btn-style">Skip</button>
                                    <button class="mt-btn mt-size-md mt-btn-blue mt-modal-btn-style">Next</button>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour small modal is fixed width on all viewport--&gt;</span>

<span class="amp_cm">&lt;!--Mytour medium modal--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal mt-modal-xs"</span>&gt;</span>
    <span class="amp_tag">&lt;i <span class="amp_attr">class=</span><span class="amp_vl">"li-cross2 mt-modal-close-icon"</span>&gt;</span><span class="amp_tag">&lt;/i&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-header"</span>&gt;</span>
        <span class="amp_tag">&lt;h4 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h4 mt-modal-title"</span>&gt;</span>Small modal<span class="amp_tag">&lt;/h4&gt;</span>
        <span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-sub-title"</span>&gt;</span>Width 300px | All Viewport<span class="amp_tag">&lt;/p&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-body"</span>&gt;</span>
        <span class="amp_tag">&lt;p&gt;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Ipsa optio illo<span class="amp_df">,</span> exercitationem aperiam accusamus natus non eum enim incidunt dolore 
        accusantium in magnam nesciunt officiis maiores distinctio ullam dignissimos. Dolor.
        <span class="amp_tag">&lt;/p&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-modal-footer"</span>&gt;</span>
        <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-text-gray mt-modal-btn-style"</span>&gt;</span>Skip<span class="amp_tag">&lt;/button&gt;</span>
        <span class="amp_tag">&lt;button <span class="amp_attr">class=</span><span class="amp_vl">"mt-btn mt-size-md mt-btn-blue mt-modal-btn-style"</span>&gt;</span>Next<span class="amp_tag">&lt;/button&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>