<div class="page-header">
    <h2 class="title-sm">Navbar</h2>
</div>
<div class="page-body">
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">Navbar</h3>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Navbar</h3>
                </div>
                <div class="box-body">
                    <nav class="mt-navbar mt-navbar-style mt-navbar-default">
                        <div class="mt-container-fluid">
                            <div class="mt-navbar-header">
                                <a href="" class="mt-navbar-brand"><img src="./theme/images/50x50.png" alt="brand"></a>
                            </div>
                            <div class="mt-navbar-collapse">
                                    <button class="mt-btn mt-size-md mt-btn-text-blue">Link 1</button>
                                    <button class="mt-btn mt-size-md mt-btn-text-gray">Link 2</button>
                                <form class="mt-form-inline" action="">
                                    <div class="mt-form-group">
                                        <label class="mt-default-label" for=""></label>
                                        <input type="password" class="mt-form-control 
                                                                                                                                            mt-input-style mt-size-md"
                                            placeholder="Search">
                                    </div>
                                    <button class="mt-btn mt-size-md mt-btn-blue" type="submit">Search</button>
                                    
                                </form>
                                <ul class="mt-nav mt-nav-blue mt-nav-size mt-nav-inline mt-navbar-right">
                                    <li class="mt-nav-item" role="presentation" class="active"><a class="mt-nav-link" href="#">Home</a></li>
                                    <li class="mt-nav-item" role="presentation"><a class="mt-nav-link" href="#">Profile</a></li>
                                    <li class="mt-nav-item" role="presentation"><a class="mt-nav-link" href="#">Messages</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>