<div class="page-header">
    <h2 class="title-sm">Navs</h2>
</div>
<div class="page-body">
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">Nav tab</h3>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Nav Tab</h3>
                </div>
                <div class="box-body">
                    <ul class="mt-nav mt-nav-style mt-nav-size mt-nav-inline">
                        <li class="mt-nav-item" role="presentation" class="active"><a class="mt-nav-link" href="#">Home</a></li>
                        <li class="mt-nav-item" role="presentation"><a class="mt-nav-link" href="#">Profile</a></li>
                        <li class="mt-nav-item" role="presentation"><a class="mt-nav-link" href="#">Messages</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Nav Pill</h3>
                </div>
                <div class="box-body">
                    <ul class="mt-nav mt-nav-blue mt-nav-size mt-nav-inline">
                        <li class="mt-nav-item" role="presentation" class="active"><a class="mt-nav-link" href="#">Home</a></li>
                        <li class="mt-nav-item" role="presentation"><a class="mt-nav-link" href="#">Profile</a></li>
                        <li class="mt-nav-item" role="presentation"><a class="mt-nav-link" href="#">Messages</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Nav Pill Vertical</h3>
                </div>
                <div class="box-body">
                    <ul class="mt-nav mt-nav-blue mt-nav-size">
                        <li class="mt-nav-item" role="presentation" class="active"><a class="mt-nav-link" href="#">Home</a></li>
                        <li class="mt-nav-item" role="presentation"><a class="mt-nav-link" href="#">Profile</a></li>
                        <li class="mt-nav-item" role="presentation"><a class="mt-nav-link" href="#">Messages</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Nav Justified</h3>
                </div>
                <div class="box-body">
                    <ul class="mt-nav mt-nav-blue mt-nav-size mt-nav-justified mt-nav-center">
                        <li class="mt-nav-item" role="presentation" class="active"><a class="mt-nav-link" href="#">Home</a></li>
                        <li class="mt-nav-item" role="presentation"><a class="mt-nav-link" href="#">Profile</a></li>
                        <li class="mt-nav-item" role="presentation"><a class="mt-nav-link" href="#">Messages</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>