<div class="page-header">
    <h2 class="title-sm">Tables</h2>
</div>
<div class="page-body">
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Normal Table
                    </h3>
                </div>
                <div class="box-body">
                    <table class="mt-table mt-table-style mt-table-size">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Price</th>
                                <th>Paid by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Minie Ferguson
                                </td>
                                <td>Easy One Page Dashboard</td>
                                <td>$150</td>
                                <td>3 Days Ago</td>
                            </tr>
                            <tr>
                                <td>
                                    Minie Ferguson
                                </td>
                                <td>Easy One Page Dashboard</td>
                                <td>$150</td>
                                <td>3 Days Ago</td>
                            </tr>
                            <tr>
                                <td>
                                    Minie Ferguson
                                </td>
                                <td>Easy One Page Dashboard</td>
                                <td>$150</td>
                                <td>3 Days Ago</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="amp_pre amp_pre_default">
                        <abbr
                            title="Hyper Text Markup Language"
                            class="amp_tag_abbr"
                            >HTML</abbr
                        >
                        <pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Mytour default table--&gt;</span>
<span class="amp_tag">&lt;table <span class="amp_attr">class=</span><span class="amp_vl">"mt-table mt-table-style mt-table-size"</span>&gt;</span>
    <span class="amp_tag">&lt;thead&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Name<span class="amp_tag">&lt;/th&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Subject<span class="amp_tag">&lt;/th&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Price<span class="amp_tag">&lt;/th&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Paid by<span class="amp_tag">&lt;/th&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
    <span class="amp_tag">&lt;/thead&gt;</span>
    <span class="amp_tag">&lt;tbody&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Minie Ferguson<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Easy One Page Dashboard<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>$150<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>3 Days Ago<span class="amp_tag">&lt;/td&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Minie Ferguson<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Easy One Page Dashboard<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>$150<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>3 Days Ago<span class="amp_tag">&lt;/td&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Minie Ferguson<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Easy One Page Dashboard<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>$150<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>3 Days Ago<span class="amp_tag">&lt;/td&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
    <span class="amp_tag">&lt;/tbody&gt;</span>
<span class="amp_tag">&lt;/table&gt;</span></pre>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Background Header Table
                    </h3>
                </div>
                <div class="box-body">
                    <table
                        class="mt-table mt-table-style mt-table-size mt-table-head-bg"
                    >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Price</th>
                                <th>Paid by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img
                                        class="img-round"
                                        src="./theme/images/50x50.png"
                                        alt="round image"
                                    />
                                    Minie Ferguson
                                </td>
                                <td>Easy One Page Dashboard</td>
                                <td>$150</td>
                                <td>3 Days Ago</td>
                            </tr>
                            <tr>
                                <td>
                                    Minie Ferguson
                                </td>
                                <td>Easy One Page Dashboard</td>
                                <td>$150</td>
                                <td>
                                    <span
                                        class="mt-label mt-label-size mt-label-green"
                                        >1 Days Ago</span
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Minie Ferguson
                                </td>
                                <td>Easy One Page Dashboard</td>
                                <td>
                                    <button
                                        class="mt-btn mt-size-md mt-btn-blue"
                                    >
                                        Action
                                    </button>
                                </td>
                                <td>3 Days Ago</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="amp_pre amp_pre_default">
                        <abbr
                            title="Hyper Text Markup Language"
                            class="amp_tag_abbr"
                            >HTML</abbr
                        >
                        <pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Mytour table with head background--&gt;</span>
<span class="amp_tag">&lt;table <span class="amp_attr">class=</span><span class="amp_vl">"mt-table mt-table-style mt-table-size mt-table-head-bg"</span>&gt;</span>
    <span class="amp_tag">&lt;thead&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Name<span class="amp_tag">&lt;/th&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Subject<span class="amp_tag">&lt;/th&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Price<span class="amp_tag">&lt;/th&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Paid by<span class="amp_tag">&lt;/th&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
    <span class="amp_tag">&lt;/thead&gt;</span>
    <span class="amp_tag">&lt;tbody&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Minie Ferguson<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Easy One Page Dashboard<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>$150<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>3 Days Ago<span class="amp_tag">&lt;/td&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Minie Ferguson<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Easy One Page Dashboard<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>$150<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>3 Days Ago<span class="amp_tag">&lt;/td&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Minie Ferguson<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Easy One Page Dashboard<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>$150<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>3 Days Ago<span class="amp_tag">&lt;/td&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
    <span class="amp_tag">&lt;/tbody&gt;</span>
<span class="amp_tag">&lt;/table&gt;</span></pre>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Striped Table
                    </h3>
                </div>
                <div class="box-body">
                    <table
                        class="mt-table mt-table-style mt-table-size mt-table-striped"
                    >
                        <thead>
                            <tr>
                                <th>
                                    <label class="lb-checkbox">
                                        <input
                                            type="checkbox"
                                            name="checkbox"
                                        />
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th>Name</th>
                                <th>Activated</th>
                                <th>Label</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="lb-checkbox">
                                        <input
                                            type="checkbox"
                                            name="checkbox"
                                        />
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>Item #1</td>
                                <td>3 Days Ago</td>
                                <td>
                                    <span
                                        class="mt-label mt-label-size mt-label-gray-dark"
                                        >DUE IN 1 WEEK</span
                                    >
                                </td>
                                <td>
                                    <div class="mt-dropdown-btn-group">
                                        <button
                                            class="mt-btn mt-size-md mt-btn-green mt-dropdown-btn"
                                        >
                                            Action
                                        </button>
                                        <button
                                            class="mt-btn mt-size-md mt-btn-green mt-caret-green js_click1"
                                        >
                                            <i class="li-chevron-down"></i>
                                        </button>
                                        <div
                                            class="mt-dropdown-menu js_toggle1"
                                        >
                                            <a class="mt-dropdown-item" href="#"
                                                >Action</a
                                            >
                                            <a class="mt-dropdown-item" href="#"
                                                >Another</a
                                            >
                                            <a class="mt-dropdown-item" href="#"
                                                >Something</a
                                            >
                                            <div
                                                class="mt-dropdown-divider"
                                            ></div>
                                            <a class="mt-dropdown-item" href="#"
                                                >Separated</a
                                            >
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function() {
                                            $(".js_click1").click(function() {
                                                $(".js_toggle1").toggle();
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="lb-checkbox">
                                        <input
                                            type="checkbox"
                                            name="checkbox"
                                        />
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>Item #2</td>
                                <td>3 Days Ago</td>
                                <td>
                                    <span
                                        class="mt-label mt-label-size mt-label-blue"
                                        >DUE IN 1 WEEK</span
                                    >
                                </td>
                                <td>
                                    <div class="mt-dropdown-btn-group">
                                        <button
                                            class="mt-btn mt-size-md mt-btn-orange mt-dropdown-btn"
                                        >
                                            Action
                                        </button>
                                        <button
                                            class="mt-btn mt-size-md mt-btn-orange mt-caret-orange js_click2"
                                        >
                                            <i class="li-chevron-down"></i>
                                        </button>
                                        <div
                                            class="mt-dropdown-menu js_toggle2"
                                        >
                                            <a class="mt-dropdown-item" href="#"
                                                >Action</a
                                            >
                                            <a class="mt-dropdown-item" href="#"
                                                >Another</a
                                            >
                                            <a class="mt-dropdown-item" href="#"
                                                >Something</a
                                            >
                                            <div
                                                class="mt-dropdown-divider"
                                            ></div>
                                            <a class="mt-dropdown-item" href="#"
                                                >Separated</a
                                            >
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function() {
                                            $(".js_click2").click(function() {
                                                $(".js_toggle2").toggle();
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="lb-checkbox">
                                        <input
                                            type="checkbox"
                                            name="checkbox"
                                        />
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>Item #3</td>
                                <td>4 Days Ago</td>
                                <td>
                                    <span
                                        class="mt-label mt-label-size mt-label-red"
                                        >DUE IN 1 WEEK</span
                                    >
                                </td>
                                <td>
                                    <div class="mt-dropdown-btn-group">
                                        <button
                                            class="mt-btn mt-size-md mt-btn-red mt-dropdown-btn"
                                        >
                                            Action
                                        </button>
                                        <button
                                            class="mt-btn mt-size-md mt-btn-red mt-caret-red js_click3"
                                        >
                                            <i class="li-chevron-down"></i>
                                        </button>
                                        <div
                                            class="mt-dropdown-menu js_toggle3"
                                        >
                                            <a class="mt-dropdown-item" href="#"
                                                >Action</a
                                            >
                                            <a class="mt-dropdown-item" href="#"
                                                >Another</a
                                            >
                                            <a class="mt-dropdown-item" href="#"
                                                >Something</a
                                            >
                                            <div
                                                class="mt-dropdown-divider"
                                            ></div>
                                            <a class="mt-dropdown-item" href="#"
                                                >Separated</a
                                            >
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function() {
                                            $(".js_click3").click(function() {
                                                $(".js_toggle3").toggle();
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="amp_pre amp_pre_default">
                    <abbr
                        title="Hyper Text Markup Language"
                        class="amp_tag_abbr"
                        >HTML</abbr
                    >
                    <pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!--Mytour striped table--&gt;</span>
<span class="amp_tag">&lt;table <span class="amp_attr">class=</span><span class="amp_vl">"mt-table mt-table-style mt-table-size mt-table-striped"</span>&gt;</span>
    <span class="amp_tag">&lt;thead&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Name<span class="amp_tag">&lt;/th&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Subject<span class="amp_tag">&lt;/th&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Price<span class="amp_tag">&lt;/th&gt;</span>
            <span class="amp_tag">&lt;th&gt;</span>Paid by<span class="amp_tag">&lt;/th&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
    <span class="amp_tag">&lt;/thead&gt;</span>
    <span class="amp_tag">&lt;tbody&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Minie Ferguson<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Easy One Page Dashboard<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>$150<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>3 Days Ago<span class="amp_tag">&lt;/td&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Minie Ferguson<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Easy One Page Dashboard<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>$150<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>3 Days Ago<span class="amp_tag">&lt;/td&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
        <span class="amp_tag">&lt;tr&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Minie Ferguson<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>Easy One Page Dashboard<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>$150<span class="amp_tag">&lt;/td&gt;</span>
            <span class="amp_tag">&lt;td&gt;</span>3 Days Ago<span class="amp_tag">&lt;/td&gt;</span>
        <span class="amp_tag">&lt;/tr&gt;</span>
    <span class="amp_tag">&lt;/tbody&gt;</span>
<span class="amp_tag">&lt;/table&gt;</span></pre>
                </div>
            </div>
        </div>

        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Responsive Table
                    </h3>
                </div>
                <div class="box-body">
                    <div class="mt-table-responsive">
                        <table class="mt-table mt-table-style mt-table-size">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Subject</th>
                                    <th>Price</th>
                                    <th>Paid by</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Minie Ferguson
                                    </td>
                                    <td>Easy One Page Dashboard</td>
                                    <td>$150</td>
                                    <td>3 Days Ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        Minie Ferguson
                                    </td>
                                    <td>Easy One Page Dashboard</td>
                                    <td>$150</td>
                                    <td>3 Days Ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        Minie Ferguson
                                    </td>
                                    <td>Easy One Page Dashboard</td>
                                    <td>$150</td>
                                    <td>3 Days Ago</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">
                        Hover Table
                    </h3>
                </div>
                <div class="box-body">
                    <table
                        class="mt-table mt-table-style mt-table-size mt-table-hover"
                    >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Price</th>
                                <th>Paid by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Minie Ferguson
                                </td>
                                <td>Easy One Page Dashboard</td>
                                <td>$150</td>
                                <td>3 Days Ago</td>
                            </tr>
                            <tr>
                                <td>
                                    Minie Ferguson
                                </td>
                                <td>Easy One Page Dashboard</td>
                                <td>$150</td>
                                <td>3 Days Ago</td>
                            </tr>
                            <tr>
                                <td>
                                    Minie Ferguson
                                </td>
                                <td>Easy One Page Dashboard</td>
                                <td>$150</td>
                                <td>3 Days Ago</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
