<div class="page-header">
    <h2 class="title-sm">Tabs</h2>
</div>
<div class="page-body">
    <div class="section" id="tab">
        <h3 class="section-title">
            Tabs
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima
                veniam,
                fugit itaque, velit alias eos fuga officiis iste ratione dolor voluptatibus placeat nesciunt error
                molestias
                voluptate deleniti hic.</p>
        </h3>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="box-header-title">
                Tabs with border bottom
            </h3>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3>Tab default</h3>
                    <br>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-6 mt-col-xs-12">
                            <div class="mt-tab mt-tab-border mt-tab-style mt-tab-size">
                                <div class="mt-tab-body">
                                    <div class="mt-tab-item mt-tab-active">
                                        <a class="mt-tab-link" href="#">Tab 1</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 2</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour tab--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab mt-tab-border"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-body"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item mt-tab-active"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 1<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 2<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"##"</span>&gt;</span>Tab 3<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Tab with right arrow</h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-6 mt-col-xs-12">
                            <div class="mt-tab mt-tab-border mt-tab-style mt-tab-size">
                                <div class="mt-tab-body mt-tab-icon-right">
                                    <div class="mt-tab-item mt-tab-active">
                                        <a class="mt-tab-link" href="#">Tab 1</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 2</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 3</a>
                                    </div>
                                    <div class="mt-tab-arrow mt-tab-arrow-right">
                                        <li class="li-chevron-right mt-tab-icon"></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour tab with right arrow--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab mt-tab-border"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-body mt-tab-icon-right"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item mt-tab-active"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 1<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 2<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 3<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item-icon mt-tab-item-icon-right"</span>&gt;</span>
            <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"li-chevron-right"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Tab with left arrow</h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-6 mt-col-xs-12">
                            <div class="mt-tab mt-tab-border mt-tab-style mt-tab-size">
                                <div class="mt-tab-body mt-tab-icon-left">
                                    <div class="mt-tab-item mt-tab-active">
                                        <a class="mt-tab-link" href="#">Tab 1</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 2</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 3</a>
                                    </div>
                                    <div class="mt-tab-arrow mt-tab-arrow-left">
                                        <li class="li-chevron-left mt-tab-icon"></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour tab with right arrow--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab mt-tab-border"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-body mt-tab-icon-left"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item mt-tab-active"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 1<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 2<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 3<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item-icon mt-tab-item-icon-left"</span>&gt;</span>
            <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"li-chevron-left"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="section-title">
                <h3>Tabs Withour Border Bottom</h3>
            </div>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Tabs default</h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-6 col xs-12">
                            <div class="mt-tab mt-tab-style mt-tab-size">
                                <div class="mt-tab-body">
                                    <div class="mt-tab-item mt-tab-active">
                                        <a class="mt-tab-link" href="#">Tab 1</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 2</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour tab without border default--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-body"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item mt-tab-active"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 1<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 2<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 3<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Tab with right arrow</h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-6 mt-col-xs-12">
                            <div class="mt-tab mt-tab-style mt-tab-size">
                                <div class="mt-tab-body mt-tab-icon-right">
                                    <div class="mt-tab-item mt-tab-active">
                                        <a class="mt-tab-link" href="#">Tab 1</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 2</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 3</a>
                                    </div>
                                    <div class="mt-tab-arrow mt-tab-arrow-right">
                                        <li class="li-chevron-right mt-tab-icon"></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour tab with right arrow--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-body mt-tab-icon-right"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item mt-tab-active"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 1<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 2<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 3<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item-icon mt-tab-item-icon-right"</span>&gt;</span>
            <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"li-chevron-right"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Tab with left arrow</h3>
                </div>
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-sm-6 mt-col-xs-12">
                            <div class="mt-tab mt-tab-style mt-tab-size">
                                <div class="mt-tab-body mt-tab-icon-left">
                                    <div class="mt-tab-item mt-tab-active">
                                        <a class="mt-tab-link" href="#">Tab 1</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 2</a>
                                    </div>
                                    <div class="mt-tab-item">
                                        <a class="mt-tab-link" href="#">Tab 3</a>
                                    </div>
                                    <div class="mt-tab-arrow mt-tab-arrow-left">
                                        <li class="li-chevron-left mt-tab-icon"></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour tab with left arrow--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-body mt-tab-icon-left"</span>&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item mt-tab-active"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 1<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 2<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item"</span>&gt;</span>
            <span class="amp_tag">&lt;a <span class="amp_attr">href=</span><span class="amp_vl">"#"</span>&gt;</span>Tab 3<span class="amp_tag">&lt;/a&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
        <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tab-item-icon mt-tab-item-icon-left"</span>&gt;</span>
            <span class="amp_tag">&lt;li <span class="amp_attr">class=</span><span class="amp_vl">"li-chevron-left"</span>&gt;</span><span class="amp_tag">&lt;/li&gt;</span>
        <span class="amp_tag">&lt;/div&gt;</span>
    <span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
