<div class="page-header">
    <h2 class="title-sm">Tooltips</h2>
</div>
<div class="page-body">
    <div class="section" id="tooltip">
        <h3 class="section-title">
            Tooltips
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima
                veniam,
                fugit itaque, velit alias eos fuga officiis iste ratione dolor voluptatibus placeat nesciunt error
                molestias
                voluptate deleniti hic.</p>
        </h3>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">
                Tooltips Default
            </h3>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12 mt-col-sm-3">
                            <div class="mt-tooltip mt-tooltip-style mt-tooltip-default mt-tooltip-top">Tooltip on top
                                <span class="mt-tooltip-content"> Tooltip Top</span>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 mt-col-sm-3">
                            <div class="mt-tooltip mt-tooltip-style mt-tooltip-default mt-tooltip-bottom">Tooltip on bottom
                                <span class="mt-tooltip-content"> Tooltip Bottom</span>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 mt-col-sm-3">
                            <div class="mt-tooltip mt-tooltip-style mt-tooltip-default mt-tooltip-right">Tooltip on right
                                <span class="mt-tooltip-content"> Tooltip Top</span>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 mt-col-sm-3">
                            <div class="mt-tooltip mt-tooltip-style mt-tooltip-default mt-tooltip-left">Tooltip on left
                                <span class="mt-tooltip-content"> Tooltip Top</span>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour tooltip top--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-dark mt-tooltip-top"</span>&gt;</span>Tooltip on top
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-content"</span>&gt;</span> Tooltip Top<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour tooltip bottom--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-dark mt-tooltip-bottom"</span>&gt;</span>Tooltip on bottom
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-content"</span>&gt;</span> Tooltip Bottom<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour tooltip right--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-dark mt-tooltip-right"</span>&gt;</span>Tooltip on right
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-content"</span>&gt;</span> Tooltip Top<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour tooltip left--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-dark mt-tooltip-left"</span>&gt;</span>Tooltip on left
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-content"</span>&gt;</span> Tooltip Top<span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br> <br>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <h3 class="section-title">
                Tooltips Dark
            </h3>
        </div>
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="mt-row">
                        <div class="mt-col-xs-12 mt-col-sm-3">
                            <div class="mt-tooltip mt-tooltip-default mt-tooltip-dark mt-tooltip-top">Tooltip on top
                                <span class="mt-tooltip-content"> Tooltip Top</span>
                                <span class=" mt-tooltip-arrow-border"></span>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 mt-col-sm-3">
                            <div class="mt-tooltip mt-tooltip-default mt-tooltip-dark mt-tooltip-bottom">Tooltip on bottom
                                <span class="mt-tooltip-content"> Tooltip Bottom</span>
                                <span class=" mt-tooltip-arrow-border"></span>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 mt-col-sm-3">
                            <div class="mt-tooltip mt-tooltip-default mt-tooltip-dark mt-tooltip-right">Tooltip on right
                                <span class="mt-tooltip-content"> Tooltip Top</span>
                                <span class=" mt-tooltip-arrow-border"></span>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 mt-col-sm-3">
                            <div class="mt-tooltip mt-tooltip-default mt-tooltip-dark mt-tooltip-left">Tooltip on left
                                <span class="mt-tooltip-content"> Tooltip Top</span>
                                <span class=" mt-tooltip-arrow-border"></span>
                            </div>
                        </div>
                        <div class="mt-col-xs-12 demo-modal-doc-margin">
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour tooltip top--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip mt-tooltip-top"</span>&gt;</span>Tooltip on top
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-content"</span>&gt;</span> Tooltip Top<span class="amp_tag">&lt;/span&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">" mt-tooltip-arrow-border"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour tooltip bottom--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip mt-tooltip-bottom"</span>&gt;</span>Tooltip on bottom
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-content"</span>&gt;</span> Tooltip Bottom<span class="amp_tag">&lt;/span&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">" mt-tooltip-arrow-border"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour tooltip right--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip mt-tooltip-right"</span>&gt;</span>Tooltip on right
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-content"</span>&gt;</span> Tooltip Top<span class="amp_tag">&lt;/span&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">" mt-tooltip-arrow-border"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Mytour tooltip left--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip mt-tooltip-left"</span>&gt;</span>Tooltip on left
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">"mt-tooltip-content"</span>&gt;</span> Tooltip Top<span class="amp_tag">&lt;/span&gt;</span>
    <span class="amp_tag">&lt;span <span class="amp_attr">class=</span><span class="amp_vl">" mt-tooltip-arrow-border"</span>&gt;</span><span class="amp_tag">&lt;/span&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>