<div class="page-header">
    <h2 class="title-sm">Typography</h2>
</div>
<div class="page-body">
    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Heading desktop</h3>
                </div>
                <div class="box-body">
                    <h1 class="mt-h1">
                        <code>mt-h1</code>
                        <span class="pull-right">Mytour heading 40px</span></h1>
                    <h2 class="mt-h2">
                        <code>mt-h2</code>
                        <span class="pull-right">Mytour heading 32px</span></h2>
                    <h3 class="mt-h3">
                        <code>mt-h3</code>
                        <span class="pull-right">Mytour heading 28px</span></h3>
                    <h4 class="mt-h4">
                        <code>mt-h4</code>
                        <span class="pull-right">Mytour heading 24px</span></h4>
                    <h5 class="mt-h5">
                        <code>mt-h5</code> 
                        <span class="pull-right">Mytour heading 18px</span></h5>
                    <h6 class="mt-h6">
                        <code>mt-h6</code>
                        <span class="pull-right">Mytour heading 16px</span></h6>
                </div>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour headings--&gt;</span>
<span class="amp_tag">&lt;h1 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h1"</span>&gt;</span>Mytour heading 40px<span class="amp_tag">&lt;/h1&gt;</span>
<span class="amp_tag">&lt;h2 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h2"</span>&gt;</span>Mytour heading 32px<span class="amp_tag">&lt;/h2&gt;</span>
<span class="amp_tag">&lt;h3 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h3"</span>&gt;</span>Mytour heading 28px<span class="amp_tag">&lt;/h3&gt;</span>
<span class="amp_tag">&lt;h4 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h4"</span>&gt;</span>Mytour heading 24px<span class="amp_tag">&lt;/h4&gt;</span>
<span class="amp_tag">&lt;h5 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h5"</span>&gt;</span>Mytour heading 18px<span class="amp_tag">&lt;/h5&gt;</span>
<span class="amp_tag">&lt;h6 <span class="amp_attr">class=</span><span class="amp_vl">"mt-h6"</span>&gt;</span>Mytour heading 16px<span class="amp_tag">&lt;/h6&gt;</span></pre></div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Alignment</h3>
                </div>
                <div class="box-body">
                    <table class="mt-table mt-table-style mt-table-size">
                        <tbody>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-left</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-left">mt-text-left</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-right</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-right">mt-text-right</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-center</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-center">mt-text-center</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-justify</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-justify">mt-text-justify</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-lowercase</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-lowercase">mt-text-lowercase</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-uppercase</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-uppercase">mt-text-uppercase</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-uppercase</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-uppercase">mt-text-uppercase</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-nowrap</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-nowrap">mt-text-nowrap</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-bold</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-bold">mt-text-bold</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-normal</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-normal">mt-text-normal</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="mt-h5"><code>mt-text-italic</code></h5>
                                </td>
                                <td colspan="4">
                                    <p class="mt-text-italic">mt-text-italic</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour alignments--&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-left"</span>&gt;</span>mt-text-left<span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-right"</span>&gt;</span>mt-text-right<span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-center"</span>&gt;</span>mt-text-center<span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-justify"</span>&gt;</span>mt-text-justify<span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-lowercase"</span>&gt;</span>mt-text-lowercase<span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-uppercase"</span>&gt;</span>MT-TEXT-UPPERCASE<span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-capitalize"</span>&gt;</span>Mt-Text-Capitalize<span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-nowrap"</span>&gt;</span>mt-text-nowrap<span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-bold"</span>&gt;</span><p class="mt-text-bold" style="display:inline-block; margin:0">mt-text-bold</p><span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-normal"</span>&gt;</span>mt-text-normal<span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-italic"</span>&gt;</span><p class="mt-text-italic" style="display:inline-block; margin:0">mt-text-italic</p><span class="amp_tag">&lt;/p&gt;</span>

                    </pre></div>
            </div>
        </div>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12 col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Blockquote</h3>
                </div>
                <div class="box-body">
                    <h5 class="mt-h5"><code>mt-blockquoe</code></h5>
                    <blockquote class="mt-blockquote">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Error earum magni recusandae fugit aut in vitae quas,
                        temporibus, reiciendis ut voluptatibus voluptates voluptatem
                        esse nostrum! Est accusantium reprehenderit nihil explicabo.
                    </blockquote>
                </div>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_tag">&lt;blockquote <span class="amp_attr">class=</span><span class="amp_vl">"mt-blockquote"</span>&gt;</span>
    Lorem ipsum dolor sit amet consectetur<span class="amp_df">, </span>adipisicing elit.
    Error earum magni recusandae fugit aut in vitae quas<span class="amp_df">,    </span>
    temporibus<span class="amp_df">,</span> reiciendis ut voluptatibus voluptates voluptatem
    esse nostrum! Est accusantium reprehenderit nihil explicabo.
<span class="amp_tag">&lt;/blockquote&gt;</span></pre></div>
            </div>
        </div>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12 col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Font size</h3>
                </div>
                <div class="box-body">
                    <p class="mt-text-df">
                        <code>mt-text-df</code>
                        <span class="pull-right">
                            Mytour text size default 14px
                        </span>
                    </p>
                    <p class="mt-text-desc">
                        <code>mt-text-desc</code>
                        <span class="pull-right">
                            Mytour description text size 12px
                        </span>
                    </p>
                    <p class="mt-text-smallest">
                        <code>mt-text-smallest</code>
                        <span class="pull-right">
                            Mytour smallest text size 10px
                        </span>
                    </p>
                </div>
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Mytour text sizes--&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-df"</span>&gt;</span>Mytour text size default 14px<span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-desc"</span>&gt;</span><p class="mt-text-desc" style="display:inline-block;margin: 0">Mytour description text size 12px</p><span class="amp_tag">&lt;/p&gt;</span>
<span class="amp_tag">&lt;p <span class="amp_attr">class=</span><span class="amp_vl">"mt-text-smallest"</span>&gt;</span><p class="mt-text-smallest"style="display:inline-block">Mytour smallest text size 10px</p><span class="amp_tag">&lt;/p&gt;</span></pre></div>
            </div>
        </div>
    </div>
        
    
    
</div>