<div class="page-header">
    <h2 class="title-sm">Value Sliders & Progress Bars</h2>
</div>
<div class="page-body">
    <div class="section" id="listCards">
        <h3 class="section-title">
            Range Sliders & Progress Bars
            <p class="sub-title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita doloribus minima veniam, fugit
                itaque, velit alias eos
                fuga officiis iste ratione dolor voluptatibus placeat nesciunt error molestias voluptate deleniti hic.
            </p>
        </h3>
    </div>

    <div class="mt-row">
        <div class="mt-col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Range Selector / Slider</h3>
                </div>
                <div class="box-body">
                    <input type="text" class="slider" id="range_25">
                    <input type="text" class="slider" id="range_26">

<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap">
<span class="amp_cm">&lt;!-- show value --&gt;</span>
<span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"slider"</span> <span class="amp_attr">id=</span><span class="amp_vl">"range_25"</span>&gt;</span>

<span class="amp_cm">&lt;!-- hide value --&gt;</span>
<span class="amp_tag">&lt;input <span class="amp_attr">type=</span><span class="amp_vl">"text"</span> <span class="amp_attr">class=</span><span class="amp_vl">"slider"</span> <span class="amp_attr">id=</span><span class="amp_vl">"range_26"</span>&gt;</span>
    
<span class="amp_cm">&lt;!--Value Selector/Slider We use Ion.RangeSlider 2.2.0. jQuery-plugin--&gt;</span>
<a href="http://ionden.com/a/plugins/ion.rangeSlider/en.html">http://ionden.com/a/plugins/ion.rangeSlider/en.html</a> </pre></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-row">
        <div class="mt-col-xs-12 mt-col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-header-title">Progress Bars</h3>
                </div>
                <div class="box-body">
                    <div class="mt-progress">
                        <div class="mt-progress-bar mt-progress-blue">
                        </div>
                    </div>
                    <div class="mt-progress mt-progress-sm">
                        <div class="mt-progress-bar-sm mt-progress-blue">
                        </div>
                    </div>
                    <div class="mt-progress">
                        <div class="mt-progress-bar mt-progress-blueberry-light">
                        </div>
                    </div>
                    <div class="mt-progress mt-progress-sm">
                        <div class="mt-progress-bar-sm mt-progress-blueberry-light">
                        </div>
                    </div>
                
<div class="amp_pre amp_pre_default"><abbr title="Hyper Text Markup Language" class="amp_tag_abbr">HTML</abbr><pre class="amp_pre_wrap"><span class="amp_cm">&lt;!--Progress bar blue default--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-progress"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-progress-bar mt-progress-blue"</span>&gt;</span><span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Progress bar blue small--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-progress mt-progress-sm"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-progress-bar-sm mt-progress-blue"</span>&gt;</span><span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Progress bar gray default--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-progress"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-progress-bar mt-progress-blueberry-light"</span>&gt;</span><span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span>

<span class="amp_cm">&lt;!--Progress bar gray small--&gt;</span>
<span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-progress mt-progress-sm"</span>&gt;</span>
    <span class="amp_tag">&lt;div <span class="amp_attr">class=</span><span class="amp_vl">"mt-progress-bar-sm mt-progress-blueberry-light"</span>&gt;</span><span class="amp_tag">&lt;/div&gt;</span>
<span class="amp_tag">&lt;/div&gt;</span></pre></div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $("#range_26").ionRangeSlider({
        type: "double",
        min: 0,
        max: 3000000,
        decorate_both: true,
        hide_from_to: true,
        hide_min_max: true
    });
    $("#range_25").ionRangeSlider({
        type: "double",
        min: 0,
        max: 3000000,
        decorate_both: true,
        hide_from_to: true,
    });
</script>