// ##### Create box #####
// You have to include create_box. if you want to use amp_box.
@include create_box; // .mt-box
// You can edit new name, If you don't like default name with .new_class_name, .new_id_name or [attribute]
// @include custom_box_name('.new_name');

// ##### Create button size #####
// You have to include default size for .amp_box
@include create_box_size; // .mt-box-size

// You can modify size if you don't like default size. But you make sure don't change default name .amp_box_size
// @include custom_box_size('.mt-box-size', 100*$rem, 20*$rem, $border_radius_df);
// Ex: @include custom_box_size('.amp_box_size', 15px, 20px, 4px);

// Or, you can create new option, new name with .new_class_name, .new_id_name or [attribute]
// @include custom_box_size('.new_name', 10*$rem, 20*$rem, $border_radius_df);
// Ex: @include custom_box_size('.new_name', 15px, 20px, 4px);

// ##### Create button style #####
// You have to include default style for .amp_box
// @include create_box_style; // .amp_box_style

// You can modify style if you don't like default style. But you make sure don't change default name .amp_box_style
// @include custom_box_style('.amp_box_style', $color_default, $text_color);
// Ex: @include custom_box_style('.amp_box_style', $color_default, $text_color);

// Or, you can create new option, new name with .new_class_name, .new_id_name or [attribute]
// @include custom_box_style('.new_name', $color_default, $text_color);
// Ex: @include custom_box_style('.new_name', $color_default, $text_color);

// You can use default options, one or many whenever you need.
@include create_box_style;
// @include box_style_option('all');
// @include box_style_option('default');
// @include box_style_option('info');
// @include box_style_option('primary');
// @include box_style_option('danger');
// @include box_style_option('success');
// @include box_style_option('warning');
