//@import "../core/variables";
@import "../core/mixins-mt";
// ##### Create button #####
// You have to include create_btn. if you want to use mt_btn.
@include create_btn; // .mt_btn
// You can edit new name, If you don't like default name with .new_class_name, .new_id_name or [attribute]
// @include custom_btn_name('.new_name');

// ##### Create button size #####
// You have to include default size for .mt_btn
@include create_btn_size; // .mt_btn_size

// You can modify size if you don't like default size. But you make sure don't change default name .mt_btn_size
// @include custom_btn_size('.mt_btn_size', ($padding_df_vertical $padding_df_horizontal), ($font_size_df), $line_height_df, $border_radius_df, $rem);
// Ex: @include custom_btn_size('.mt_btn_size', (10px 15px), 1rem, 1.5, 4px, 1px);

// Or, you can create new option, new name with .new_class_name, .new_id_name or [attribute]
// @include custom_btn_size('.mt_btn_size', ($padding_df_vertical $padding_df_horizontal), ($font_size_df), $line_height_df, $border_radius_df, $rem);
// Ex: @include custom_btn_size('.new_name', (10px 15px), 1rem, 1.5, 4px, 1px);

// You can use default options, one or many whenever you need.
// Helper
@include mt_size_option("all", 1.4);
// @include mt_size_option('size_xs');
// @include mt_size_option('size_sm');
// @include mt_size_option('size_md');
// @include mt_size_option('size-lg');
// @include custom_mt_size('.mt-size-lg', (10px 15px), 1rem, 1.5, 4px, 1px);

// ##### Create button style #####
// You have to include default style for .mt_btn
// @include create_btn_style; // .mt_btn_style

// You can modify style if you don't like default style. But you make sure don't change default name .mt_btn_style
// @include custom_btn_style('.mt_btn_style', $text_colors, $backgrounds, $border_styles, $border_colors);
// Ex: @include custom_btn_style('.mt_btn_style', #4b4b4b, #fff, solid, #ddd);

// Or, you can create new option, new name with .new_class_name, .new_id_name or [attribute]
// @include custom_btn_style('.new_name', $text_colors, $backgrounds, $border_styles, $border_colors);
// Ex: @include custom_btn_style('.new_name', #4b4b4b, #fff, solid, #ddd);

// You can use default options, one or many whenever you need.
@include btn_style_option("all");
// @include btn_style_option('blue');
// @include btn_style_option('btn-green');
// @include btn_style_option('btn-blue');
// @include btn_style_option('btn-white');
// @include btn_style_option('btn-pink');
// @include btn_style_option('btn-red');
// @include btn_style_option('btn-orange');
// @include btn_style_option('btn-outline-green');
// @include btn_style_option('btn-outline-blue');
// @include btn_style_option('btn-outline-pink');
// @include btn_style_option('btn-outline-red');
// @include btn_style_option('btn-outline-orange');
// @include btn_style_option('btn-text-blue');
// @include btn_style_option('btn-text-gray');

// @include custom_btn_style('.element_style_name', $text_color, #fff, solid, $color_default);

// ##### Dropdown Button #####
// You have to include create_dropdown. if you want to use mt_dropdown.
// @include create_dropdown;
// You can add more new name with .new_class_name, .new_id_name, [attribute]
// @include custom_dropdown('new_name', 380px, $padding_xs, (2px solid #ddd), 20px, #fff, $text_color);

// ##### Call more dropdown_menu_animation #####
// You have to include create_dropdown_animate. if you want to use mt_dropdown_animate.
// @include create_dropdown_animate;

// ##### Call more mt_btn_group #####
// You have to include create_btn_group. if you want to use mt_btn_group.
@include create_btn_group;
// You can create new option, new name with .new_class_name, .new_id_name or [attribute]
// @include custom_btn_group('.element_name', 20px);

// ##### Call mt_btn_rounded #####
// You have to include mt_btn_rounded. if you want to use mt_btn_rounded.
@include create_btn_rounded;
// You can edit new name, If you don't like default name with .new_class_name, .new_id_name or [attribute]
// @include custom_btn_rounded('.new_name', 50px);

// ##### Call all btn_circle #####
// You have to include btn_circle. if you want to use mt_btn_circle.
// @include btn_circle('all');
// Call only size btn_circle
// @include btn_circle('circle_xs');
// @include btn_circle('circle_sm');
// @include btn_circle('circle');
// @include btn_circle('circle_lg');
// You can create new option, new name with .new_class_name, .new_id_name or [attribute]
// @include custom_btn_circle($name_circle, $sizes, $font_sizes, $border_widths);
// Ex: @include custom_btn_circle('.new_name', 30px, 16px, 2px);
// @include custom_btn_rounded('class-round',50%);

// ##### Call mt_btn_block #####
@include create_btn_block;
// You can edit new name, If you don't like default name with .new_class_name, .new_id_name or [attribute]
// @include custom_btn_block('.new_name');

////////////////////////////////////////////////////////
// Create caret button left border
@include create_btn_caret("all");
//  @include create_btn_caret ('caret-green');
//  @include create_btn_caret ('caret-blue');
//  @include create_btn_caret ('caret-pink');
//  @include create_btn_caret ('caret-red');
//  @include create_btn_caret ('caret-white');

// Create dropdown button
@include create_drop_btn();

@include create_btn_disabled();
