// You have to include create_nav. if you want to use mt-nav-
@include create_nav; // .mt-nav-// You can edit new name, If you don't like default name with .new_class_name, .new_id_name or [attribute]
// @include custom_nav_name('.new_name');

// You have to include default size for .mt-nav-link
@include create_nav_size; // .mt-nav-size .mt-nav-link
// You can modify size if you don't like default size. But you make sure don't change default name .mt-nav-size
// @include custom_nav_size($name, $font_sizes, $paddings, $margins, $border_radius);
// Ex: @include custom_nav_size('.mt-nav-size', 1rem, (10px 15px), 4px);

// Or, you can create new option, new name with .new_class_name, .new_id_name or [attribute]
// @include custom_nav_size($name, $font_sizes, $paddings, $margins, $border_radius);
// Ex: @include custom_nav_size('.new_name', 1rem, (10px 15px), 4px);

// You have to include default style for .mt-nav-link or option default style
@include create_nav_style; // .mt-nav-style .mt-nav-link
// You can modify style if you don't like default style. But you make sure don't change default name .mt-nav-style
// @include custom_nav_style($name, $bg_colors, $bg_color_hovers, $bg_color_actives, $text_colors);
// Ex: @include custom_nav_style('.mt-nav-style', transparent, transparent, transparent, $color_primary);

// Or, you can create new option, new name with .new_class_name, .new_id_name or [attribute]
// @include custom_nav_style($name, $bg_colors, $bg_color_hovers, $bg_color_actives, $text_colors);
// Ex: @include custom_nav_style('.new_name', transparent, transparent, $color_primary, $color_primary);

// @include custom_nav_style('.mt-nav-pill', transparent, transparent, $color_primary, $color_primary);

// Create all options
@include nav_style_option("all");
// You can use default options, one or many whenever you need.
// Create every default option
// @include nav_style_option('blue');       //mt-nav-blue
// @include nav_style_option('red');        //mt-nav-red
// @include nav_style_option('orange');     //mt-nav-orange
// @include nav_style_option('pink');       //mt-nav-pink
// @include nav_style_option('green');      //mt-nav-green
// @include nav_style_option('blueberry');  //mt-nav-blueberry

// You can easily change theme center, right aligned, full navs ... with more options.
// You have to include create_nav_inline. if you need.
@include create_nav_inline; // .mt-nav-inline
// You can edit new name, if you don't like default name with .new_class_name, .new_id_name or [attribute]
// @include custom_nav_inline('.new_name');

// You can create position of nav by using
@include custom_nav_position_option("center"); //mt-nav-center
@include custom_nav_position_option("right"); //mt-nav-right

// You have to include create_nav_justified. if you need.
@include create_nav_justified; // .mt-nav-justified
// You can edit new name, if you don't like default name with .new_class_name
// @include custom_nav_justified('.new_name');
