// display-box
@mixin display($box) {
    display: -webkit-#{$box};
    display: -moz-#{$box};
    display: -o-#{$box};
    display: #{$box};
}

@mixin box-pack($center) {
    box-pack: $center;
    -webkit-box-pack: $center;
    -moz-box-pack: $center;
    -o-box-pack: $center;
}

@mixin box-align($center) {
    box-align: $center;
    -webkit-box-align: $center;
    -moz-box-align: $center;
    -o-box-align: $center;
}
