.Container {
    height: 0;
    overflow: hidden;
    transition: height;
}
.Entered {
    height: auto;
    visibility: visible;
}
.Hidden {
    visibility: hidden;
}
.Wrapper {
    display: flex;
}
.WrapperInner {
    width: 100%;
}
