// ##### Auto Css #####
// Setup color using for website
@mixin create_auto_color($name) {
    @each $names, $colors in ("mt-blue", $blue), ("mt-red", $red),
        ("mt-pink", $pink), ("mt-green", $green), ("mt-white", $white),
        ("mt-blueberry", $blueberry)
    {
        .#{$name}-#{$names} {
            @if $name == mt-bg {
                background-color: #{$colors};
            }
            @if $name == mt-text {
                color: #{$colors};
            }
        }
    }
}

@mixin create_auto_css($name) {
    $point: 5px;
    @each $names, $spaces in ("0", 0), ("1", $point), ("2", $point * 2),
        ("3", $point * 3), ("4", $point * 4), ("5", $point * 6),
        ("6", $point * 8)
    {
        .#{$name}-#{$names} {
            // Setup padding space
            @if $name == "mt-p" {
                padding: #{$spaces};
            }
            @if $name == "mt-p-t" {
                padding-top: #{$spaces};
            }
            @if $name == "mt-p-r" {
                padding-right: #{$spaces};
            }
            @if $name == "mt-p-b" {
                padding-bottom: #{$spaces};
            }
            @if $name == "mt-p-l" {
                padding-left: #{$spaces};
            }

            // Setup margin space
            @if $name == "mt-m" {
                margin: #{$spaces};
            }
            @if $name == "mt-m-t" {
                margin-top: #{$spaces};
            }
            @if $name == "mt-m-r" {
                margin-right: #{$spaces};
            }
            @if $name == "mt-m-b" {
                margin-bottom: #{$spaces};
            }
            @if $name == "mt-m-l" {
                margin-left: #{$spaces};
            }
        }
        // Setup all padding space
        @if $name == "mt-p-a" {
            .mt-p-#{$names} {
                padding: #{$spaces};
            }
            .mt-pt-#{$names} {
                padding-top: #{$spaces};
            }
            .mt-pr-#{$names} {
                padding-right: #{$spaces};
            }
            .mt-pb-#{$names} {
                padding-bottom: #{$spaces};
            }
            .mt-pl-#{$names} {
                padding-left: #{$spaces};
            }
        }
        // Setup all margin space
        @if $name == "mt-m-a" {
            .mt-m-#{$names} {
                margin: #{$spaces};
            }
            .mt-mt-#{$names} {
                margin-top: #{$spaces};
            }
            .mt-mr-#{$names} {
                margin-right: #{$spaces};
            }
            .mt-mb-#{$names} {
                margin-bottom: #{$spaces};
            }
            .mt-ml-#{$names} {
                margin-left: #{$spaces};
            }
        }
    }
}

// @include create_auto_css('mt-m-l');
// // @include create_auto_css(mt-p-a);

// // Call background column-rule:
// @include create_auto_color('mt-bg');
// // Call text color
// @include create_auto_color('mt-text');
