@import "../../core/variables";

// ##### CREATE ELEMENT SIZE #####
// Button, Inputs
// Custom, extend size for default name
@mixin custom_mt_size(
    $name,
    $paddings,
    $font_sizes,
    $line_heights,
    $border_radius,
    $border_widths
) {
    #{$name} {
        padding: $paddings;
        font-size: $font_sizes;
        line-height: $line_heights;
        border-radius: $border_radius;
        border-width: $border_widths;
        height: (19 * $rem + ($font_sizes - (10 * $rem)) * 5) *
            ($line_heights/$line-height-df); //10 11 12 14 16 - 19 24 29 39 49 fix height select
    }
}
// Create size default options
@mixin mt_size_option($name, $default-line-height: $line-height-df) {
    @each $names, $paddings, $font_sizes, $line_heights, $border_radius,
        $border_widths
            in (
                "size-xs",
                ($padding_xs_vertical $padding_xs_horizontal),
                ($font_size_df - 4 * $rem),
                $default-line-height,
                $border_radius-xs,
                $rem
            ),
        (
            "size-sm",
            ($padding_sm_vertical $padding_sm_horizontal),
            ($font_size_df - 2 * $rem),
            $default-line-height,
            $border_radius_df,
            $rem
        ),
        (
            "size-md",
            ($padding_df_vertical $padding_df_horizontal + (3 * $rem)),
            ($font_size_df),
            $default-line-height,
            $border_radius_df,
            $rem
        ),
        (
            "size-lg",
            ($padding_lg_vertical $padding_lg_horizontal),
            ($font_size_df + 2 * $rem),
            $default-line-height,
            $border_radius_df,
            $rem
        )
    {
        @if $name == $names {
            @include custom_mt_size(
                ".mt-#{$name}",
                $paddings,
                $font_sizes,
                $line_heights,
                $border_radius,
                $border_widths
            );
        }
        @if $name == "all" {
            @include custom_mt_size(
                ".mt-#{$names}",
                $paddings,
                $font_sizes,
                $line_heights,
                $border_radius,
                $border_widths
            );
        }
    }
}
